[2021-02-09 12:28] daniel-montalvo commented on #330
These references have been removed. These are now as they were before.

https://deploy-preview-320--wai-curricula.netlify.app/curricula/developer-modules/forms/#topic-controls-and-labels

Will close when merging.

[2021-02-09 12:30] daniel-montalvo commented on #329
Addressed in https://deploy-preview-320--wai-curricula.netlify.app/curricula/developer-modules/menus/#topic-application-menus

Will close when merging.

[2021-02-10 02:08] shawna-slh commented on #215
Lookie what I found https://github.com/w3c/wai-website/issues/216 = open issue for the <title> (which I forgot about) (and ignore that I got the H1 info wrong :-/)

[2021-02-10 08:13] #296 closed, assigned to nobody

[2021-02-10 08:13] #330 closed, assigned to nobody

[2021-02-10 08:13] #331 closed, assigned to nobody

[2021-02-10 11:40] daniel-montalvo commented on #328
I have taken a pass on modules 1-5 at
https://github.com/w3c/wai-curricula/pull/334/files/

Not sure if this is what you meant or this is going too far at this stage.

[2021-02-10 12:56] nitedog commented on #328
I was mostly referring to the newly made changes but this reads **much** better in my opinion.

PS: I blame @slhenry who made me aware of this grammatical refinement in the past... ;-)

[2021-02-10 14:07] nitedog commented on #332
Did you check of other occurrences of this issue?

[2021-02-10 14:12] nitedog commented on #329
Change square brackets "[desktop-like]" to round brackets "(desktop-like)".

[2021-02-10 14:25] daniel-montalvo commented on #329
Done.
https://wai-curricula.netlify.app/curricula/developer-modules/menus/#topic-application-menus

[2021-02-10 14:39] daniel-montalvo commented on #332
I did. There were two occurrences of this phrase.

https://github.com/w3c/wai-curricula/blob/master/content/2-7.md#l164
https://github.com/w3c/wai-curricula/blob/master/content/2-7.md#l165

In other mmodules we do have a slighly different wording to sign-post responsibilities.

https://github.com/w3c/wai-curricula/blob/master/content/2-
https://github.com/w3c/wai-curricula/blob/master/content/2-
h

[2021-02-10 14:55] daniel-montalvo commented on #332
There were two occurrences of this phrase.

* https://github.com/w3c/wai-curricula/blame/master/content/2-7.md#L164
* https://github.com/w3c/wai-curricula/blame/master/content/2-7.md#L165

Other places where we mention these shared responsibilities in teaching ideas are:

* https://github.com/w3c/wai-curricula/blame/master/content/2-1.md#L119
* https://github.com/w3c/wai-curricula/blame/master/con

[2021-02-10 15:03] #329 closed, assigned to nobody

[2021-02-10 15:07] nitedog commented on #332
Thanks for confirming!

[2021-02-10 15:07] #332 closed, assigned to nobody

[2021-02-10 16:45] daniel-montalvo commented on #316
Changed to "Using the Curricula"
https://wai-curricula.netlify.app/curricula/#using-the-curricula

[2021-02-10 16:45] #316 closed, assigned to nobody

[2021-02-13 09:29] carlosapaduarte opened #336 "[ED-low] Overview page - 'teaching modules' terminology"
The first sentence of the summary reads

I was wandering what is the most common terminology for 'teaching modules' and it seems to be 'learning modules'. Another alternative in common use is 'educational modules'. 'Learning modules' aligns better with 'learning outcomes' which is extensively used throughout the curricula.

Anyway, I don't have a strong opinion on this, so I'm happy to keep 'teach

[2021-02-13 23:00] nitedog commented on #336
Aren't "learning modules", "training modules", and such usually understood to be parts of actual courses rather than parts of curricula?

[2021-02-14 19:36] rperez030 opened #337 "[ED] [Overview page] -- Complex table for screen reader users"
In the contents section, the 4 modules and their content are presented in a complex table. The concern is that such structure can make the content unnecessarily difficult to consumed by someone using a screen reader since it cannot just be read line by line. I wonder if a more simpler structure such as a simple table or lists can be used. CSS can then be used to maintain the current visual layout.

[2021-02-16 10:53] daniel-montalvo commented on #131
This seems to have been fixed after table simplification at https://wai-curricula.netlify.com/curricula/

[2021-02-16 10:53] #131 closed, assigned to nobody

[2021-02-16 10:54] daniel-montalvo commented on #137
This seems to have been fixed after the table simplification at https://wai-curricula.netlify.com/curricula/

[2021-02-16 10:54] #137 closed, assigned to nobody

[2021-02-16 11:03] daniel-montalvo commented on #133
Table has been simplified.

* We no longer have this "Basic" row,
* We have now "Developer Modules", "Foundation Modules", and "Author |Modules" underneath the "Foundation Modules" to make it easier to relate and process.

[2021-02-16 11:03] #133 closed, assigned to nobody

[2021-02-16 11:06] daniel-montalvo commented on #166
More table refinements have been made at
https://wai-curricula.netlify.com/curricula/

Closing as this proposal is now outdated.

[2021-02-16 11:06] #166 closed, assigned to nobody

[2021-02-16 11:21] #328 closed, assigned to nobody

[2021-02-17 11:53] daniel-montalvo commented on #336
I would keep "teaching modules" as is.

While I see the point in aligning with learning outcomes, I also see a potential danger if we change. People coming to this overview page may understand "learning modules" as if these were the modules they would need to pick to learn accessibility. And I do not think we want to say that.

Closing, since you said it was not a strong concern @carlosapaduarte .

[2021-02-17 11:53] #336 closed, assigned to nobody

[2021-02-17 12:05] daniel-montalvo commented on #337
Thanks @rperez030

We tried other structures, such as simple tables or nested lists, but we dismissed them because they were not useful for the main audience purpose. We simplified the table in this new iteration, and we may eventually substitute it with interactive controls for visitors to pick the modules they want based on role or other consideration.

At the moment, we think the table allows t

[2021-02-18 13:45] daniel-montalvo commented on #337
Hey @rperez030

We finally took a pass at this. You can see a preview at
https://deploy-preview-339--wai-curricula.netlify.app/curricula/

- The Foundation Modules are no longer a table from a screen readers perspective.
- The remaining table is a table with two rows and three columns, with "Developers", "Designers", and "Authors" as column headers.

Will be closing this once merged. Feel free to

[2021-02-19 08:13] #337 closed, assigned to nobody

[2021-02-22 13:34] rperez030 commented on #337
Excellent. Thank you.

[2021-02-25 08:57] daniel-montalvo commented on #215
Hey @slhenry

This is now added, thanks to @hidde 's changes in https://github.com/w3c/wai-website-theme/pull/26

See preview at
https://wai-curricula.netlify.app/curricula

Closing. Feel free to reopen if needed.

[2021-02-25 09:02] hidde commented on #215
Hm, looks it is not comma separating as it should. Reopening, will try and add a fix as soon as possible.

[2021-02-25 14:18] shawna-slh commented on #215
Hi @daniel-montalvo

For second-level page, I see:

For third-level pages, I see:

(I know Hidde is working on the comma and staying on the same line)

I'm a bit surprised that for the second-level pages you used the long title, and for the third-level pages you used just "Curricula". I though you'd use "Curricula on Web Accessibility" in both places.

I don't feel strongly about using the long ti

[2021-02-25 14:52] hidde commented on #215
Update: the commas are now fixed.

[2021-02-25 16:32] daniel-montalvo commented on #215
Hi @slhenry

I think this long title provides more context for those coming to the resource through this overview pages for the different parts.

I think "Curricula" works well in shortening the heading, and also works well as people getting to these third-level pages will probably be more familiar with the resource than those just staying in the first and second-level overview pages. But will cha

[2021-03-19 10:47] diegonvs opened #341 "Curricula on Web Accessibility -> Introduction to Web Accessibility link is broken"
When navigating to Curricula on Web Accessibility -> Introduction to Web Accessibility link is unavailable.

See:
https://www.w3.org/WAI/curricula/introduction-to-web-accessibility/

[2021-03-19 10:58] daniel-montalvo commented on #341
Hello @diegonvs

Thanks for reaching out.

This is because we changed the name for these modules. They are now called "Foundation Modules" and you can find them at
https://www.w3.org/WAI/curricula/foundation-modules/

We think this new name better describes what these modules are about and better contextualizes this set of modules with respect to the rest of the curricula that we are developing.

[2021-03-19 11:08] diegonvs commented on #341
Great! Thanks for the quick answer @daniel-montalvo ! :)

[2021-04-12 20:27] S-Bowen opened #343 "Developer Modules - Module 7 links broken?"
Within the Developer Modules page (https://www.w3.org/WAI/curricula/developer-modules/), it looks like the links to Module 7 are slightly incorrect.

For context, the link to Module 7 goes to https://www.w3.org/curricula/developer-modules/rich-applications rather than where I think it's meant to go: https://www.w3.org/WAI/curricula/developer-modules/rich-applications

It's not a big problem but I

[2021-04-13 06:27] daniel-montalvo commented on #341
Closing, as these issues have now been solved.

[2021-04-13 06:27] #341 closed, assigned to nobody

[2021-04-15 07:54] daniel-montalvo commented on #343
Thanks for reporting this  @S-Bowen ,

This should now be fixed
https://www.w3.org/WAI/curricula/developer-modules/

[2021-04-15 07:54] #343 closed, assigned to nobody

[2021-06-16 09:44] daniel-montalvo opened #350 ""Understanding and INvolving Users" contents-- Move to Foundation Modules"
As per [EOWG minutes 11 June](https://www.w3.org/2021/06/11-eo-minutes.html#t01) and [Curricula TF minutes 15 June](https://www.w3.org/2021/06/15-wai-curricula-minutes.html#t02).

* Contents on proposed "Understanding and Involving Users" will be moved to Foundation modules. See [Straw proposal](https://wai-curricula.netlify.app/curricula/foundation-modules/understanding-and-involving-users/)
* It

[2021-07-19 18:03] sharronrush opened #352 "[Designer Module 1: Flexible Layout and Design] Unclear wording for introductory sentences"
Unclear what is meant by "explain how people with disabilities identify and distinguish user interface components based on different features, such as color, layout, spacing, and position."

[2021-07-23 18:35] sharronrush opened #353 "[Designer Module 1: Flexible Layout and Design] Awkward phrases that are hard to read and understand"
There are awkward phrases that are hard to read and have confidence that I understand them. One example:
- design user interfaces that support positioning different regions and user interface components where users expect them

Not sure I understand well enough to say this accurately but do you mean something like
- fulfill user expectations with design choices in which regions and user interface

[2021-07-25 14:58] carlosapaduarte opened #354 "[Designer Module 1: Flexible Layout and Design] Remove "alone" from second learning outcome"
The goal is to use other ways to supplement information conveyed through color. I don't think we need to use "color alone". "color" should be sufficient.

[2021-07-25 15:01] carlosapaduarte opened #355 "[Designer Module 1: Visual Design] Topic: Orientation Cues, improve legibility of second learning outcome"
I suggest to replace "text cues to convey information provided through vision only" with "text cues to convey information that otherwise would be provided through vision only". I believe this helps highlight the importance of the additional text cues.

[2021-07-25 15:02] carlosapaduarte opened #356 "[Designer Module 2: Navigation] Define "mega menu""
"mega menu" is not defined in the WAI tutorial on Menus. Would it be worth it to define it?

[2021-07-25 15:03] carlosapaduarte opened #357 "[Designer Module 2: Navigation] Topic: Menu Behaviors and Patterns, include right to left languages?"
Should we include a reference to right to left languages in the teaching ideas?

[2021-07-25 15:04] carlosapaduarte opened #358 "[Designer Module 2: Navigation] Topic: Location, fix reference to set of websites"
On first teaching idea, I believe "set of websites" should be "set of web pages"

[2021-07-25 15:05] carlosapaduarte opened #359 "[Designer Module 3: Information Design] Topic: Textual Information, fix link"
The text of the first link should reference module 2, not module 3 (the module's name is correct)

[2021-07-25 15:05] carlosapaduarte opened #360 "[Designer Module 3: Information Design] Topic: Textual Information, clarify need for reference"
It should be clear why we need to refer back to module 2

[2021-07-25 15:06] carlosapaduarte opened #361 "[Designer Module 3: Information Design] Topic: Textual Information, clarify responsibilities"
It should be clear that the responsibility of providing the visual cues to understand textual information lies on the content authors, not the designers which are responsible for defining the way its presented

[2021-07-25 15:07] carlosapaduarte opened #362 "[Designer Module 3: Information Design] Topic: Forms and Controls, missing contents related to the use of labels and instructions"
Learning outcomes and teaching ideas related to the use of labels and instructions are missing. The module has a learning outcome related to this subject, but contents are missing from this topic .

[2021-07-25 15:08] carlosapaduarte opened #363 "[Designer Module 5: Multimedia and Animations] Update prerequisites"
The prerequisites might include also Module 4, to ensure player controls created from (functional) images are accessible.

[2021-07-25 15:09] carlosapaduarte opened #364 "[Designer Module 5: Multimedia and Animations] Topic: Movement and Animations, introduction is not self-contained"
The introductory paragraph mentions contents "below". No other topic has this kind of structure, and I would prefer this one to be self-contained also.

[2021-07-25 15:09] carlosapaduarte opened #365 "[Designer Module 6: Interaction and Feedback] Missing ideas to assess knowledge"
Ideas to assess knowledge for the module are missing.

[2021-07-25 15:13] carlosapaduarte opened #366 "[Designer Modules] Replace "Prototype Design" with "Prototyping""
I think "Prototyping" is a clearer way to express the competency.
"Prototype Design" can be understood as "designing prototypes" or "prototyping designs".
This needs to be replaced in all modules.

[2021-07-26 20:17] iadawn opened #367 "[Designer Module 4: Images and Graphics] Awareness of content design"
Given the focus on alternative text it may be useful for instructors to have knowledge of content design and/or technical writing.

[2021-07-26 20:21] iadawn opened #368 "[Designer Module 4: Images and Graphics] Mismatch between learning outcomes and topics"
The topics focus on different types of image but the learning outcomes cover a slightly different perspective: how images help, use of iconography, annotations for developers, alternative text.

[2021-07-26 20:23] iadawn opened #369 "[Designer Module 4: Images and Graphics] Use of CAPTCHA"
Concerned that CAPTCHA does not have a hazard warning attached to it!

[2021-07-26 20:30] iadawn opened #370 "[Designer Module 1: Flexible Layout and Design] Split colour and layout"
Was any consideration made to spliting out colour to be it's own section?

* Why colour is important
* Colour contrast
* Colour and meaning
* Interaction styling with colour

It seems a bit lost within the Layout section?

[2021-07-26 20:34] iadawn opened #371 "[Designer Module 1: Flexible Layout and Design] Text grouping"
There may be something about grouping related text visually and annotating that for developers

[2021-07-26 20:44] iadawn opened #372 "[Designer Module 1: Flexible Layout and Design] Mixing landmarks and cues"
This seems to mix up three elements:

* Structural elements - landmarks
* Visual language - iconography and visual affordances
* Interactions design - focus

I am not sure how these fit together. Landmarks sticks out a bit as I don't see how this relates to cues.

[2021-07-26 20:46] iadawn opened #373 "[Designer Module 1: Flexible Layout and Design] Explain contrast ratio"
Learning outcome for use of color would be that students should be able to explain what 'contrast ratio' is. Probably also needs to be something about how they would go about assessing contrast ratio.

[2021-07-26 20:47] iadawn opened #374 "[Designer Module 1: Flexible Layout and Design] Color and meaning"
Doesn't appear to be anything on color and meaning in the use of color section

[2021-07-26 20:50] iadawn opened #375 "[Designer Module 1: Flexible Layout and Design] Is target size flexible"
The learning outcome on target size doesn't seem to align with the broader topic of Flexible Design

[2021-07-26 20:54] iadawn opened #376 "[Designer Module 2: Navigation] ARIA patterns as teaching resource"
ARIA Authoring Practices includes relevant information on keyboard interactions and behaviors

[2021-07-26 21:00] iadawn opened #377 "[Designer Module 2: Navigation] In page or in site distinction"
Not sure if it is hear but looking at the distinction between in-page navigation, such as tab panels, table of contents, skip links, accordions; and site navigation, menus, breadcrumbs, search, etc.

[2021-07-26 21:02] iadawn commented on #377
Hmm... just found it in 'Other Navigation Mechanisms'. I think this might be a terminology issue.

[2021-07-26 21:04] iadawn opened #378 "[Designer Modules] Use of language"
This is a general thing that I noticed, the language seems to overly follow that used in WCAG in a detrimental fashion.

For example, 'design user interfaces with mechanisms for users to locate a specific web page within a set of web pages'.

[2021-07-26 21:07] iadawn opened #379 "[Designer Module 3: Information Design] Place for landmarks"
I would argue that this is where Landmarks should go. The structural elements of the page I think of as being part of the general information design.

[2021-07-26 21:11] iadawn opened #380 "[Designer Module 3: Information Design] Design of forms"
Was design of forms considered as a specific module?

* Positioning of labels
* Visual styling of form elements
* Native vs designed form elements
* Non-standard form elements
* Presentation of errors and feedback

[2021-07-26 21:15] iadawn opened #381 "[Designer Module 4: Images and Graphics] Presentation of data"
Might be worth pulling this out as a topic. It is buried in 'Complex Images' but I think that is a poor term as data presentation might not be complex.

[2021-07-26 21:22] iadawn opened #382 "[Designer Module 5: Multimedia and Animations] Mechanisms disappearing"
"they should not disappear when the media starts playing"

Does that mean that Netflix should retain their interface elements at all times when a video is playing?

[2021-07-26 21:30] iadawn opened #384 "[Designer Modules] Not speaking to designers"
As I look at the list of modules I am concerned that it isn't framed around designer activities. The information is there, just in strange places.

If I were teaching designers I would probably go with a structure more like:

* Colour
* Images
* Text
* Structure and flexibility
* Forms
* Multimedia and animation

Not saying these are the right terms or are comprehensive enough but I would try to h

[2021-07-26 22:31] shawna-slh opened #385 "[overall] module numbering"
From @MicheleAWilliams-A11y in [survey](https://www.w3.org/2002/09/wbs/35532/curricula-designers-starfish/results)

See for example [developer module first page](https://www.w3.org/WAI/curricula/developer-modules/)

+1 that this is an issue.

Off-top-of-head idea to address it:
* add letter before number, e.g.,

[2021-07-27 00:14] shawna-slh commented on #384
Would be useful to look at some web design (not coding) courses and see how the topics are arranged.

update: here is [list of design courses](https://github.com/w3c/wai-curricula/wiki/Courses-On-Web-Design) from Daniel!

[2021-07-27 00:15] shawna-slh commented on #384
[comment moved to https://github.com/w3c/wai-curricula/issues/370 ]

[2021-07-27 00:22] shawna-slh commented on #380
It would be good to acknowledge that forms design is a specialty all itself. (Expert from my ole usability days): https://www.effortmark.co.uk/forms/ )

And that this curricula highlights particular accessibility issues - and some other aspects of good or bad forms design could disproportionately impact people with disabilities, esp. with COGA.

... I guess that applies to lots in the curricula --

[2021-07-27 00:24] shawna-slh commented on #371
Like this: https://www.w3.org/WAI/tips/designing/#use-headings-and-spacing-to-group-related-content ? :-)

[2021-07-27 00:27] shawna-slh commented on #370
_heh, I said similar thing (though less specifically) before I saw this issue
moved from https://github.com/w3c/wai-curricula/issues/384 :

Additionally, poor contrast and other color issues are one of the most common easy-ish accessibility issues I see (pun intended) these days. (also something that's fairly squarely in a designer role)

Therefore, I'm **very inclined to make module 1 be color**

[2021-07-27 00:30] shawna-slh opened #386 "[Designer Module] Tips"
Ref: https://www.w3.org/WAI/tips/designing/

Are all these included if wanted? Is the link included in the Resources?

/me didn't read, so just noting for Daniel :-)

[2021-07-27 00:37] shawna-slh opened #387 "[overall] WAI Resources in "Teaching Resources""
Would be good to check that all relevant WAI resources are listed under "Teaching Resources" as appropriate.

e.g., the Tutorials, the media resource, the [Tips](https://www.w3.org/WAI/tips/), ...

See [WAI Resources](https://www.w3.org/WAI/resources/) annotated list.

[2021-07-28 08:38] daniel-montalvo opened #388 "[Designer Module 5: Multimedia and Animations] Unclear scope"
From @shawna-slh  in
https://www.w3.org/2002/09/wbs/35532/curricula-designers-starfish/results#xq14

I am unclear the scope and goals of this module. My first reactions were:

* This should be more like our resource Making Audio and Video Media Accessible (https://www.w3.org/WAI/media/av/)
* This shouldn’t have much about designing media players because that is a very rare task (in most situations

[2021-07-28 13:42] bakkenb commented on #384
@iadawn, Just a question for my clarification here...
As I read into your comment I am assuming that you believe that all the needed designer content is in the current drafted modules, the issue that you are raising is that the content does not seem to be presented in the most logical order for a designer. Checking to see how accurate that is as it will impact the amount of rework.

My question(s)

[2021-07-28 13:45] iadawn commented on #384
Broadly speaking, yes. The content is there, I just don't think it is organised in a way that makes it digestible to a design professional. I also don't think it really speaks their 'language'.

[2021-07-28 13:47] bakkenb commented on #384
I think it might be helpful to put the existing draft structure and the proposed structure in front of a few "working" UI and Visual Designers outside of EOWG and ask if there are issues with the current structure, or if they would prefer the proposed structure, and why.

[2021-07-28 13:48] iadawn commented on #384
Agreed... I will see if I can find a couple of tame folks around here to test it out on.

[2021-07-28 15:50] daniel-montalvo commented on #384
Hey @iadawn

Thanks for your input on this. Let me give you a bit of background about why we chose to use this structure in the TF, that we presented in the [Eagle Review](https://www.w3.org/2002/09/wbs/35532/curriculaDesignerModulesEagleReview/results) survey back in March.

- We wanted to address of course visual designers, but also UI designers, and interaction designers, some of which may work

[2021-07-29 10:13] daniel-montalvo commented on #358
Changed at
https://github.com/w3c/wai-curricula/pull/389/commits/7f18b9858c6d5d1485c41253d7f9fac8e63a809c

Preview at
https://deploy-preview-389--wai-curricula.netlify.app/curricula/designer-modules/navigation

[2021-07-29 10:13] #358 closed, assigned to nobody

[2021-07-29 10:16] daniel-montalvo commented on #359
Fixed at
https://github.com/w3c/wai-curricula/pull/389/commits/189410ede2c8faf4276426ae030896a898c347eb

Preview at
https://deploy-preview-389--wai-curricula.netlify.app/curricula/designer-modules/information-design

[2021-07-29 10:16] #359 closed, assigned to nobody

[2021-07-29 10:44] daniel-montalvo commented on #366
Changed at
https://github.com/w3c/wai-curricula/pull/389/commits/8bfae6ab4310002c03c7ebe0cfe931848174e4c6

See preview at
https://deploy-preview-389--wai-curricula.netlify.app/curricula/designer-modules/

[2021-07-29 10:44] #366 closed, assigned to nobody

[2021-07-29 13:54] daniel-montalvo commented on #354
I took a pass at this. Removed "Color alone" and tried to clarify that information conveyed through color needs supplemental cues

See
https://github.com/w3c/wai-curricula/pull/389/commits/2b3f7457c3478294ad6a71df508e3abddb2735bb

and preview at
https://deploy-preview-389--wai-curricula.netlify.app/curricula/designer-modules/flexible-layout-and-design

Will leave open for now as it might require m

[2021-07-30 08:18] daniel-montalvo commented on #364
My understanding is that the most important aspects discussed in this topic are:

- ability for content to be paused, stopped, or hidden
- use flashing that is below the general flash and red flash ratios

I have rephrased this intro so that it can be understood without looking at the learning outcomes below.
https://github.com/w3c/wai-curricula/pull/389/commits/cc75816ddeeab4135297bab4317a3206064

[2021-07-30 08:24] daniel-montalvo commented on #363
Added in
https://github.com/w3c/wai-curricula/pull/389/commits/3dee74b59972ace4b3fd26950035eba5f17bd2f7
https://deploy-preview-389--wai-curricula.netlify.app/curricula/designer-modules/multimedia-and-animations

[2021-07-30 08:24] #363 closed, assigned to nobody

[2021-07-30 08:57] daniel-montalvo commented on #361
Added in
https://github.com/w3c/wai-curricula/pull/389/commits/4542db634f91f5b5b6c1728c57358298aa8c6e9b

See preview at
https://deploy-preview-389--wai-curricula.netlify.app/curricula/designer-modules/information-design/

I currently say "shared with the content author" as there might be intersections there. The author would provide these cues in a blog post or a piece of news, but probably the de

[2021-07-30 09:01] daniel-montalvo commented on #360
Good point. This reference may not be understood unless we give it more context. As we may be moving things around, I will keep this open and amend once we clarify the overall structure.

[2021-07-30 09:08] carlosapaduarte commented on #361
Given that there are many types of visual cues, I agree that the shared responsibility if probably the best way to go.
But the example we provide on the learning outcomes (for example diagrams of a process to complement the textual information) is a good example of a situation where the responsibility is on the content author.

[2021-07-30 13:54] daniel-montalvo commented on #384
We discussed this in [today's EOWG call](https://www.w3.org/2021/07/30-eo-minutes#item03).

The proposal is

- We definitely acknowledge that this issue needs to be addressed, and will work together with you and other commenters who also pointed out the structural and language issues to resolve them
- We would however start with the most specific issues as we think these will lead us to some furth

[2021-08-02 09:15] daniel-montalvo commented on #385
Hey @shawna-slh @MicheleAWilliams-A11y

I am leaning towards

* "Foundation Module x",
* "Developer Module x"
* "Designer Module x"
* "Author Module x"

The complete words would be easier to understand and interpret. First letters may take a while for some to interpret unless we explained them. I also find these letters a bit awkward. Why writers instead of authors? Why UI designers instead of Vis

[2021-08-02 09:27] daniel-montalvo commented on #373
Hey @iadawn

I took a pass at
https://github.com/w3c/wai-curricula/pull/389/commits/c3e487c6afdcbc1ec506549b18da64d29e6f4e7e

I introduced the term "sufficient color contrast" and then I explain that this translates to WCAG "contrast ratio".

Do you think this deserves further explanations, like adding a specific definition?

[2021-08-02 09:33] daniel-montalvo opened #390 "Are focus indicators a cue?"
@MicheleAWilliams-A11y says in
https://www.w3.org/2002/09/wbs/35532/curricula-designers-starfish/results#xq10

[2021-08-02 09:36] daniel-montalvo opened #391 "[Designer Module 3: Information Design] Feels out of place"
@MicheleAWilliams-A11y says in
https://www.w3.org/2002/09/wbs/35532/curricula-designers-starfish/results#xq12

Proposal is to keep "Information Design" based on new structure.

**Rationale::: Visual versus information design separation helps clarify scope of each of the modules.

[2021-08-02 09:39] iadawn commented on #373
Hi @daniel-montalvo,

My concern is that the learning outcomes do not include anything about assessing contrast ratio. For a user to "design user interfaces with sufficient color contrast for text, images of text, and controls" they will need to know how to determine whether or not the color contrast is sufficient.

[2021-08-02 09:42] daniel-montalvo opened #392 "[Designer Module 6: Interaction and Feedback] Needs to be two different sections"
@MicheleAWilliams-A11y says in
https://www.w3.org/2002/09/wbs/35532/curricula-designers-starfish/results#xq17

[2021-08-02 11:07] daniel-montalvo commented on #367
Done in
https://github.com/w3c/wai-curricula/pull/389/commits/cc37e113b700dbffa3c28b6ba1edbfe935aa8b27

[2021-08-02 11:26] daniel-montalvo commented on #382
Hey @iadawn

My understanding is that these types of interfaces you mention have a "Full screen" mode, and there is where the controls disappear. AS soon as you get out of "full screen" mode, you can see the controls again.

If that is correct, we already have the phrase "are always reachable for users"

Do you think removing the references about the controls "not disappearing when the media start

[2021-08-02 12:28] iadawn commented on #382
Sounds like a good solution

[2021-08-02 14:21] shawna-slh commented on #385
Maybe there is an even simpler way to increase clarity, limit confusion, and avoid clutter?

Idea 2: Put module group in headings. For example, on [Developer fist page](https://www.w3.org/WAI/curricula/developer-modules/)
* h2 "Modules" change to: "Developer Modules"
* h2 "Prerequisites for Students" change to something like:
   * "Prerequisites for Students from Foundation Modules"
   * "Prerequi

[2021-08-03 10:08] daniel-montalvo commented on #385
Thanks for these suggestions, @shawna-slh

I have implemented heading level 2 name changes at

- [Designer Modules Overview Page](https://deploy-preview-389--wai-curricula.netlify.app/curricula/designer-modules) (number at start)
- [Developer Modules Overview Page](https://deploy-preview-389--wai-curricula.netlify.app/curricula/developer-modules) (no number at start)
To see what people think about

[2021-08-03 10:11] daniel-montalvo commented on #369
Hey @iadawn

Thanks.

Actually, and based on others comments, this is a broader issue. The way this is now written could be read as if we are encouraging the use of captcha, which we should not be doing.

I will rewrite this part to avoid that, and let you know when it is done so that we can revisit it and see  if that warning is still needed.

[2021-08-03 10:40] daniel-montalvo commented on #353
Thanks @sharronrush

We are working on alternatives for "design user interfaces" which is lengthy and hard to read.

We also need to take a pass on the whole curricula to simplify language.

We are currently working on all of this, and will update when we have results.

[2021-08-03 10:50] daniel-montalvo commented on #355
Thanks @carlosapaduarte

"that would otherwise be provided through vision only" is a bit of a convoluted phrase.

What about

* We try to get rid of the "design user interfaces" phrase
* we changed "conveyed" to "supplement", which is another way of highlighting the importance of the text cues

Thoughts?

[2021-08-03 11:15] daniel-montalvo commented on #386
Thanks for this pointer, @shawna-slh

I think the curriculum covers what is on the Designer Tips, but the resource is not listed in the teaching resources, same as it is not in the developer part.

We thought that the Tutorials covered everything that is on the Tips for the developers, but that is probably not the case with designers.

We may want to include these Tips in both, although I think we

[2021-08-03 16:39] shawna-slh commented on #385
I'm not seeing the number change or heading change.

+1

I'll leave that to you, @MicheleAWilliams-A11y , and the Task Force. :-)

[2021-08-03 16:54] daniel-montalvo commented on #385
The above should be pointing to the live draft, my mistake that I pointed to the previous iteration.

The TF has been discussing this [3 August](https://www.w3.org/2021/08/03-wai-curricula-minutes.html#item06).

First letter only is confusing. There seemed to be agreement on  distinctive names in cross references, page title, and URL

We would have something like:

* FOU 1: What is Web accessibili

[2021-08-03 17:03] daniel-montalvo commented on #390
Hey @MicheleAWilliams-A11y

We discussed placement of focus indicators in our [3 August TF meeting](https://www.w3.org/2021/08/03-wai-curricula-minutes.html#item04).

We put focus in flexible layout and design because focus has to do with the concepts we discuss in that module. A focus indicator can be implemented by using distinctive styles, by modifying background color, or by using borders. If

[2021-08-03 17:28] daniel-montalvo commented on #370
Hey @iadawn @shawna-slh

We have discussed this in our [3 August TF meeting](https://www.w3.org/2021/08/03-wai-curricula-minutes.html#item03)

Even though there might potentially be enough material to cover color accessibility on a separate module, we are afraid that the level of detail we need to provide would be more at a course level than at a curriculum level. That would not be consistent with

[2021-08-03 17:34] daniel-montalvo commented on #392
Hey @MicheleAWilliams-A11y

We have been discussing this in our [3 August TF meeting](https://www.w3.org/2021/08/03-wai-curricula-minutes.html#item03)

We see the point on having forms more prominent as something most designers are heavily involved with.

There is a danger, though, that if we start pulling out specific components and adding specific modules for each of them, the list could easily

[2021-08-03 19:41] carlosapaduarte commented on #355
I think that could work. Would you be okay with adding a bit more detail to the example, to make the issue clearer?
Something like:

[2021-08-05 13:17] iadawn commented on #370
Terminology seems to be a bit difficult to follow. However, if the suggestion is to have colour as a comprehensive topic then that would be great.

[2021-08-05 13:59] daniel-montalvo commented on #370
Thanks @iadawn

And we are taking a look at terminology too.

--

Daniel Montalvo

Accessibility Education and Training Specialist

W3C/WAI

From: Kevin White ***@***.***>
Sent: jueves, 5 de agosto de 2021 15:18
To: w3c/wai-curricula ***@***.***>
Cc: daniel-montalvo ***@***.***>; Comment ***@***.***>
Subject: Re: [w3c/wai-curricula] [Designer Module 1: Flexible Layout and Design] Split colour and

[2021-08-06 13:51] daniel-montalvo commented on #388
Hey @shawna-slh

+1, will work on making this module closer to media guide.

We discussed to which extent we should talk about designing media players in [TF meeting June 1](https://www.w3.org/2021/06/01-wai-curricula-minutes.html#t03).

There seemed to be agreement that we should at least provide some guidance. Agree with you that we should also mention that it is always better to pick up an acce

[2021-08-11 11:50] daniel-montalvo commented on #386
Added Designer tips at 54a621734ec219f4517275f5fba807921aeb5393

as discussed in our [August 10 TF meeting](https://www.w3.org/2021/08/10-wai-curricula-minutes.html#item04)

[2021-08-11 11:55] daniel-montalvo commented on #215
Hey @shawna-slh

I am closing tis as I think work here is finished.

Feel free to reopen if needed

[2021-08-11 11:55] #215 closed, assigned to nobody

[2021-08-11 12:02] daniel-montalvo commented on #288
Work finished. Changed implemented in
https://www.w3.org/WAI/curricula/

[2021-08-11 12:02] #288 closed, assigned to nobody

[2021-08-11 16:53] MicheleAWilliams-A11y commented on #392
Thanks for this follow-up. Not sure without seeing all the updates but from what I recall when reviewing it just seemed like a lot of form considerations were sprinkled throughout the modules (appropriately) which might in practice get a little hard to follow when you sit down to create a form. There's so much to consider with the unique interactivity of a form and Web application versus a static

[2021-08-11 16:55] MicheleAWilliams-A11y commented on #390
Sounds good!

[2021-08-11 17:00] MicheleAWilliams-A11y commented on #385
I don't know all the examples but the one that said include "Foundation" as part of the link as in "Foundation Module 6" makes a lot of sense. That then matches how it's referenced in prior pages from what I can see (but I've only seen the Designer and Foundation ones listed as part of this survey review).

[2021-08-13 09:09] daniel-montalvo commented on #369
Hey @iadawn

These learning outcomes read now:

See preview at
https://deploy-preview-389--wai-curricula.netlify.app/curricula/designer-modules/images-and-graphics/#topic-informative-images

[2021-08-18 12:54] daniel-montalvo commented on #356
Thanks @carlosapaduarte

First, I wondered how we could define it. We could say something like "multi-level navigation menu" or something like that. But I think that would make things even more complicated. Can we look for a clearer term? Could we change "mega menu" to "hamburger menu" or similar?

Do you think that would solve the issue by making the type of menu more explicit or a definition is

[2021-08-18 13:20] daniel-montalvo commented on #387
Hey @shawna-slh

Yes, there were some missing, I am taking a pass to make sure all relevant ones are included. I plan to add the relevant videos per module

What are you suggesting with this pointer? A change in the wording of our "Teaching Resources" section? Just a place that has all possible resources handy?

[2021-08-18 13:40] daniel-montalvo commented on #374
Hey @iadawn

We are currently working on this section. It has changed significantly with respect to what we had before.

What we have at the moment is at:
https://deploy-preview-389--wai-curricula.netlify.app/curricula/designer-modules/color-and-layout/#topic-color

And what we had before is at:
https://wai-curricula.netlify.app/curricula/designer-modules/flexible-layout-and-design/#topic-use-of-c

[2021-08-18 13:51] shawna-slh commented on #387
I saw just pointing you to that [WAI Resources](https://www.w3.org/WAI/resources/) annotated list as a place for you to find all the WAI resources that you/TF/EO might want to include :-)

[2021-08-19 08:27] #367 closed, assigned to daniel-montalvo

[2021-08-19 08:59] daniel-montalvo commented on #376
Hello @iadawn and @shawna-slh

We discussed this in our [TF meeting for August 10](https://www.w3.org/2021/08/10-wai-curricula-minutes.html#item05)

At first, our rationale was that this resource is much more oriented to developers than to designers, and including it could be daunting for many designers. But we see your point in its informational value also for designers, so we are including it. W

[2021-08-19 09:29] daniel-montalvo commented on #372
Hey @iadawn,

Thanks for this.

We saw these three closely related, as they are in a way cues for users, in addition to structural elements of the page.

- Visual landmarkss can be a cue for people to identify the different page regions
- Non-visual landmarks help identify the different regions and also help navigate through such regions quickly
- Focus indicators enable people to know where they

[2021-08-19 09:56] daniel-montalvo commented on #381
Hey @iadawn

Presentation of data may not have to do with images in some cases. WE tried to have some specifics on data visualization / data representation in the module on images, but ended up concluding that this is a much broader topic that we need to address differently.

Related to our discussion in #373, we are including learning outcomes that go along the lines of assessing and balancing wh

[2021-08-19 21:00] shawna-slh commented on #376
un-tagging @shawna-slh (leaving it to others)

[2021-08-25 09:16] daniel-montalvo commented on #384
<p>Please take a look at:</p>
<ul>
  <li><a href="https://github.com/w3c/wai-curricula/pull/389/files#diff-ec1ccf6414e02b12ba2d4f77b185b85bfcacae7839332b6a77b954c928d44326">Designer Modules Overall Structure Diff</a>
  <li><a href="https://deploy-preview-389--wai-curricula.netlify.app/curricula/designer-modules/">Designer Modules Live Draft</a></li>
</li>
<p>Main changes include</p>
<ul>
  <li>Mod

[2021-08-25 09:24] daniel-montalvo commented on #370
Hey @iadawn @shawna-slh

Please see updated [Module 1: Color and Layout](https://deploy-preview-389--wai-curricula.netlify.app/curricula/designer-modules/color-and-layout/).

I see this as a subset of #384 , where I have updated an overall proposal.

@iadawn It seems to me you would be comfortable having "color" as a dedicated topic in current [Module 1](https://deploy-preview-389--wai-curricula.n

[2021-08-25 09:24] #370 closed, assigned to nobody

[2021-08-25 10:37] daniel-montalvo commented on #378
Hey @iadawn and @shawna-slh

<p>I am working on simplifying the resource language and making the resource tone closer to designers.</p>
<p>Main changes include:</p>
<ul>
  <li>Change phrase "design user interfaces" to "design layouts", "use", and "design user experiences" to make learning outcomes more concise and less jargony</li>
  <li>Overall pass to replace specific terms used in WCAG with sim

[2021-08-25 14:37] daniel-montalvo commented on #388
<p>I have been working on this. Main changes include:</p>
<ul>
  <li>moving away from WCAG terminology and using the more up-to-date terms in the resource <a href="https://www.w3.org/WAI/media/av/">Making Audio and Video Media Accessible</a></li>
  <li>Include advice that it is better to use an existing media player with support for accessibility than to develop and ad hoc media player from scratc

[2021-08-25 15:19] shawna-slh commented on #388
Can you give me the link to preview for this?

[2021-08-25 15:21] daniel-montalvo commented on #388
https://deploy-preview-389--wai-curricula.netlify.app/curricula/designer-modules/multimedia-and-animations/

[2021-08-26 10:23] daniel-montalvo commented on #362
Hey @carlosapaduarte
 These have been now added in
https://deploy-preview-389--wai-curricula.netlify.app/curricula/designer-modules/information-design/#topic-labels-and-instructions

[2021-08-26 10:26] daniel-montalvo commented on #368
Hey @iadawn

I have taken a pass on this module and expanded the topic learning outcomes to also cover what was in the module learning outcomes.
https://wai-curricula.netlify.app/curricula/designer-modules//images-and-graphics/

Closing, feel free to reopen if there is something you think is still not addressed.

[2021-08-26 11:48] carlosapaduarte commented on #362
Hi Daniel
The second teaching idea seems to be misplaced or not correctly focused on the topic. The way it is presented makes the idea about filtering mechanism, not labels or instructions. Could it be rephrased to address labels for long lists and how to organize (e.g. split) the long list?

[2021-08-26 14:16] daniel-montalvo commented on #362
Hey @carlosapaduarte

Thanks for pointing this out.

I need to take a pass to the overall teaching ideas and ideas to assess knowledge. especially given the structural changes we are proposing. But I was waiting for getting into that until we have feedback from EOWG people commenting on structure.

[2021-08-26 18:18] carlosapaduarte commented on #356
I think that making it more explicit (hamburger menu should be understood by all interested in the curriculum) would be sufficient.

[2021-09-03 09:20] #390 closed, assigned to nobody

[2021-09-03 13:45] iadawn commented on #384
Not sure about this one. I don't know how likely it is that teaching of designers would overlap with that of teaching developers. Not sure what problem this is trying to solve.

[2021-09-03 13:47] iadawn commented on #384
https://github.com/w3c/wai-curricula/issues/384#issuecomment-905327980

More comfortable :) I still think there are a few things that lean towards a particular structure simply because that is how other resources are structure rather than it needing to be that way. But this is minor really.

[2021-09-03 13:51] iadawn commented on #378
The main changes all seem sensible. There may be other issues with wording that pop up when the resource is polished.

[2021-09-03 14:34] daniel-montalvo commented on #369
Closing.
https://deploy-preview-389--wai-curricula.netlify.app/curricula/designer-modules/images-and-graphics/#topic-informative-images)

These read now

<blockquote>
* define alternatives to CAPTCHA and biometrics, for example by providing visual, auditory, and logical CAPTCHA
* explain the issues associated with relying only on one form of biometrics and CAPTCHA, and describe alternative approac

[2021-09-03 14:34] #369 closed, assigned to nobody

[2021-09-03 14:35] #382 closed, assigned to nobody

[2021-09-08 07:37] #364 closed, assigned to nobody

[2021-09-08 07:48] daniel-montalvo commented on #357
Hey @carlosapaduarte

This was discussed in our [7 September TF meeting](https://www.w3.org/2021/09/07-wai-curricula-minutes.html)

We seem to agree that the relationship between this comment and accessibility requirements is not really clear. Writing systems seem to fall more under the usability and internationalization requirements than under accessibility requirements.

What were the specifics

[2021-09-08 09:30] carlosapaduarte commented on #357
Hi @daniel-montalvo

I'm okay with leaving it as is. My intention was to have this discussed to make sure we don't want to include it. And that goal was achieved.

And apologies for missing the discussion.

[2021-09-08 10:10] #357 closed, assigned to daniel-montalvo

[2021-09-16 09:45] daniel-montalvo commented on #392
Closing. This has finally been split

- [Interaction Design](https://deploy-preview-389--wai-curricula.netlify.app/curricula/designer-modules/interaction-design)
- [Forms Design](https://deploy-preview-389--wai-curricula.netlify.app/curricula/designer-modules/forms-design)

[2021-09-16 09:45] #392 closed, assigned to nobody

[2021-09-17 18:36] shawna-slh commented on #388
Hi @daniel-montalvo
Thanks for working on the issues I noted. And thanks for your patience with me handling other projects before getting to this.

### Summary
I support covering media player accessibility. I like the approach of understanding player issues and ensuring player accessibility, rather than the approach of designing one yourself. I think this draft is going in a good direction, and wi

[2021-09-17 19:04] shawna-slh commented on #388
### Description terminology

See the [issue to further edit the Media resource to limit “audio description”]( https://github.com/w3c/wai-media-guide/issues/182).

I look forward to more input on that terminology in the Media resource and in the Curricula.

The proposal is:
1. on first use (and maybe first use in multiple sections), use:

2. in subsequent uses, use

or just:

To have that discussio

[2021-09-29 08:09] daniel-montalvo commented on #379
Closing. That is where programmatic landmarks are now. Visual cues are still discussed in module 1 Visual Design.

[2021-09-29 08:09] #379 closed, assigned to nobody

[2021-09-29 08:48] daniel-montalvo commented on #377
Closing. We will have:

* Module 3: Navigation Design
  * Topic: Menu Behaviors
  * Topic: Site Navigation
  * Topic: Page Navigation

[2021-09-29 08:48] #377 closed, assigned to nobody

[2021-10-27 11:10] daniel-montalvo commented on #352
Hey @sharronrush

Module scope is now changed according to broader changes in structure.

These sentences have now been changed to.

<blockquote>

* demonstrate how people with disabilities rely on layouts that adapt to different screen sizes, screen configurations, and style sheets
* explain accessibility requirements for color, layout, spacing, and position of components

</blockquote>

[2021-10-27 11:10] #352 closed, assigned to nobody

[2021-10-27 11:16] daniel-montalvo commented on #353
We have reworded these sentences according to broader structure changes. That specific example is no longer there.

"design user interfaces" has been changed throughout the whole curricula to:

* "design layouts ..."
* "use ..."
* "design ..."
* "define ..."

as appropriate.

[2021-10-27 11:16] #353 closed, assigned to nobody

[2021-10-27 11:21] daniel-montalvo commented on #354
Removed.

[2021-10-27 11:21] #354 closed, assigned to nobody

[2021-10-27 11:46] daniel-montalvo commented on #360
I think that reference is no longer needed with the new structure. I am proposing to take this reference out, as the separation between visual design and information design are now more explicit.

Closing this, feel free to reopen if you think this is still needed.

[2021-10-27 11:46] #360 closed, assigned to daniel-montalvo

[2021-10-27 11:48] daniel-montalvo commented on #391
Closing according to [EOWG Minutes 8 October](https://www.w3.org/2021/10/08-eo-minutes#item05)

[2021-10-27 11:48] #391 closed, assigned to nobody

[2021-10-27 11:54] daniel-montalvo commented on #356
"Mega menu" changed to "hamburger menu"

Will show up in preview when I next upload changes.

[2021-10-27 11:54] #356 closed, assigned to daniel-montalvo

[2021-10-27 11:57] daniel-montalvo commented on #362
This should be fixed now. Closing, feel free to reopen if needed.

[2021-10-27 11:57] #362 closed, assigned to daniel-montalvo

[2021-10-27 12:00] daniel-montalvo commented on #365
These are added now in
https://wai-curricula.netlify.app/curricula/designer-modules/interaction-design/#ideas-to-assess-knowledge-for-module

[2021-11-03 09:09] daniel-montalvo commented on #388
Closing this as I think these concerns have now been addressed.
- Implemented decisions in [EOWG 8 October](https://www.w3.org/2021/10/08-eo-minutes#item04)
- https://wai-curricula.netlify.app/curricula/designer-modules/multimedia-and-animations/

[2021-11-03 09:09] #388 closed, assigned to nobody

[2021-11-03 10:03] daniel-montalvo commented on #380
Closing.

- Agreed on new module [Forms Design](/curricula/designer-modules/forms-design).
- Implemented suggestions from [EOWG 22 October](https://www.w3.org/2021/10/22-eo-minutes) and [EOWG 29 October](https://www.w3.org/2021/10/2i-eo-minutes) meetings.

[2021-11-03 10:03] #380 closed, assigned to nobody

[2021-11-03 10:06] daniel-montalvo commented on #378
Closing. It seems we all are in agreement with the overall approach. Happy to discuss specific wording issues in separate issues.

[2021-11-03 10:06] #378 closed, assigned to nobody

[2021-11-03 10:34] daniel-montalvo commented on #375
This has now been reworded to:

"design layouts with target sizes that adapt to different screen sizes,  screen configurations, and style sheets"

So it is not saying that target sizes are a characteristic of flexible design, but rather that target sizes, in addition to the rest of the contents discussed, need to adapt to different screen sizes,  screen configurations, and style sheets

If we do n

[2021-11-03 10:40] daniel-montalvo commented on #373
Included in [Module Visual Design, Topic Color](https://wai-curricula.netlify.app/curricula/designer-modules/visual-design/#topic-color), learning outcomes for topic, second bullet:
"determine sufficient color contrast for text, images of text, and controls"

[2021-11-03 10:40] #373 closed, assigned to nobody

[2021-11-03 10:46] daniel-montalvo commented on #372
Closing. Implementing decision from [EOWG 8 October meeting discussion](https://www.w3.org/2021/10/08-eo-minutes#item02)

[2021-11-03 10:46] #372 closed, assigned to nobody

[2021-11-03 10:47] #365 closed, assigned to daniel-montalvo

[2021-11-03 10:57] #385 closed, assigned to daniel-montalvo

[2021-11-03 11:11] daniel-montalvo commented on #384
Closing, as I think we all have agreed on overall structure.

I will be getting to the other minor things you mention, as I think they are spread through the remaining open issues.

[2021-11-03 11:11] #384 closed, assigned to nobody

[2021-11-03 11:49] #361 closed, assigned to nobody

[2021-11-03 11:51] daniel-montalvo commented on #361
Hey @carlosapaduarte  You convinced me on this one :-) And this is more consistent with other parts of this curricula. Feel free to reopen if you think there is something missing here.

[2021-11-03 12:05] daniel-montalvo commented on #371
Closing. Added

"use headings, spacing, and styling to group related content"
in
https://wai-curricula.netlify.app/curricula/designer-modules/visual-design/#leawrning-outcomes-for-module
4th bullet

[2021-11-03 12:05] #371 closed, assigned to nobody

[2021-11-03 18:21] daniel-montalvo commented on #374
I think what is now in https://wai-curricula.netlify.app/curricula/designer-modules/visual-design/#topic-color says it more clearly. We don't use "meaning" as such, but "information",

Closing, feel free to reopen if you think this is still not addressed.

[2021-11-03 18:21] #374 closed, assigned to nobody

[2021-11-03 18:25] #368 closed, assigned to daniel-montalvo

[2021-11-22 12:08] daniel-montalvo commented on #355
This has now significantly changed since it was open.

Last agreed iteration in
[EOWG Meeting 5 November](https://www.w3.org/2021/11/05-eo-minutes.html#t04)

[2021-11-22 12:08] #355 closed, assigned to daniel-montalvo

[2021-11-22 12:12] daniel-montalvo commented on #375
Discussed and agreed approach in [EOWG Meeting 5 November](https://www.w3.org/2021/11/05-eo-minutes.html#t05)

[2021-11-22 12:12] #375 closed, assigned to nobody

[2021-11-22 12:15] #386 closed, assigned to nobody

[2021-11-26 09:41] carlosapaduarte opened #396 "[Designer Modules Overview Page] Forms entry in the list "teach accessible design techniques for:""
The final list item in the "teach accessible design techniques for:" list could be updated from "forms" to "forms design" in order to be coherent with the name of the corresponding module, since every other entry in this list is the name of the corresponding module.

[2021-11-26 09:56] carlosapaduarte opened #397 "[Designer Module 1: Visual Design] "use non-visual cues" in a Visual Design module"
The fifth learning outcome states "use visual and non-visual cues to convey information, including text, color, patterns, and icons". The module is on Visual Design, so the reference to non-visual cues is a little odd and I'm finding it hard to understand what is meant by this learning outcome.
Is it "use multiple visual cues because relying on a single type of visual cue (e.g. color) makes the co

[2021-11-26 10:02] carlosapaduarte opened #398 "[Designer Module 1: Visual Design] Learning outcome "evaluate the overuse of design elements" Missing in teaching ideas"
The seventh learning outcome states "evaluate the overuse of design elements". I'm having trouble in addressing this from an accessibility perspective. I can understand it from a usability or visual design perspective.
I'm sorry if this has already been discussed, but I don't recall seeing it before.

[2021-11-26 10:18] carlosapaduarte opened #399 "[Designer Module 1: Visual Design] New teaching idea for Topic: Color or Topic: Styles"
One teaching idea that could be added is showing on a user style sheet for increasing contrast, or turning on the high contrast mode at the operating system level, impacts the visual design of a web page.

[2021-11-26 10:23] carlosapaduarte opened #400 "[Designer Module 1: Visual Design] Topic: Color - teaching ideas"
For the second teaching idea in topic color, we could provide a link to the understanding document of 1.4.11 Non-text Contrast because it has many examples (or to G207 and/or G209).

[2021-11-26 10:35] carlosapaduarte opened #401 "[Designer Module 1: Visual Design] Adding something about text alignment to Topic: Styles"
Should we include text alignment in this topic? We address spacing but not alignment but this is also relevant (G169).

[2021-11-26 10:42] carlosapaduarte commented on #397
After going through topics Color and Orientation Cues I understand that both of the above are in the scope of this module. Perhaps we can make it more explicit in the learning outcome? Something like "use multiple visual and non-visual cues"?

[2021-11-26 10:50] carlosapaduarte commented on #398
I see it is being addressed in the learning outcomes of topic flexible layouts, but there are no teaching ideas there for this topic, so I'm still not really convinced that the overuse is an accessibility problem, if the design elements are themselves accessible.

[2021-11-26 11:06] carlosapaduarte opened #402 "[Designer Module 2: Information Design] Alternative forms of presentation in Topic: Text and Structure"
The second learning outcome calls for the need to present (some) textual information through other means, like diagrams and illustrations. Shouldn't we have a similar learning outcome calling out for the need to describe in text, information that is conveyed  in diagrams and illustrations?
From an Information Architecture perspective I believe that should also be here, even if it is repeated in th

[2021-11-26 11:18] carlosapaduarte opened #403 "[Designer Module 2: Information Design] "names for components" in Topic: Naming and Grouping"
We use "names for components" multiple times in this topic (and elsewhere in the module). I am not sure if a component's name is a clear concept to a designer. I am also not sure that this an issue that needs to be tackled, because these resources target trainers not trainees (the designers). But I decided to raise it to gauge the opinion of others.

[2021-11-26 11:27] carlosapaduarte opened #404 "[Designer Module 2: Information Design] Should we have something about lists?"
Lists are only addressed as an alternative to present content in complex tables. But lists are used for many more purposes, some addressed in other modules.
It is not that uncommon to find lists on the web that are styled as lists, but are not semantically marked as lists. I understand the coding is responsibility of the developer, but in other instances we have indicated the need for the designer

[2021-11-26 12:04] carlosapaduarte opened #405 "[Designer Module 3: Navigation Design] Blocks of repeated content"
The learning outcomes for module 3 state "define blocks of repeated content". Shouldn't we have a learning outcome for students to "design navigational components that allow skipping blocks of repeated content"? (feel free to improve on my formulation)

[2021-11-26 12:19] carlosapaduarte opened #406 "[Designer Module 3: Navigation Design] Editorial suggestion for teaching ideas of Topic Menus"
The third teaching idea states "Show examples of navigation menus and menu items large text."
I suppose it's missing a "with" to make it "menu items with large text".

[2021-11-26 12:44] carlosapaduarte opened #407 "[Designer Module 3: Navigation Design] Redundancy in learning outcomes for topic Site Navigation Can Site Navigation components create distractions and unnecessary noise?"
I feel the fourth learning outcome just repeats the first and second learning outcomes. De we need to keep it?

[2021-11-26 12:59] carlosapaduarte opened #408 "[Designer Module 3: Navigation Design] First learning outcome in topic Page Navigation is ambiguous"
The first learning outcome reads "select methods to identify blocks of repeated content, such as navigation bars and header contents"

I think this learning outcome is about providing visual and non-visual cues that allow users to identify blocks of repeated content (but not skip them - which is addressed in the following learning outcome). But I don't think the learning outcome expresses this cle

[2021-11-26 14:23] carlosapaduarte opened #409 "[Designer Module 4: Interaction Design] Editorial suggestion for the introduction to topic Gestures and Motion"
The second sentence in the first paragraph reads "Explain that some people may perform these motion-based gestures inadvertently, others may not be able to perform them at all."

I think changing to "while others may not" after the comma would improve the readability.

[2021-11-26 14:29] carlosapaduarte opened #410 "[Designer Module 4: Interaction Design] &mdash: instead of the dash showing in the first of the Ideas to Assess Knowledge for Module"
I suppose it's because there is a colon instead of a semi-colon at the end of &mdash

[2021-11-26 14:35] carlosapaduarte opened #411 "[Designer Module 4: Interaction Design] Meaningful sequences in topic Keyboard Interactions"
While meaningful sequences are mentioned in the module's learning outcomes, I don't think they have enough visibility in the learning outcomes for the topic Keyboard Interactions. One can argue that they are included in "design user experiences for keyboard navigation" which is the first learning outcome. But this way I believe they will be frequently missed.

[2021-11-26 15:07] carlosapaduarte opened #412 "[Designer Module 5: Images and Graphics] Learning outcome in topic Informative Images is not clear"
The sixth learning outcome reads "evaluate the issues associated to accessing information contained in informative images"

Do we want students to evaluate the issues associated with accessing information? I don't even know I'm sure what that means! Is this related to how UA and AT process and convey the information?

I'm wondering if this is about evaluating the benefits and pitfalls of the diffe

[2021-11-26 15:14] carlosapaduarte opened #413 "[Designer Module 5: Images and Graphics] Suggestion of an idea to assess knowledge for topic Informative Images"
There is no idea to assess knowledge in this topic related to the image descriptions. I offer this suggestion:

Practical - Give students a collection of related images and ask them to craft boilerplate descriptions that could be used to provide descriptions for that collection. Asses how students identify requirements in the boilerplate descriptions that support appropriate image descriptions.

[2021-11-26 15:19] carlosapaduarte opened #414 "[Designer Module 5: Images and Graphics] Incorrect role in the teaching ideas for topic Complex Images"
In the second teaching idea for the topic Complex Images, is stated that "providing these text alternatives is a designers’ responsibility"

Shouldn't it be "a developer's responsibility"?

[2021-11-26 15:27] carlosapaduarte opened #415 "[Designer Module 5: Images and Graphics] Typo in Ideas to Assess Knowledge for Topic Decorative Images"
The second Idea to Assess Knowledge begins with "Give students and interface". This should be "Give students an interface".

[2021-11-27 08:50] carlosapaduarte opened #416 "[Designer Module 6: Multimedia and Animations] Editorial suggestion for Learning Outcomes for Module"
The third learning outcome lists accessibility issues. I don't think the items in the sub list should start with a verb (i.e., select) because the accessibility issue is not the selection, but the media player having or not the feature that is described in the list item. My suggestion is to drop "select" in the items in this sublist.

[2021-11-27 08:51] carlosapaduarte opened #417 "[Designer Module 6: Multimedia and Animations] Typo in the list of applied expertise for Instructors"
The sixth item reads "WCAG Success Criteria", but it should be "WCAG Success Criterion"

[2021-11-27 08:58] carlosapaduarte opened #418 "[Designer Module 6: Multimedia and Animations] Editorial suggestion for teaching ideas for topic Alternatives to Multimedia Content"
In the second teaching idea (the one about captions) the penultimate sentence was copied from the previous teaching idea. In that sentence "description" should be changed to "captions".

[2021-11-27 09:02] carlosapaduarte opened #419 "[Designer Module 6: Multimedia and Animations] Question about sign language in the teaching ideas for topic Alternatives to Multimedia Content"
When addressing sign languages I wonder if we should mention that there is not just a single sign language but that there are multiple sign languages (like spoken and written languages), so the designer considers this in the design (e.g., the design might need to provide a selection mechanism)?

[2021-11-27 09:06] carlosapaduarte opened #420 "[Designer Module 6: Multimedia and Animations] Editorial suggestion for teaching idea on media players for topic Alternatives to Multimedia Content"
In the last teaching idea (the one about media players) I wonder if "easy to find" should be expanded to "easy to fin on the page". This would make sure that no one would interpret this as "easy to find when searching for an existing media to use in my design".

[2021-11-27 09:09] carlosapaduarte opened #421 "[Designer Module 6: Multimedia and Animations] Suggestion of idea to assess knowledge for topic Alternatives to Multimedia Content"
I think we could have one idea around media players. My suggestion for your consideration:

"Practical - Ask groups of students to search online for existing media players that can be integrated in a web page and characterise their support for accessibility. Assess how students rated the support for keyboard operation, visibility of the focus indicator, clarity of the labels and the contrast ratio

[2021-11-27 09:21] carlosapaduarte opened #422 "[Designer Module 6: Multimedia and Animations] Suggestion of an assessment idea for topic Movement and Animations"
Albeit there is a teaching idea about animations that could be considered addressing carousels, I wonder if we shouldn't have one explicitly about carousels? If you agree to this, then here is my suggestion:

"Practical - Give students examples of web pages using carousels and ask them to examine the carousels' support for accessibility. Assess how students understand accessibility requirements fo

[2021-11-27 09:25] carlosapaduarte opened #423 "[Designer Module 7: Forms Design] Typo in the list of applied expertise for Instructors"
The fifth item reads "WCAG Success Criteria", but it should be "WCAG Success Criterion"

[2021-11-27 10:06] carlosapaduarte opened #424 "[Designer Module 7: Forms Design] About grouping form elements"
Structure is a topic that is highlighted (more than once) in the learning outcomes of this module. Grouping form elements is one important way to structure forms. However, there is no explicit mention to grouping associated form elements. This is handled in Module 2, and there is a reference for it in topic Label and Instructions. But I believe it would be good to have an explicit learning outcome

[2021-11-27 11:01] carlosapaduarte opened #425 "[Designer Module 7: Forms Design] Missing closing bracket in topic Notifications"
In the second learning outcome, first sub item, a closing bracket is missing.

[2021-11-27 11:05] carlosapaduarte opened #426 "[Designer Module 7: Forms Design] Typo on topic Notifications"
In the first idea to assess knowledge for topic Notifications, "a form field that validate" should be "a form field that validates"

[2021-11-29 09:43] daniel-montalvo commented on #426
Thanks for pointing this out @carlosapaduarte

Fixed. Will show up when preview is updated

[2021-11-29 09:43] #426 closed, assigned to nobody

[2021-11-29 09:45] daniel-montalvo commented on #425
Thanks for pointing this out @carlosapaduarte
Fixed. Will show up when updating preview.

[2021-11-29 09:45] #425 closed, assigned to nobody

[2021-11-29 09:52] daniel-montalvo commented on #423
Thanks for pointing this out. @carlosapaduarte
I have gone through the resource and there was one more instance of this wrong plural.

Fixed. Will show up when updating preview.

[2021-11-29 09:52] #423 closed, assigned to nobody

[2021-11-29 10:00] daniel-montalvo commented on #420
That is a good point @carlosapaduarte

Why not doing it also on the LO

We would have:

* Added "on the page" in LO: "select media player controls that have clear and descriptive names, that are easy to find on the page, and that are reachable by all users"
* Added on the page in teaching idea: ... "Emphasize how accessible media players are operable by keyboard, make keyboard focus visible, have

[2021-11-29 10:09] daniel-montalvo commented on #419
Thanks for raising this @carlosapaduarte

There are currently two instances in this topic where we use "sign language" (singular).
* Learning outcomes, second bullet
* Teaching ideas, fourth bullet

Will change these to plural and also tweak the teaching idea so that it reflects your comment better.

[2021-11-29 10:13] daniel-montalvo commented on #418
Thanks for raising this @carlosapaduarte

I have replaced the wrong term. Will show up when updating the preview.

[2021-11-29 10:13] #418 closed, assigned to nobody

[2021-11-29 10:14] daniel-montalvo commented on #417
Thanks for raising this @carlosapaduarte

Fixed. Will show up when updating the preview.

[2021-11-29 10:15] #417 closed, assigned to nobody

[2021-11-29 10:23] daniel-montalvo commented on #416
Hello @carlosapaduarte

Others have suggested that we should change "issues associated" to "considerations for" on this learning outcome. With that change, we could even shorten the sub bullets a bit more.
So with these two changes, it would read:

Would you be happy with these further changes?

[2021-11-29 10:23] carlosapaduarte commented on #420
I agree with changing it also to the LO

[2021-11-29 10:26] daniel-montalvo commented on #415
Thanks @carlosapaduarte

This is now corrected. Will show up when updating preview.

[2021-11-29 10:26] #415 closed, assigned to nobody

[2021-11-29 10:26] carlosapaduarte commented on #416
Yes, I agree with the proposed changes.

[2021-11-29 10:37] daniel-montalvo commented on #410
Thanks @carlosapaduarte

That's now changed. Will show up correctly when uploading the preview.

Exactly, that was the reason.

[2021-11-29 10:37] #410 closed, assigned to nobody

[2021-11-29 10:53] daniel-montalvo commented on #409
Thanks @carlosapaduarte

This is now added. Will show up when updating the preview.

[2021-11-29 10:53] #409 closed, assigned to nobody

[2021-11-29 11:13] daniel-montalvo commented on #406
Thanks @carlosapaduarte

"Menu items large text" was intended as a short-hand for "large text of menu items". I have replaced that with your suggestions. It is clearer. Will show up when. updating the preview.

[2021-11-29 11:13] #406 closed, assigned to nobody

[2021-11-29 11:17] daniel-montalvo commented on #403
Yes, let's see what others think, @carlosapaduarte

Just for background, when we started building this module we had "labels" instead of "names for components" and that was flagged as too difficult a concept for both designers and instructors.

[2021-11-29 11:21] carlosapaduarte commented on #403
I seem to remember the discussion around labels and that it might be confused with the labels of form elements. Or maybe I'm making this up in my head :-)

[2021-11-29 11:32] daniel-montalvo commented on #398
Hey @carlosapaduarte

The idea of balancing what is too much or too little for an interface in terms of accessibility was [introduced after the July survey](https://www.w3.org/2021/08/24-wai-curricula-minutes.html#item03). We use "evaluate" and "select" to align to Bloom's taxonomy. The line between accessibility and usability is too fine here, that is a good point.

We have more of these througho

[2021-11-29 12:00] carlosapaduarte commented on #398
Yes, it is the "overuse of design elements" that I think might be out of scope (because it is more of a usability than an accessibility issue, as long as the design elements are accessible themselves). Would like to know what others think.

[2021-11-30 08:14] daniel-montalvo commented on #416
That's done now. Will show up when updating the preview

[2021-11-30 08:14] #416 closed, assigned to nobody

[2021-11-30 08:46] daniel-montalvo commented on #396
That's changed now.

Will show up when updating the preview.

[2021-11-30 08:46] #396 closed, assigned to nobody

[2021-11-30 09:08] daniel-montalvo commented on #397
That's now changed to:

Worth discussing probably, to make sure everybody is comfortable with scope. I see your point that it is a bit weird to talk about non-visual cues in a visual design module. But still think the idea that relying only on visual cues is not accessible design should be provided up-front.

[2021-11-30 10:05] daniel-montalvo commented on #403
No, you are not. That is yet another reason why we stopped using labels here. Happy to explore other phrases different than "names for components"

[2021-11-30 19:42] sharronrush commented on #420
+1

[2021-12-01 11:22] daniel-montalvo commented on #407
Thanks @carlosapaduarte

We have several instances of "select navigational components to help users navigate and orient". I agree that "help users navigate and orient" does not add to what we have already.

There are other places in the module where we say "minimize distractions and unnecessary noise". Once again this is trying to make designers aware that too little can be insufficient, but too m

[2021-12-01 11:30] daniel-montalvo commented on #408
Hey @carlosapaduarte

That's good suggestion. I have rephrased that a little bit. I think the below is closer to what we are using in other places

Are you comfortable with these further changes?

[2021-12-01 12:21] daniel-montalvo commented on #405
That is good suggestion @carlosapaduarte  and I agree that it is missing in the learning outcomes for module.

I agree we can add this to the existing learning outcomes. Not so sure we can easily replace define.

If we drop the define aspect, who would decide what is a block of repeated content and what is not? Can we argue that deciding what a block of repeated content is does not need designer's

[2021-12-01 13:02] daniel-montalvo commented on #413
That's good point. That was missing, thanks for bringing this up.

Building on your suggestion, I have come up with:

But I am not really sure if the ask here, being able to annotate these possible descriptions so that other roles have guidance on what they need to provide later on in the implementation phase, is sufficiently conveyed. This may be a good discussion for the TF meeting next Tuesday.

[2021-12-03 12:00] carlosapaduarte commented on #407
No, I don't think that would be a repetition. But I don't think we have teaching ideas to address those.

[2021-12-06 09:44] daniel-montalvo opened #435 "[Module 7: Forms Design] [Topic: Form Elements] "Unintended purpose" unclear"
The expression "unintended purpose" has been found to be unclear. I have taken a pass at [Topic Form Elements](https://deploy-preview-433--wai-curricula.netlify.app/curricula/designer-modules/forms-design/#topic-form-elements) to clarify what we mean.

* the purpose of form elements are defined in the standards
* usin for elementwws with purposes different thant those defined in the standards can

[2021-12-07 09:57] daniel-montalvo opened #436 "[Designer Module 5: Images and Graphics] [Topic Informative Images] Learning outcomes on captcha and biometrics are the other way round in terms of importance"
@sloandr  says:

[2021-12-07 10:20] daniel-montalvo opened #437 "[Module 6: Multimedia and Animations] Examples of flickering/flashing content can put students at risk"
Examples of flickering/flashing content can put some students at risk. Teaching designers to determine what is flashing content and what is not seems far more difficult without explicit examples.

Warnings are required that these contents can be dangerous for some people.

A learning outcome could be added on “Detect content that may include flickering or flashing, and design ways to provide users

[2021-12-07 12:11] daniel-montalvo commented on #398
@sloandr  suggests:

[2021-12-07 13:02] daniel-montalvo commented on #435
Still a bit unclear what "non-standard ways" or "purposes different than those defined in the standard" means.

We could add examples in learning outcome.

Some proposals follow:

[2021-12-07 15:27] daniel-montalvo commented on #403
Preview with changes at
https://deploy-preview-433--wai-curricula.netlify.app/curricula/designer-modules/information-design/#topic-naming-and-grouping

* Back to using "labels" instead of "names for components".
* Explained that some labels are actually names to supplement information conveyed through graphics and other images, for example in links, buttons, and form elements

[2021-12-09 11:55] daniel-montalvo commented on #397
Changed to "use multiple visual and non-visual cues to convey information, including text, color, patterns, and icons"

Will close when merged.

[2021-12-09 17:01] daniel-montalvo commented on #407
Will add those.

[2021-12-10 08:59] daniel-montalvo commented on #401
Hey @carlosapaduarte

I added this in https://github.com/w3c/wai-curricula/commit/c8795b5aa3a05b2b72e7045748a2e6378dae9dff

For preview, see
https://deploy-preview-433--wai-curricula.netlify.app/curricula/designer-modules/visual-design/#topic-styles

I would appreciate your input on the phrase "Explain that it is difficult for some users to read justified text due to the unpredictable spacing crea

[2021-12-10 10:09] daniel-montalvo commented on #402
Hey @carlosapaduarte

Added in https://github.com/w3c/wai-curricula/commit/f19ab624e1a87ac244bc384e99cae3517cdadaab

For preview, see
https://deploy-preview-433--wai-curricula.netlify.app/curricula/designer-modules/information-design/#topic-text-and-structure

Do you agree with this?

[2021-12-10 10:56] daniel-montalvo commented on #404
Hey @carlosapaduarte

Added in https://github.com/w3c/wai-curricula/commit/4b85b3985383c4b412773d4a41a1a9ecb456f5e7

See preview at
https://deploy-preview-433--wai-curricula.netlify.app/curricula/designer-modules/information-design/

Do you agree with these changes?

[2021-12-10 11:31] daniel-montalvo commented on #413
Added in https://github.com/w3c/wai-curricula/commit/8649955671f2963c199eb028abade8a07d61bb80

See preview at
https://deploy-preview-433--wai-curricula.netlify.app/curricula/designer-modules/images-and-graphics/#topic-informative-images

[2021-12-10 11:49] daniel-montalvo commented on #414
Hey @carlosapaduarte

Thanks for pointing this out. I think what is unclear here is the actual responsibility that we are assigning to designers. This whole sentence may deserve a bit of work.

We currently say:

I would propose:

* We scope the designer's responsibilities more clearly -- presentation of the alternatives
* We acknowledge that providing the actual descriptions may be a shared respo

[2021-12-10 12:13] daniel-montalvo commented on #436
Hey @sloandr
Worked in https://github.com/w3c/wai-curricula/commit/c3539fae5c5a09c07ecf7ab69024f6c28f5ebc62

For preview, see
https://deploy-preview-433--wai-curricula.netlify.app/curricula/designer-modules/images-and-graphics/#topic-informative-images

Would you agree with these changes?

[2021-12-13 09:12] daniel-montalvo commented on #437
Added changes.

For preview, see
https://deploy-preview-433--wai-curricula.netlify.app/curricula/designer-modules/multimedia-and-animations/#topic-movement-and-animations

* Reworded warning in the intro paragraphs.
* Added warning in teaching ideas, before the bullets.
* Clarifying responsibility of the instructors to ensure students understand the risks
* Changed references from Techniques to Un

[2021-12-13 10:37] daniel-montalvo commented on #419
I took a pass based on comments. For preview, see
https://deploy-preview-433--wai-curricula.netlify.app/curricula/designer-modules/multimedia-na-d-animations/#topic-alternatives-to-multimedia-content

* Teaching Ideas, fourth bullet
  * Added the diversity of sign languages depending on region and country.
  * Changed "understand written language well" to "use written language as their second lang

[2021-12-13 11:37] daniel-montalvo commented on #435
See preview at
https://deploy-preview-433--wai-curricula.netlify.app/curricula/designer-modules/forms-design/#topic-form-elements

* Used above wording as discussed in [7 December meeting](https://www.w3.org/2021/12/07-wai-curricula-minutes.html).
* Learning outcomes, second bullet -- used examples of "read-only edit boxes when expecting text input" instead of the previous "links versus buttons" f

[2021-12-15 13:11] daniel-montalvo commented on #408
Updated learning outcomes

See preview at https://wai-curricula.netlify.app/curricula/designer-modules/navigation-design/#topic-page-navigation

[2021-12-16 09:09] daniel-montalvo commented on #424
Hey @carlosapaduarte

I propose something like:

This ties back to what we have in Information Design:

[2021-12-16 11:11] daniel-montalvo commented on #422
Hey @carlosapaduarte

Included. Changed "examine" to "evaluate"

[2021-12-27 11:39] carlosapaduarte commented on #424
Hey @daniel-montalvo

I agree with your proposal, but couldn't find it the last preview.

[2021-12-27 11:48] carlosapaduarte commented on #414
Hey @daniel-montalvo

Let me start that I agree with your proposal, and that it clearly scopes the responsibilities.
I mentioned developers in my comment because I understood "providing these text alternatives" as coding the complex image in a way that AT should be able to access the text alternative. With your proposed changes it's clear that this is not about "providing the code" but about "desi

[2021-12-27 11:52] carlosapaduarte commented on #404
Hey @daniel-montalvo

Yes, I believe these changes highlight the role of lists in this context.

[2021-12-27 11:54] carlosapaduarte commented on #402
Hey @daniel-montalvo

Yes. Excellent!

[2021-12-27 12:02] carlosapaduarte commented on #401
I propose a small edit, replacing unpredictable with uneven. We could have a longer version explaining that because of the uneven spacing, we can get those rivers of whitespace running down the page, but I don't think we need to go to that level of detail here.

[2021-12-27 12:06] carlosapaduarte commented on #405
Hey @daniel-montalvo

I was not proposing dropping the "define blocks of repeated content". Just adding that the curricula should also include the definition of the methods to skip the blocks. But I think the current preview has successfully addressed this.

[2022-01-03 08:00] daniel-montalvo commented on #401
That's done now in 94511bc6557f2a1b9f5dc6e62b23351657106387.

[2022-01-03 13:32] daniel-montalvo commented on #412
Hey @carlosapaduarte

The intent was to relate this to how UA and AT process and convey the information, especially in the context of text alternatives versus ordinary plain text.

"evaluating the benefits and pitfalls of the different alternatives to convey equivalent content to the image" seems to be more related to the content author part.

I think the bottom line here for the designer is to

*

[2022-01-03 14:56] daniel-montalvo commented on #411
This has nwo been addressed in
https://deploy-preview-433--wai-curricula.netlify.app/curricula/designer-modules/interaction-design/#topic-keyboard-interactions

[2022-01-03 16:48] daniel-montalvo commented on #399
Hey @carlosapaduarte

Added in

https://deploy-preview-433--wai-curricula.netlify.app/curricula/designer-modules/visual-design/#topic-styles

teaching ideas, third bullet.

[2022-01-04 09:01] daniel-montalvo commented on #424
Hey @carlosapaduarte

This is now in preview
https://deploy-preview-433--wai-curricula.netlify.app/curricula/designer-modules/forms-design/#topic-labels-and-instructions

[2022-01-04 09:43] daniel-montalvo commented on #421
Hey @carlosapaduarte

Added in
https://deploy-preview-433--wai-curricula.netlify.app/curricula/designer-modules/multimedia-and-animations/#topic-alternatives-to-multimedia-content

[2022-01-05 09:09] daniel-montalvo commented on #437
[4 January meeting notes](https://www.w3.org/2022/01/04-wai-curricula-minutes.html#item03)

Need to state clearer that:
- instructors need to warn students in advance -- this avoids instructors giving the warning in the very last minute
- students need to be able to privately opt out -- avoids any undesired public request for a student to expand on why they would want to opt out

We concluded we c

[2022-01-07 09:19] daniel-montalvo commented on #407
Removed the fourth learning outcome  in [Topic Site Navigation](https://deploy-preview-433--wai-curricula.netlify.app/curricula/designer-modules/navigation-design/#topic-site-navigation).

[2022-01-07 17:20] daniel-montalvo commented on #437
After [EOWG meeting Jan 7](https://www.w3.org/2022/01/07-eo-minutes.html), I am proposing the following changes.

* Tweaked warning, now in introduction, second paragraph. Some parts were repetitive and could be shortened. Thanks to @shawna-slh  work in #438
* Reworded teaching ideas, second bullet, to qualify advise to "Show examples of flashing content".

See [Preview](https://deploy-preview-433

[2022-01-20 08:25] #436 closed, assigned to daniel-montalvo

[2022-01-20 08:26] #435 closed, assigned to daniel-montalvo

[2022-01-20 08:28] #424 closed, assigned to daniel-montalvo

[2022-01-20 08:28] #422 closed, assigned to daniel-montalvo

[2022-01-20 08:29] #421 closed, assigned to daniel-montalvo

[2022-01-20 08:30] #420 closed, assigned to daniel-montalvo

[2022-01-20 08:36] #419 closed, assigned to daniel-montalvo

[2022-01-20 08:37] #414 closed, assigned to daniel-montalvo

[2022-01-20 08:38] #413 closed, assigned to daniel-montalvo

[2022-01-20 08:39] #412 closed, assigned to daniel-montalvo

[2022-01-20 08:48] #408 closed, assigned to daniel-montalvo

[2022-01-20 09:02] daniel-montalvo commented on #405
Resolved according to [discussion on LO verbs](https://www.w3.org/2022/01/11-wai-curricula-minutes.html#item03).

[2022-01-20 09:02] #405 closed, assigned to daniel-montalvo

[2022-01-20 09:04] #404 closed, assigned to daniel-montalvo

[2022-01-20 09:09] daniel-montalvo commented on #403
Agreed in https://www.w3.org/2021/12/07-wai-curricula-minutes.html#item06

[2022-01-20 09:09] #403 closed, assigned to nobody

[2022-01-20 09:10] #402 closed, assigned to daniel-montalvo

[2022-01-20 09:10] #401 closed, assigned to daniel-montalvo

[2022-01-20 09:15] #400 closed, assigned to daniel-montalvo

[2022-01-20 09:19] #399 closed, assigned to daniel-montalvo

[2022-01-20 09:26] #397 closed, assigned to nobody

[2022-01-20 09:33] daniel-montalvo commented on #387
Will close both when updating #376

[2022-01-20 09:36] daniel-montalvo commented on #381
Think addressed with resource reorganization. Feel free to provide specifics if needed.

[2022-01-20 09:36] #381 closed, assigned to nobody

[2022-01-20 09:48] daniel-montalvo commented on #376
Closing. Added reference to appropriate modules after structure changes.

[2022-01-20 09:48] #376 closed, assigned to nobody

[2022-01-20 09:48] daniel-montalvo commented on #387
Updated resources. Feel free to reopen if you miss anything.

[2022-01-20 09:48] #387 closed, assigned to daniel-montalvo

[2022-01-20 09:51] daniel-montalvo commented on #411
@carlosapaduarte

I think this is addressed with above changes. Preview: https://deploy-preview-433--wai-curricula.netlify.app/curricula/designer-modules/interaction-design/#topic-keyboard-interactions

Feel free to reopen if needed.

[2022-01-20 09:51] #411 closed, assigned to daniel-montalvo

[2022-01-20 11:05] daniel-montalvo commented on #407
@carlosapaduarte

Preview:
https://deploy-preview-433--wai-curricula.netlify.app/curricula/designer-modules/navigation-design/

I also moved assessment that was previously in topic Site Navigation, for better coverage of learning outcomes for module. "Give students an interface with excessive use of navigational components and ask them to determine which of these navigational components are necess

[2022-01-20 11:05] #407 closed, assigned to daniel-montalvo

[2022-01-20 11:10] sloandr commented on #436
@daniel-montalvo sorry I missed your earlier request for feedback, but confirming the change seems good to me

[2022-01-20 11:12] daniel-montalvo commented on #436
No worries, good to have confirmation.

--

Daniel Montalvo

Accessibility Education and Training Specialist

W3C/WAI

From: David Sloan ***@***.***>
Sent: Thursday, January 20, 2022 12:10 PM
To: w3c/wai-curricula ***@***.***>
Cc: daniel-montalvo ***@***.***>; Mention ***@***.***>
Subject: Re: [w3c/wai-curricula] [Designer Module 5: Images and Graphics] [Topic Informative Images] Learning outcomes

[2022-01-20 12:24] daniel-montalvo commented on #398
Closing as per above commits and [7 Dec TF discussion](https://www.w3.org/2021/12/07-wai-curricula-minutes.html#item05)

[2022-01-20 12:24] #398 closed, assigned to nobody

[2022-01-21 12:09] #437 closed, assigned to daniel-montalvo

[2022-01-28 17:15] carlosapaduarte opened #443 "[Ed-med] Unclear idea to assess knowledge for topic menus"
Location: Module 3: Navigation Design, Topic: Menus, under Ideas to Assess Knowledge, third bullet

Current wording: Give students a navigation menu and ask them to provide visual and non-visual indications about the currently selected item. Assess how students provide appropriate indications about the page location with respect to the entire website.

Suggested revision: Give students a navigatio

[2022-01-31 11:17] #443 closed, assigned to nobody

[2022-02-01 19:18] sloandr opened #450 "Appropriate structure of "For example…" sentences"
While reviewing the latest version of the Design curricula, I noticed several examples of sentences of the following general structure:

"For example, [list of examples containing gerund clauses]."

As an example, in [Designer Module 2](https://wai-curricula.netlify.app/curricula/designer-modules/information-design/), Topic Text and Structure:

Is this sentence structure considered acceptable in W

[2022-02-02 07:48] daniel-montalvo commented on #450
hey @sloandr

Thanks for these comments.

1. I split this type of sentence into to as per EOWG style
https://www.w3.org/WAI/EO/wiki/Style#Punctuation

    <blockquote>
    "For example," OK as own sentence, even if not full sentence. This is generally easier to read, even though not formally correct.
    Usually best:
        <blockquote>Ensure that your design can accommodate visible alternatives

[2022-02-02 08:55] sloandr commented on #450
Thanks for the link to the wiki entry, @daniel-montalvo. That helps clarify things for me with respect to EOWG style conventions.

[2022-02-02 16:21] daniel-montalvo opened #459 "Labels should not include the control's role"
From @sloandr  in #452

Labels like “image of xyz” “link to zyx” “xyz button” are redundant. ATs announce the role’s name (image, link, button, etc.) when using the correct role.

We currently only mention this in [Developer Modules](https://www.w3.org/WAI/curricula/developer-modules/images/#topic-text-alternatives), Images, Text Alternatives, teaching ideas, first bullet:

What do we need to have

[2022-02-03 13:53] shawna-slh commented on #450
Hi @sloandr Indeed EOWG decided on that when working on simplifying language a couple years back. I'm not totally comfortable with it. Perhaps we should revisit?

For now, I support leaving it as is in this resource. I think we do not want to change to "Examples include..." because that seems harder for some people to process than "For Example,..."

[2022-02-11 00:21] KimPatch opened #465 "Suggestions to improve readability"
Here are some subtle changes you can make to improve readability:

1. Remove colons in cases where the text before a set of bullets is not a full sentence (see the Misuse of Colons section at the bottom of [this page](https://www.grammarly.com/blog/colon-2/) for a more detailed explanation)
2. Use a different style of bullet for bullets that are indented
3. Start bullet points with capital letters

[2022-02-16 03:44] PoornimaSubramanian opened #466 "Include Infographic to list out the focus areas of each visual design sections"
The Visual design sections are detailed nicely. My below comment is related to the "Topics to teach" section where similar topics are repeated under each topics.

Suggestion: For intuitive (quick approach) understanding, Include Infographic in either of the below forms -

1. One (big picture) infographic that categorize the Topics to teach -> topics -> visual design components (Color -> Color Cont

[2022-02-16 03:56] PoornimaSubramanian opened #467 "Call out the devices or digital content where the design specs to be applied"
There can be a short section to list out the digital content and types of devices the Visual design specs (in fact to all the design specs) can be applicable -

**Applicability: Devices & Digital Content**

**Devices:**

- Desktop
- Laptop
- Mobile devices
- Tablet devices
- Print documents

**Digital Content:**

- Web pages
- Mobile / Tablet apps
- Digital documents (PDF, Word, Excel)

Above show

[2022-02-16 04:02] PoornimaSubramanian opened #468 "Rephrase 'Students'"
'Students' often refer to the scholars from academic field. As this curricula designed for all learners irrespective of their field of work or study, can this word be rephrased to e.g. 'Learners'  or other similar context?

[2022-02-16 04:09] PoornimaSubramanian opened #469 "A11y Annotations on design prototypes"
In my experience, I always recommended to pass the Accessibility Annotations in the design prototypes itself. These annotations will help the developers to better know the coding principles like Semantics (e.g. H1, H2, lists, landmarks), Page Title, etc.

**Suggestion:** Include a pointer either in 'Learning Outcomes for Module' or 'Ideas to Assess' to mention that

"Annotate Accessibility require

[2022-02-16 04:14] PoornimaSubramanian opened #470 "Include relevant guidelines to each 'Topics to teach' section"
Include relevant WCAG guidelines / techniques links to each 'Topics to teach' section for intuitive learning.

Note: This suggestion is for all the design modules (visual design, information design, etc.)

[2022-02-16 14:46] daniel-montalvo opened #471 "Author versus Writer Modules for title"
The term "author" in WCAG means anybody involved in creating websites, including developers, designers, and writers. Curricula have already

* [Foundation](https://www.w3.org/WAI/curricula/foundation-modules/)
* [Developer](https://www.w3.org/WAI/curricula/developer-modules/)
* [Designer](https://www.w3.org/WAI/curricula/designer-modules/)

The next part will focus more on the writing part.

Propo

[2022-02-17 20:27] shawna-slh commented on #471
Some more context:
* "author" is 41 times in WCAG 2.1 and often is addressing the developer role &mdash; e.g., in _"This success criterion is primarily for Web authors who develop or script their own user interface components."_, the word "authors" is developers/coders.
* We currently have **[Tips](https://www.w3.org/WAI/tips/) for Writing**, Tips for Designing, Tips for Developing
* To get an ide

[2022-02-17 20:36] shawna-slh commented on #471
I wonder if this is scope creep that we don't want to slide into?

[2022-02-21 22:43] eoncins commented on #471
If the scope is to "relate the knowledge about writing to the ability of authoring tools to produce accessible content" it is very narrow.

Content authors as writers, and actually also editors should be able to select and assess at some level the accessibility of the authoring tool to create accessible content. Otherwise, it seems that accessibility is exclusively technology-driven and determined

[2022-02-22 09:48] daniel-montalvo commented on #471
Hey @eoncins

We currently have: "employ authoring tools that produce accessible markup for ..." and "employ authoring tools that support the inclusion of ..."

However, assessing the accessibility of the authoring tool would require quite a significant testing effort from the content author's perspective. I am not sure if it is realistic to think of the content author as someone who will be testi

[2022-02-23 10:04] eoncins commented on #471
Hey @daniel-montalvo thanks for the message and the explanation.

OK!

OK. I do not refer to auditing the accessibility level of the authoring tool but knowing the accessibility features of the given tool.

I understand then that this particular curricula on author/writer only applies to "computer science" students and other areas such as Linguistics or Humanities which are very much in need for t

[2022-02-23 21:29] PoornimaSubramanian opened #472 "Information design - the grouping of form fields can be added"
Under the Topic: Naming and Grouping, an additional pointer can be added as in the bullet point below -

Learning Outcomes for Topic -

- group the related form fields with meaningful section titles to understand its purpose and to easily identify different sections present in the page

[2022-02-23 23:26] PoornimaSubramanian opened #473 "Forms - The guidelines 'autocomplete' can be added to Forms module"
I think the guideline https://www.w3.org/WAI/WCAG21/Understanding/identify-input-purpose.html also applies to Forms.

It can be either be a seperate Topic: Autocomplete or fall under existing Topic: Form elements

Topic to teach -

- understand the ability to programmatically declare the specific kind of data expected in a particular field makes filling out forms easier, especially for people with

[2022-03-08 17:30] carlosapaduarte opened #477 "[Module 2: Content Structure] Content consistency not address in Learning Outcomes"
I'm unsure if consistency (in the way headings, links, navigation and interaction in general are written) should be addressed in this module or the first one. I'm more inclined to place it here (you need structure to have consistency), but irrespectively of where it ends, I believe it's something that needs to be addressed.

[2022-03-08 17:53] carlosapaduarte opened #478 "[Module 6: Labels and Instructions] Do we need this as a module?"
While I agree the content in this module is required, while reading the learning outcomes it felt like a subset of Module 1: Content Clarity
What are the disadvantages of moving this content to the first module? Would it become too large?

[2022-03-08 19:03] sharronrush opened #479 "[Module 1: Content Clarity]"
Seems a bit awkward. I understand that the module is about more than simply "Plain Language" but because of the widely used use of the term it seems that the title or an early learning objective could use the term to reassure people that their thinking is aligned with the module topic.

[2022-03-08 19:06] sharronrush opened #480 "[Module 1: Content Clarity - last LO]"
The last learning objective state that the student will be able to "ensure content grouping and spacing to communicate sections" which is an ambiguous phrase and seems to have more to do with structure than "clarity."

[2022-03-08 19:11] sharronrush opened #481 "[Module 2: Content Structure LO #4 links]"
This would seem to belong in content rather than here. It refers to "clear and meaningful link text" which is not really structure.

[2022-03-08 19:17] sharronrush opened #482 "[Module 2: Content Structure] Unclear language"
I know this is not yet to be wordsmithed but I have to note that the language used in a couple of the LOs around  being "perceivable visually and non-visually" is a bit contorted and could be simplified. A more straightforward phrasing seems especially important in a module focused on content.

[2022-03-08 19:45] iadawn commented on #480
Agreed, the whole section in 'ensure' seemed to me to be more about visual design. Althoguh I think there is a need for content authors to work with visual designers to agree these elements.

[2022-03-08 19:50] iadawn opened #483 "[Module 1: Clear Content] Naming"
Not sure on the name for a couple of reasons:

* I don't think that 'Content' is required - the module is for content authors so I don't know that adding an additional 'content' adds anything. Feel fairly strong on this one.
* 'Clarity' jars a bit with me a little bit althoguh I can't put my finger on why. Words (and phrases which are less useful) that come to mind for this section are 'Understand

[2022-03-08 19:52] iadawn opened #484 "[Module 1: Content Clarity] Emphasize Quality of text alternatives"
Slight niggle but 'use text alternatives' I think should be more about the quality of the text in the text alternative. Possibly something like:

* provide text alternatives that clearly communicate the purpose and content of images and other graphics

Not quite right but something more along those lines perhaps.

[2022-03-08 19:53] iadawn opened #485 "[Module 2: Content Structure] Naming"
I have the same concern about the inclusion of the word 'content' in this title as in #483.

I think 'Structure' would be sufficient on it's own.

[2022-03-08 19:54] iadawn opened #486 "[Module 2: Content Structure] Where to put 'titles'"
I think 'title' is much more of a clarity issue than a structure issue.

[2022-03-08 19:58] iadawn opened #487 "[Overall] Tool choices"
Not sure on the 'tools' section. Certainly someone needs to think about tooling but that cuts across content, design and developers and I don't recall if it was referenced in the other modules. Also, it is likely to be out of the control of many content authors.

Finally, content authors may not appreciate when a tool isn't supporting appropriate markup.

[2022-03-08 20:02] iadawn opened #488 "[Module 4: Images] Overlap on alt text"
Alt text seems to be covered here and in Module 1

[2022-03-08 20:03] iadawn opened #489 "[Module 3: Images] Tool choices"
Same problem as in #487

[2022-03-08 20:04] iadawn opened #490 "[Module 4: Images] Charts"
Charts and graphs I think is a huge challenge. Alternative text alone is often not sufficient and longer descriptions are often necessary. Might need something to discuss that.

[2022-03-08 20:11] iadawn opened #491 "[Module 5: Data Tables] Integrate data and graphs?"
Just thinking about #490 and I wonder if it might be better to integrate data and charts somehow. Learning outcomes might be something like (very rough!):

* explain how people with disabilities rely on appropriate markup to understand, navigate, and process information presented in data tables and charts
* collaborate with designers and developers to create patterns to present complex data struct

[2022-03-08 20:14] sharronrush opened #492 "[Module 4: Images] Shall we use "Data Visualization"?"
The term "data viz" is widely used and understood. Integrating accessibility thinking into current hot topics is useful and I think the term should be used here when we use phrases like "images (including diagrams, charts, maps, and infographics) and their corresponding text alternatives..." and "alternatives for charts, diagrams, maps, and other complex graphics." We are often at risk of seeming

[2022-03-08 20:15] iadawn opened #493 "[Module 6: Multimedia] Responsibility for player requirements"
Not sure this is the content authors responsibility. There is a part of it that almost fits into Developer Modules > Rich Applications but that might be too vague. Perhaps it is more about working with developers and designers?

[2022-03-08 20:17] iadawn opened #494 "[Module 6: Labels and Instructions] Module name"
I wonder if 'Forms' might be more suitable for this. The module talks about error messages which people may miss if it is not called out specifically but 'forms' is much clearer.

This perhaps misses non-form labels and instructions. That might be better placed in clarity or structure under a section about sign-posting and/or calls-to-action?

[2022-03-08 20:19] iadawn opened #495 "[Module 6: Labels and Instructions] Form field labels"
People may not connect 'controls' with 'form elements'. For example, I would think of a 'button' as a control but a text input field isn't. Might just be me though.

[2022-03-08 20:44] sharronrush opened #496 "[Module 6: Labels and Instructions] Qualifying coverage of error messages"
The LO related to error messaging needs to make the point more clearly that error messaging must not only be "clear" but also be specific. It is clear to say "you must fix errors before proceeding" but it is not specific.  Unfortunately, this is a common practice and should be clearly explained and addressed within the module.

[2022-03-08 20:46] sharronrush commented on #494
Good idea to use Forms as the module title. +1

[2022-03-08 22:39] bakkenb opened #497 "[Module 1: Content Clarity] - LO"
[Medium]
The following Learning Objective seems like it should be in the Images and Multimedia module instead...

[2022-03-08 22:46] bakkenb opened #498 "[Module 1: Content Clarity] - Ensure LO"
[Medium]

Under the "Ensure" Learning objective, the first bullet "content grouping and spacing to communicate sections" needs some qualification.

Suggestions:
 - adequate content grouping and spacing to communicate sections
 - content grouping and spacing are adequate to communicate sections
 - content grouping and spacing are adequate to clearly communicate sections

[2022-03-08 22:52] bakkenb commented on #483
Agree on this point. I was leaning towards "Understandable Content" before reading this thread. It is cumbersome, but more accurate of what to convey in the first Module I think.

[2022-03-08 22:54] bakkenb commented on #480
Agree. Added issue #498 before reading this.

[2022-03-08 23:04] bakkenb commented on #486
I thought to agree with this on first read. Then I thought, "Well, the title of the page is the first structural element that should be encountered before the H1."

Not sure about my thinking on this but wanted to add it just in case it helps.

[2022-03-08 23:10] bakkenb commented on #488
Agree. Added Issue #497  before reading this.

[2022-03-08 23:28] bakkenb opened #499 "[Module 5: Data Tables] - Meaningful Presentation"
Would it be useful to add a learning objective about the sequence in which content is presented in a data table should be well thought out for all users including those with disabilities and how they my access and progress through content.

Content Authors can make some poor decisions up front in how data is presented in a table that can make it almost maddening to try and create sufficient headin

[2022-03-08 23:37] bakkenb opened #500 "[Module 5: Multimedia] - Flashing"
Do we need to have a learning objective specifically about understanding how flashing content can be problematic for some. I know this is in the Designer modules, but Authors may actually author some scripts that include visuals of flashing content.

Wondering if this should be an educational learning objective on the issues that flashing content can cause?

[2022-03-08 23:40] bakkenb commented on #478
I was wondering the same thing. If Module 1 was "Understandable Content," then most of this would fit nicely in that module as well.

[2022-03-08 23:45] bakkenb commented on #496
I was also thinking about this suggestion too. I agree with Sharron.

Along other lines, there should be some mention of working with the developer on this Learning Objective as well. "error messages and suggestions for correction when possible"... the suggestion may depend on the required format and format validation that the developer chooses to use when implementing a form.

[2022-03-09 01:41] MicheleAWilliams-A11y opened #501 "[Module 1: Content Clarity] - Fonts and Contrast"
These LO's feel like they are the responsibility of a visual designer:

- "easy to read and easy to understand font types"
- "appropriate contrast ratio for content"

Additionally, under the "Topic: Plain Language" section, this also feels out of place since a developer would have to ensure this piece:

- "employ easy to read font types and sizes, and ensure people can use their preferred font typ

[2022-03-09 01:51] MicheleAWilliams-A11y opened #502 "[Module 3: Images] - What's a "Functional Image"?"
Maybe it will be clearer later but I'm not sure what a "functional image" references - is that like an image button? If so, how does it reconcile with "images of text"? If not, how does it differ from an "informative image"?

[2022-03-09 01:53] MicheleAWilliams-A11y opened #503 "[Module 3: Images] - Should "icons" be part of technical writing?"
This LO feels out of place: "provide icons and symbols that help people better understand text content".

Overall anything to do with iconography feels like visual design but also the objective isn't really clear on what it's promoting (for instance, are we encouraging the use of icons?).

[2022-03-09 01:57] MicheleAWilliams-A11y opened #504 "[Module 3: Images] - Change #1 LO to "rely on the text alternatives""
The first LO reads as "explain how people with disabilities rely on images (including diagrams, charts, maps, and infographics) and their corresponding text alternatives to understand information"

This is awkwardly stated and seems to imply people rely on images (that is, the "diagrams, charts, etc." wording interrupts the main point). Since this is about content creation, I think it's okay to ju

[2022-03-09 02:04] MicheleAWilliams-A11y commented on #491
Highly agree. I'll take it further and say the current Data Table module as it's written doesn't feel needed at all. Additionally, sometimes content creators are not designing a table at all (for example, if the data is coming from some already designed source like a school's grading system or a government science agency). I also like Sharron's idea of including "Data Viz" somewhere (#492).

[2022-03-09 02:09] MicheleAWilliams-A11y commented on #503
Okay, I think I'm having trouble understanding the scope. Is this "Content Authors" module about writing text or generally producing content? I see WCAG includes a lot of guidelines when you narrow by "Content Creation" but I've been thinking this is mostly aimed at technical writers. Clarity will help as I continue to review.

[2022-03-09 02:15] MicheleAWilliams-A11y opened #505 "[Module 5: Multimedia] - Overall question on scope"
I'm not sure how to review this one because I'm getting confused about the audience for this course. Is this supposed to be focused on writers (like technical writers)? I've been assuming things like icons and colors aren't part of this because a "designer" does that but I see WCAG's filter includes a lot of considerations beyond text (see my comment in #503).

So for instance, I wouldn't think so

[2022-03-09 02:30] MicheleAWilliams-A11y opened #506 "[Module 3: Forms] - Explaining accessible names"
One thing I'd love to see is an explanation of an accessible name, how they're used by AT (in particular screen readers and voice control systems), and help understanding when to use ARIA to supplement an accessible name (and when not to). Even though developers make the ultimate decisions, I find it helps when everyone understands these basics and make smart decisions upfront that lead to better

[2022-03-09 08:50] daniel-montalvo commented on #489
Closing. This is expressed in #487 and based on comments this is a general issue for all content author modules.

[2022-03-09 08:50] #489 closed, assigned to nobody

[2022-03-09 09:11] daniel-montalvo commented on #479
Thanks @sharronrush

Will close this and continue the discussion in  #483

[2022-03-09 09:11] #479 closed, assigned to daniel-montalvo

[2022-03-09 09:27] daniel-montalvo commented on #497
Thanks @bakkenb

Will close this and continue the discussion in #488

[2022-03-09 09:27] #497 closed, assigned to nobody

[2022-03-09 10:51] daniel-montalvo commented on #488
Hey @iadawn  and @bakkenb

I thought sign posting this in module 1 would be a good idea. Lack of alternative text makes content unclear if you don't see the image. Lack of iconography that complements text makes content unclear if you have trouble reading.

I do plan to discuss text alternatives in detail in module 3.

Happy to remove if this is creating confusion.

[2022-03-09 11:14] iadawn commented on #488
I think the challenge is just ensuring that the learning outcomes are sufficiently distinct but that they link together clearly enough. That would be where the confusion would arise.

[2022-03-09 12:17] daniel-montalvo commented on #503
Hey @MicheleAWilliams-A11y

My recollection from [18 February discussion](https://www.w3.org/2022/02/18-eo-minutes#item02) is that we did want to include content creators different from technical writers.

This LO is to address requirements mainly for users with cognitive disabilities that have trouble  reading text. See [user story](https://www.w3.org/TR/coga-usable/#symbols-pictographic-or-ideog

[2022-03-09 12:29] daniel-montalvo commented on #505
Hey @MicheleAWilliams-A11y

My recollection from [18 February discussion](https://www.w3.org/2022/02/18-eo-minutes#item02) is that we did want to include content creators different from technical writers. IN the case of audio and video content, TF identified two main scenarios:

* content creator creates accessible audio and video content from scratch
* content creator adds accessibility features

[2022-03-09 12:35] daniel-montalvo commented on #495
Thanks @iadawn

I agree.

We do need to provide specific examples of what we mean by "controls" for people to make this connection.

[2022-03-10 07:00] eoncins commented on #503
In case it helps,
In terms of technical writing that includes icons there is https://www.w3.org/TR/coga-usable/ under section 1 "Summary" (Easy to Understand). Icons are used for understanding the different key points of the document.

See also the following article on the importance of graphics in technical writing:
https://medium.com/technical-writing-is-easy/graphics-in-technical-writing-1c5734

[2022-03-10 07:16] eoncins commented on #505
Maybe if under learning outcome "create audio and video content with:..." the verb "create" is replaced by "ensure that...", such as "ensure that audio and video content includes:" or a similar formula not related to "creation", might help to clarify? I agree that content authors are not always in charge of providing the accessibility services, but they have to "ensure" that accessibility services

[2022-03-10 07:22] eoncins commented on #478
Agree with the comments, as the first module is on difficult language/words and module 6 would be a specific application (labels and instructions). As Carlos, I also wonder if then it might become too large.

[2022-03-10 08:31] daniel-montalvo commented on #478
Hi @carlosapaduarte @eoncins @bakkenb

Agree with you all's assessment. I am proposing this as a separate module because:

* "Labels and Instructions" focuses more in the context of forms and controls, whereas module 1 focuses on content overall
* Including these contents in the first module could create an extra long module 1 and we may be mindful of the balance between modules.

We could put it

[2022-03-10 12:31] daniel-montalvo commented on #506
Hey @MicheleAWilliams-A11y

+1 to make clearer distinctions between accessible names and accessible dewscriptions for links, form fields, and form controls. This module seems like a good place to include this.

Not so sure that we should expect content authors to have knowledge on ARIA.

Do you think that authors themselves may decide which ARIA properties to use?

Do you think these decissions wo

[2022-03-11 12:05] daniel-montalvo commented on #477
Hey @carlosapaduarte

I was not sure either when I was putting this together.

Consistency, as well of meaningful sequence, I think applies to several of these modules, so will add.

[2022-03-11 12:18] daniel-montalvo commented on #486
Hey @iadawn @bakkenb

I agree titles belong to both clarity and structure.

We may want to sign post this in the first module (Clarity) but discuss in detail in structure.

*Clarity aspects* -- Students should be able to write clear, descriptive, and concise page titles as well as put unique info first.

*Structural aspects* -- Students should be able to ensure appropriate markup for titles
We wil

[2022-03-11 12:23] daniel-montalvo commented on #485
Thanks for this suggestion @iadawn

Structure would definitely work well on its own for this. Not so sure about "Clarity" for the first module, we would need to look for something else there.

Overall, We could have:

* Clarity
* Structure
* Images
* Data Tables
* Multimedia
* Forms

But we can leave with these for now and come back to titles later.

Is your issue with one-word versus two-word inc

[2022-03-11 12:24] iadawn commented on #486
+1 on the clarity aim.

Not too sure on the markup for titles. I guess I always feel that markup is much more in the domain of devs than any other role. I know that the real world blends these things a lot more but I think clear lines between things will make the resource clearer.

[2022-03-11 12:26] iadawn commented on #485
It is about including 'content' in the first two titles really. The one-word versus two-word does tweak my desire for neatness a little bit but it wouldn't be an issue if the two words were necessary.

[2022-03-11 12:30] daniel-montalvo commented on #501
That's good suggestion @MicheleAWilliams-A11y

Writers would probably not want to say too much about font sizes and contrast. Someone who is creating a web page using a CMS for instance would probably want to have their say on these things. I think it's good that we make sure have these learning outcomes to adapt their teaching depending on the content authors.

I agree that this is probably overs

[2022-03-14 09:20] daniel-montalvo commented on #504
Hey @MicheleAWilliams-A11y

That's now changed in
https://content-author-topics--wai-curricula.netlify.app/curricula/content-author-modules/images/

[2022-03-14 09:20] #504 closed, assigned to nobody

[2022-03-14 10:22] daniel-montalvo commented on #500
Agreed.

I added something along the lines of "avoid flashing content" to be polished later in:
https://content-author-topics--wai-curricula.netlify.app/curricula/content-author-modules/multimedia/#learning-outcomes-for-module

[2022-03-14 10:31] daniel-montalvo commented on #498
Hey @bakkenb,

It seems like, in addition to rewording, we may need to relate grouping and spacing to structure rather than to clarity and readability.

Will close this and continue the discussion in #480

[2022-03-14 10:31] #498 closed, assigned to nobody

[2022-03-14 10:36] daniel-montalvo commented on #496
Hey @bakkenb  and @sharronrush

Similarly to what we have in the designer modules, I added this in
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/forms/#learning-outcomes-for-module

To be polished later.

It now reads

<blockquote>

* collaborate with designers and developers to provide:
  * instructions about expected input types and formats
  * error

[2022-03-14 10:42] daniel-montalvo commented on #494
Hey @iadawn @bakkenb and @sharronrush

This somewhat relates to #478

We will discuss in TF meeting and will update this accordingly.

[2022-03-14 12:38] daniel-montalvo commented on #493
Thanks @iadawn

This now reads:

<blockquote>

* identify related requirements for designers and developers to make the following perceivable and operable both visually and non-visually:
  * alternatives to multimedia content
  * media players
  * media player controls

</blockquote>

This can be sufficient to teach content authors working on a larger team. I think we still need to come up with so

[2022-03-14 12:42] daniel-montalvo commented on #491
Relating this also to #492

[2022-03-14 12:43] daniel-montalvo commented on #490
Relating this also to #492

[2022-03-14 12:48] daniel-montalvo commented on #473
Thanks for your feedback @PoornimaSubramanian

We will consider this for future iteration. We are now working on the [Content Author modules](https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/)

[2022-03-14 12:49] daniel-montalvo commented on #472
Thanks for your feedback @PoornimaSubramanian

We will consider this for future iteration. We are now working on the [Content Author modules](https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/)

[2022-03-14 12:50] daniel-montalvo commented on #470
Thanks for your feedback @PoornimaSubramanian

We will consider this for future iteration. We are now working on the [Content Author modules](https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/)

[2022-03-14 12:50] daniel-montalvo commented on #469
Thanks for your feedback @PoornimaSubramanian

We will consider this for future iteration. We are now working on the [Content Author modules](https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/)

[2022-03-14 12:53] daniel-montalvo commented on #468
Thanks for your feedback @PoornimaSubramanian

The group has largely discussed these terms and decided to use "students". I agree that each term has different meanings depending on culture and society. "Learners", for example, is associated to primary school in some places.

We will close this for now.

[2022-03-14 12:53] #468 closed, assigned to nobody

[2022-03-14 12:54] daniel-montalvo commented on #467
Thanks for your feedback @PoornimaSubramanian

We will consider this for future iteration. We are now working on the [Content Author modules](https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/)

[2022-03-14 12:55] daniel-montalvo commented on #466
Thanks for your feedback @PoornimaSubramanian

We will consider this for future iteration. We are now working on the [Content Author modules](https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/)

[2022-03-14 12:55] #466 closed, assigned to nobody

[2022-03-14 12:55] daniel-montalvo commented on #450
Closing. Will update status if EOWG revisits this.

[2022-03-14 12:55] #450 closed, assigned to nobody

[2022-03-14 12:57] daniel-montalvo commented on #470
Closing. Duplicate of w3c/wai-website#710

[2022-03-14 12:57] #470 closed, assigned to nobody

[2022-03-14 13:20] iadawn commented on #493
I think I still have an issue with Content Authors taking a role in defining requirements for how media players function. The example you provide of someone who is using a CMS and choosing a media player could be equally applied to the other roles or someone without any of these roles at all, for example a small business owner.

[2022-03-14 15:19] daniel-montalvo commented on #482
Hey @sharronrush
Thanks for these comments. It is always good to avoid as much unclear wording from the start.

I changed "both visually and non-visually" to "visual and non-visual perception of", for example in

Learning outcomes for module

Learning outcomes for topic Headings

See preview at https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/structure/

[2022-03-14 15:28] daniel-montalvo commented on #492
Hey @sharronrush

That is very good suggestion.

I will take a pass at it.

Maybe we could have:

* module 3: text Alternatives -- including text alternatives for functional and informative images mainly
* Module 4: Data Visualization -- including text alternatives for complex images, charts, infographics, and others

Will update this issue as I progress on this.

[2022-03-14 15:32] daniel-montalvo commented on #481
Hey @sharronrush

Based on [15 March TF discussion](https://www.w3.org/2022/03/15-wai-curricula-minutes.html#item04
), this is moved to
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/clarity/

[2022-03-15 13:48] daniel-montalvo commented on #505
That's changed in
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/multimedia/#learning-outcomes-for-module

[2022-03-16 13:37] daniel-montalvo commented on #478
Discussed in [15 March meeting](https://www.w3.org/2022/03/15-wai-curricula-minutes.html#item02)

We will

* keep as a module.
* change title to "Forms" for now
* revisit order later.

[2022-03-16 13:37] #478 closed, assigned to daniel-montalvo

[2022-03-16 13:40] daniel-montalvo commented on #486
Hey @iadawn

Discussed in [15 March meeting](https://www.w3.org/2022/03/15-wai-curricula-minutes.html#item03)

Titles will be discussed from a clarity perspective in the first module.

https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/clarity/

[2022-03-16 13:40] #486 closed, assigned to daniel-montalvo

[2022-03-16 13:43] #481 closed, assigned to daniel-montalvo

[2022-03-16 14:01] daniel-montalvo commented on #502
Hey @MicheleAWilliams-A11y

This clasification is based on the [WAI Tutorials on Images](https://www.w3.org/WAI/tutorials/images/)

  The image button example you mention will be included in functional images.

I plan to differentiate this based on the type of text alternative that authors should provide:

- Functional images -- short, succinct text that conveys the action carried out by the inter

[2022-03-16 14:07] daniel-montalvo commented on #494
Changed to "forms"

https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/forms

[2022-03-16 14:07] #494 closed, assigned to daniel-montalvo

[2022-03-16 14:09] #500 closed, assigned to daniel-montalvo

[2022-03-16 14:13] #496 closed, assigned to daniel-montalvo

[2022-03-18 20:24] shawna-slh opened #507 "[Module 6: Multimedia] Splitting into Topics"
hummm... maybe:

* Audio Content and Video Content -- some is writing text ("script" and kinda "story boarding"), some maybe not directly content authors?, all before production
* Description -- this requires writing text
* Captions, Transcripts, Sign Language -- these are mostly putting existing information in a different form... um, except captions requires deciding what to write about the non-s

[2022-03-21 11:21] daniel-montalvo commented on #492
First attempt to include the concept of "Data Visualizations".

Currently:

- [Module 3: Text Alternatives](https://content-author-topics--wai-curricula.netlify.app/curricula/content-author-modules/text-alternatives/) -- focuses on text alternatives for functional and informative images.
- [Module 4: Data Visualizations](https://content-author-topics--wai-curricula.netlify.app/curricula/content-au

[2022-03-21 11:21] daniel-montalvo commented on #491
First attempt to include the concept of "Data Visualizations".

Currently:

- [Module 3: Text Alternatives](https://content-author-topics--wai-curricula.netlify.app/curricula/content-author-modules/text-alternatives/) -- focuses on text alternatives for functional and informative images.
- [Module 4: Data Visualizations](https://content-author-topics--wai-curricula.netlify.app/curricula/content-au

[2022-03-21 11:26] daniel-montalvo commented on #490
First attempt to include the concept of "Data Visualizations".

Currently:

- [Module 3: Text Alternatives](https://content-author-topics--wai-curricula.netlify.app/curricula/content-author-modules/text-alternatives/) -- focuses on text alternatives for functional and informative images.
- [Module 4: Data Visualizations](https://content-author-topics--wai-curricula.netlify.app/curricula/content-au

[2022-03-21 11:57] daniel-montalvo commented on #493
This seems to be the position of the TF based on last discussions.

I am proposing to:

* keep the part on "identify related requirements for designers and developers" similarly to what we have in developers and designers curricula to cross reference other role's responsibilities
* withdraw from adding explicit LOs for content authors on defining requirements for media players

[2022-03-23 09:24] daniel-montalvo commented on #495
Addressed in
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/forms/

[2022-03-23 09:24] #495 closed, assigned to daniel-montalvo

[2022-03-23 09:26] daniel-montalvo commented on #502
Closing based on above comment and further [Task Force discussion](https://www.w3.org/2022/03/22-wai-curricula-minutes.html#t02)

[2022-03-23 09:26] #502 closed, assigned to daniel-montalvo

[2022-03-23 09:32] daniel-montalvo commented on #501
Closing. Currently we say:

https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/clarity/#learning-outcomes-for-topic

[2022-03-23 09:32] #501 closed, assigned to daniel-montalvo

[2022-03-23 09:33] daniel-montalvo commented on #505
Closing. Further discussions on multimedia module to be hold in #507

[2022-03-23 09:33] #505 closed, assigned to daniel-montalvo

[2022-03-23 10:06] daniel-montalvo commented on #492
This separation seemed awkward for the TF in [yesterday's discussion](https://www.w3.org/2022/03/22-wai-curricula-minutes.html).

The TF appreciates consistency with the developers and designers curricula, where we tend to have module titles around specific pieces of content.

Will go back to "Images" and "Tables" and will try to include these mentions to "Data visualizations" where appropriate in

[2022-03-23 10:12] daniel-montalvo commented on #490
This separation seemed awkward for the TF in [yesterday's discussion](https://www.w3.org/2022/03/22-wai-curricula-minutes.html).

The TF appreciates consistency with the developers and designers curricula, where we tend to have module titles around specific pieces of content.

Will go back to "Images" and "Tables" and will try to include these mentions to "Data visualizations" where appropriate in

[2022-03-23 10:57] daniel-montalvo commented on #485
We are now clear on Module 2: Structure

[2022-03-23 10:57] #485 closed, assigned to daniel-montalvo

[2022-03-23 11:04] #482 closed, assigned to daniel-montalvo

[2022-03-23 11:24] daniel-montalvo commented on #471
I think the audiences you mention are under the umbrella of content author and we should cover them. But I think we should focus more on our primary audience: instructors who are going to create courses for teaching content authors, irrespective of their field of study.

I will close this as it was originally about the overall naming for the resource and I invite you to keep the discussion going i

[2022-03-23 11:24] #471 closed, assigned to daniel-montalvo

[2022-03-28 08:46] daniel-montalvo commented on #483
Changed to "clear Content" for now.

After having played with "Clarity", "Content Clarity", "Understandable Content", and "Clear Content", the latter:

* sounds best
* is less of a tongue twister
* conveys what is currently discussed in that module

[2022-04-05 23:38] MicheleAWilliams-A11y commented on #506
Hey there, I know people feel like ARIA is a big topic but I think in the end it helps for everyone to know some of the basics like label, labelled by, and described by. In my experience, developers are often guessing at what attributes to use because designers and writers just stay in the lane of creating the look, for instance, without considering it will need in the code to be effective. So I w

[2022-04-05 23:41] MicheleAWilliams-A11y commented on #491
I'm late to updating my comments but I like the new direction for the topics (and I know we've been discussing on EO calls as well but just putting that here to close the loop). Excited to see more!

[2022-04-05 23:43] MicheleAWilliams-A11y commented on #502
I'm late to my comments but, yes, that makes more sense when listed with definitions like this. Thanks!

[2022-04-05 23:45] MicheleAWilliams-A11y commented on #501
Sorry I'm late but yes, this update makes sense. You're right that sometimes content authors work with the CMS which may then get into visual design a bit, but then they would hopefully take some courses on design as well 🙂!

[2022-04-11 09:49] daniel-montalvo commented on #480
Hey @bakkenb @iadawn @sharronrush

closing as per above input and TF discussions.

[Module 1: Clear Content, learning outcomes for module](https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/clear-content/#learning-outcomes-for-module), say:

[Module 2: Structure, learning outcomes for module](https://content-author-modules--wai-curricula.netlify.app/curricul

[2022-04-11 09:49] #480 closed, assigned to daniel-montalvo

[2022-04-11 10:02] daniel-montalvo commented on #484
Hey @iadawn @bakkenb

Closing.

Ref:
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/clear-content/#learning-outcomes-for-module

Currently it says:

More wording tweaks may come later. But I think we have nailed down the distinction now.

[2022-04-11 10:02] #484 closed, assigned to daniel-montalvo

[2022-04-12 11:37] daniel-montalvo commented on #507
First attempt at splitting this module into topics is at
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/multimedia/#topics-to-teach

[2022-04-19 10:18] daniel-montalvo commented on #487
Hey @iadawn

Much of the work that content authors do is based on their authoring tool, so TF thinks it makes sense to make a bit more emphasis than in other curricula.

We have qualified this a bit based on above input and [12 April TF discussion](https://www.w3.org/2022/04/12-wai-curricula-minutes.html#item01)

* Instructor competencies -- "Accessible Authoring tools" -> "Accessible content crea

[2022-04-19 10:18] #487 closed, assigned to nobody

[2022-04-19 10:45] daniel-montalvo commented on #477
Hey @carlosapaduarte

I took a pass at these. in [Module 2: Structure](https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/structure/)

* Learning Outcomes for Module

* Learning outcomes for Topic Headings

* Learning Outcomes for Topic Orientation and Navigation

I think this covers the above comments. Closing. Feel free to reopen before the survey or to pr

[2022-04-19 10:45] #477 closed, assigned to daniel-montalvo

[2022-04-25 12:20] daniel-montalvo commented on #503
Closing. Keep references to icons as per https://github.com/w3c/wai-curricula/issues/503#issuecomment-1063726784

[2022-04-25 12:20] #503 closed, assigned to daniel-montalvo

[2022-05-02 14:48] sharronrush opened #510 "[Content Author Modules Overview Page] suggested edits (Editor's Discretion)"
Suggested edit for intro:
The content author modules provide a framework to use to create course work that:
    explains that accessibility relies upon clear content
    demonstrates how accessible content enables people with disabilities to effectively use websites and applications
    teaches accessible authoring techniques for:
        text
        forms
        images
        tables
        mu

[2022-05-02 14:55] sharronrush opened #511 "[Content Author, Module 1] Suggested edits (ED)"
"explain how clear, easy to understand, and easy to read content benefits accessibility"

benefits accessibility seems an awkward phrase to me though I don't feel strongly. My suggestion is this:

explain the accessibility benefits of providing content that is clear, easy to understand, and easy to read.

[2022-05-02 15:12] sharronrush opened #512 "[Content Author Module1] Learning Objectives"
This is a great tag line in the video but does not quite have the same purpose here. If the focus is on disability access, it should stand alone - OK to add "benefits all" but in another bullet

Suggested edit:
- explain how clear, easy to understand, and easy to read content is essential for some people with disabilities to be able to effectively interact with the web
- note that clear content pr

[2022-05-02 15:14] sharronrush opened #513 "[Content Author Module1] Learning Objectives - need flexibility?"
This seems good but may be incomplete - should there be a mention of scalability, flexibility in font types and sizes?

identify related requirements for designers and developers to ensure:
    appropriate contrast ratio for content
    easy to read and easy to understand font types and sizes

[2022-05-02 15:28] sharronrush opened #514 "[Content Author Module1] Topic: Easy to Understand"
This sentence contradicts itself - the language can be clearer:
Students should be able to:
- utilize clear language to support readability, clarity, and conciseness by using the following where possible:

Suggested edit
Students should be able to:
- apply clear language to support readability and clarity using these techniques:
    clear and straightforward **language**
    short sentences
    ac

[2022-05-02 15:45] sharronrush opened #515 "[Content Author Module1] Teaching ideas"
When we advise clear language we have a special responsibility to write clearly and crisply ourselves. The language in this section could be sharper, more direct, and model the mode we are recommending. Something like:

* Give students text comparisons.  Provide text passages with clear language that is easy to read and understand. Compare those with passages that are overly complex and harder to

[2022-05-02 15:55] sharronrush opened #516 "[Module 2: Structure] Intro"
Suggested rewrite:

* explore web page structures such as headings, paragraphs, sections, and lists, and explain their critical importance in orientation and navigation for people with disabilities

[2022-05-03 15:42] carlosapaduarte opened #518 "[Module 1: Clear Content] Competencies"
One of the student's competencies is "Basic knowledge of: Content creation"
I would argue that "Content creation" is too generic and broad to be useful.
What does it mean? The student should be able to use a tool to create content (e.g. a word processor, an image editor), or is it the student should know how to write or draw, or anything else?

Do we really need to include this competency?

[2022-05-03 15:59] carlosapaduarte opened #519 "[Module 1: Clear Content] Learning outcome out of scope"
The following learning outcome "write text alternatives that clearly describe the purpose and communicate the content of images and other graphics" is out of scope of this module and should be addressed in the Images module.

[2022-05-03 16:04] carlosapaduarte opened #520 "[Module 1: Clear Content] Topic: Terminology has content that seems more adequate for the Clear Content topic"
The first learning outcome states "utilize words that are easy to understand for the target audience".
The second teaching idea states "Reflect with students about terms that are difficult to understand based on audience and context"
The final idea to assess knowledge states "Practical — Give students a piece of text with terms that are difficult to understand. Ask them to either provide an explan

[2022-05-03 16:05] carlosapaduarte opened #521 "[Module 1: Clear Content] Topic: Titles and Links"
Not all links are text! Should we have something here to indicate that images which are links should have a descriptive accessible name, or is this covered only in the images module?

[2022-05-03 16:35] carlosapaduarte opened #523 "[Module 3: Forms] Learning outcome about writing errors messages"
I'm missing a learning outcome on writing error messages. There is one about collaboration with designers and developers, but I believe there should be one specifically for content authors about writing.

[2022-05-03 16:36] carlosapaduarte opened #524 "[Module 3: Forms] Topic: Error messages"
I would like to have a learning outcome in the this topic, about collaboration with designers and developers to produce the errors messages. The content author is responsible for writing the messages. The designer is responsible for styling them and deciding where they appear in relation to the form or input field. And the developer is responsible for ensuring that they are programmatically associ

[2022-05-03 16:47] carlosapaduarte opened #525 "[Module 4: Images] Learning outcome about decorative images but not topic addressing it"
There is a learning outcome about decorative images. But no topic addressing it. The informative images topic almost touches on this (when stating "Explain that these images are considered informative when they present information that is not otherwise available in the adjacent text.") but that does not cover everything about decorative images.

[2022-05-03 16:56] carlosapaduarte opened #526 "[Module 5: Data Tables] Not enough content about complex tables"
I don't think complex tables are sufficiently covered in the module.

There is this learning outcome: "collaborate with designers and developers to present multi-column content using CSS styles instead of layout tables". And there is not much more.

Perhaps we could include teaching ideas in the "Table Header Cells" to demonstrate how complex tables are rendered by assistive technologies, what is

[2022-05-03 17:06] carlosapaduarte opened #527 "[Module 6: Multimedia] Learning outcome on media players"
Should we include a learning outcome about identifying accessibility requirements for media players? Or do we consider this out of scope for content authors?

[2022-05-03 18:35] sharronrush opened #528 "[Module 3: Forms] Intro (ED)"
I find the flow of the sentence to be interrupted by a list within a dependent clause. How about breaking it up like this:

Courses based on this module should:
* consider form fields and their controls, including edit boxes, list boxes, buttons, and other form interactions
* demonstrate how people with disabilities rely on clear labels and instructions to understand and successfully interact with

[2022-05-03 18:55] sharronrush opened #529 "[Module 3: Forms] learning outcomes (ED)"
A suggested edit pass to simply the language:

Students should be able to
* demonstrate understanding of a variety of form fields and controls. These may include edit boxes, list boxes, buttons, and and other form interactions
* explain why people with disabilities rely on clear labels and meaningful instructions to understand and successfully interact with web pages and applications
*  write labe

[2022-05-04 11:47] daniel-montalvo commented on #511
Hey @SharronRush

Thanks for the suggestion. I took a pass at this and thought we could simplify this even more by saying:

[2022-05-04 12:53] sharronrush opened #530 "[Module 3: Forms] Teaching Ideas for Topic: Labels"
I added the first two bullets and tried to streamline the language in the other ones.

* Review and verify that students have clarity about terms - forms, form controls, labels, etc
* Demonstrate the native accessibility of standard HTML form elements, and remind students that WAI-ARIA properties may only be required when building highly customized form fields and controls. Warn against overuse of

[2022-05-04 20:35] kakinney commented on #519
I had the same question about this learning outcome.  It seemed out of place.

[2022-05-05 09:33] daniel-montalvo commented on #519
Thanks @carlosapaduarte  and @kakinney

@iadawn had a similar comment before. I thought this was a nice cross references to the module on images but it seems it is not working as expected. Will remove.

[2022-05-05 09:33] #519 closed, assigned to nobody

[2022-05-05 14:42] daniel-montalvo commented on #529
Hey @sharronrush

Thanks for these edits.

See my replies below.

Not sure if we should include this. I recall a similar discussion for the designer modules "Forms Design. EOWG agreed that this was out of scope for an accessibility curricula.

Will do.

Will do.

Instructions themselves may or may not make for a successful interaction. Success or failure may depend on other factors that may even b

[2022-05-05 14:57] daniel-montalvo commented on #528
Hey @sharronrush

That is good point. That first list bullet gets overly complicated.

I am not sure about the use of the verb "consider" in this context. This is to communicate in one or two sentences what we expect courses to teach based on the module contents.

"Courses based on this module should consider" is a bit vague to me. Explain and demonstrate are the verbs we use for these sections on

[2022-05-06 07:57] daniel-montalvo commented on #510
Hey @sharronrush

Thanks for these suggestions. See my replies below.

I'd like to stick with what we have previously used for designers and developers "guide the creation of courses that" + use of plural verbs at start:

Will do.

Will do.

If I am not mistaken, this remains the same as it was.

[2022-05-06 08:08] daniel-montalvo commented on #512
Hey @sharronrush

I thought this would play nicely with the videos and would help cross-reference our own resources. I disagree with putting the benefits to all on a separate learning outcome bullet. We would put "is essential for people with disabilities" and "benefits all" at the same level, and I think the main focus of these curricula should remain on people with disabilities. Good to mention

[2022-05-06 09:21] daniel-montalvo commented on #514
Hey @sharronrush

Suggested edits applied.

I will track work on flexibility and scalability in #513

[2022-05-06 09:21] #514 closed, assigned to nobody

[2022-05-06 09:27] daniel-montalvo commented on #516
Hey @sharronrush

Thanks for these suggestions.

Where does this suggestion belong? It is not clear to me if this is for the "Introduction" or for the "Learning outcomes for module".

[2022-05-06 10:49] daniel-montalvo commented on #518
Hey @carlosapaduarte

Thanks for bringing this to my attention. I agree this is now too generic. I was thinking about all you say, and we should possibly add more.

- writing
- editing
- proof reading
- publishing

We could have specifics per modules as well. I will update the live draft with these at
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/

Just

[2022-05-06 10:51] daniel-montalvo commented on #520
Hey @carlosapaduarte

Thanks for catching this.

These clearly got mixed up. I will put them where they belong.

[2022-05-06 10:56] daniel-montalvo commented on #521
Thanks @carlosapaduarte

I think we can have this in both. A brief mention in the first of the modules and a more detailed coverage in Module 4: Images, Topic Functional Images probably.

[2022-05-06 12:50] beltonTPG opened #531 "[Module 1: Clear Content] Titles and Link Text Learning Outcomes consistency"
For the sake of consistency, I think we should update the following in the Titles and Link text Learning Outcomes:

- include relevant information about the link destination in the link text where possible, for example:
  - the target resource title
  - if the link will open a new window
  - the file type and format (when linking to a file)

To:

- include relevant information about the link desti

[2022-05-06 13:20] daniel-montalvo commented on #523
Thanks @carlosapaduarte

See
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/forms/#learning-outcomes-for-module

There is a specific LO now about error messages for content authors.

I took an overall pass at this based on @sharronrush  input on #529

[2022-05-06 13:37] daniel-montalvo commented on #524
Thanks @carlosapaduarte

I suggest we add the following at the end of the list:

We already have "write error messages that identify the field in error and specify the cause of the error" before in the list, so I think these additions nicely point out the related requirements while underlying the specific authors responsibilities.

[2022-05-09 10:52] daniel-montalvo commented on #527
Hey @carlosapaduarte

I would say identify works, as long as we weave it in so that it does not conflict with  #493

The question would then be who is responsible for applying such requirements. If we agree it is the developer, then we have an issue in the developers part as this was probably not clear enough in the "Rich applications" module, where I think it would fit best.

[2022-05-09 14:10] carlosapaduarte commented on #527
I agree with you that it is the developer's responsibility to enforce the requirements. Can't we update the developers module?

[2022-05-09 14:59] carlosapaduarte commented on #527
Agreed!

[2022-05-09 16:17] eoncins opened #532 "[Module 1: Clear Content] "terminology""
I would suggest to avoid the word "terminology" under "Topics to teach" and maybe use "complex terms" which is also used as a bullet point.

[2022-05-09 16:19] eoncins opened #533 "[Module 4: Images] CAPTCHA"
No mention to CAPTCHA is made on Forms but the reference is made on Images.
Question: should CAPTCHA be under Images or under Forms?

[2022-05-10 12:27] daniel-montalvo commented on #532
That's good suggestion. I will change accordingly.

--

Daniel Montalvo

Accessibility Education and Training Specialist

W3C/WAI

From: eoncins ***@***.***>
Sent: Monday, May 9, 2022 6:17 PM
To: w3c/wai-curricula ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [w3c/wai-curricula] [Module 1: Clear Content] "terminology" (Issue #532)

I would suggest to avoid the word "terminology" under "Topics

[2022-05-12 15:58] MicheleAWilliams-A11y opened #534 "[Module 1: Clear Content] - Missplaced learning outcome?"
It lists the following as a learning outcome but perhaps this was meant to be deleted?

Seems this would go with "Images" and also isn't represented in the detailed course text.

[2022-05-12 16:19] MicheleAWilliams-A11y opened #535 "[Module 4: Images] - Missing "or" in Learning Outcomes for Informative Images"
The opening text for "Informative images" correctly states "They require a short, clear description provided in the image text alternative or through the adjacent text."

However, in the Learning Outcome bullet points, the following text needs an "or" added to ensure we're not saying do both of these:

provide quality text alternatives that convey the information in the images using:
- clear and d

[2022-05-13 10:10] daniel-montalvo commented on #534
Thanks @MicheleAWilliams-A11y

That's now removed from the current live draft at
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/clear-content/#learning-outcomes-for-module

[2022-05-13 10:10] #534 closed, assigned to nobody

[2022-05-13 10:14] daniel-montalvo commented on #533
Hey @eoncins

Thanks for bringing this up.

We've traditionally had this under images in designers and developers. I think it makes sense to keep it there for content authors as well.

It'd be good to cross reference to the image module from the forms module, though.

[2022-05-13 11:42] daniel-montalvo commented on #535
Hey @MicheleAWilliams-A11y

Thanks for bringing this up.

Will read:

[2022-05-13 11:53] daniel-montalvo commented on #531
Thanks @beltonTPG
Updated

https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/clear-content/#topic-titles-and-link-text

[2022-05-13 11:53] #531 closed, assigned to nobody

[2022-05-13 12:11] #535 closed, assigned to nobody

[2022-05-13 13:35] daniel-montalvo commented on #532
Updated at
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/clear-content/#topic-complex-terms

[2022-05-13 13:35] #532 closed, assigned to nobody

[2022-05-15 03:22] walletsecured opened #536 "BankingBb"

[2022-05-16 07:21] daniel-montalvo commented on #524
added in
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/forms/#topic-error-messages

[2022-05-16 07:21] #524 closed, assigned to nobody

[2022-05-16 07:24] daniel-montalvo commented on #506
Added in
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/forms/#topic-labels

Teaching ideas, last bullet.

[2022-05-16 07:24] #506 closed, assigned to daniel-montalvo

[2022-05-16 07:29] daniel-montalvo commented on #488
No reference to alt text in [module 1: Clear Content](https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/clear-content/#learning-outcomes-for-module)  based on this and other comments.

[2022-05-16 07:29] #488 closed, assigned to daniel-montalvo

[2022-05-16 08:10] daniel-montalvo commented on #492
Addressed as per [EOWG Meeting 25 March](https://www.w3.org/2022/03/25-eo-minutes.html#t02)

[2022-05-16 08:10] #492 closed, assigned to daniel-montalvo

[2022-05-16 08:11] daniel-montalvo commented on #490
Addressed as per [EOWG Meeting 25 March](https://www.w3.org/2022/03/25-eo-minutes.html#t02)

[2022-05-16 08:11] #490 closed, assigned to daniel-montalvo

[2022-05-16 08:12] daniel-montalvo commented on #491
Addressed as per [EOWG Meeting 25 March](https://www.w3.org/2022/03/25-eo-minutes.html#t02)

[2022-05-16 08:12] #491 closed, assigned to daniel-montalvo

[2022-05-16 08:18] daniel-montalvo commented on #507
Closing. No major concerns with current topic outline.

[2022-05-16 08:18] #507 closed, assigned to nobody

[2022-05-16 09:44] daniel-montalvo opened #537 "[Module 2: Structure] [Topic: Paragraphs and Lists] Should definition lists be mentioned"
Pros:

- have now broader scope according to HTML Living Standard
- easy to implement in HTML / Markdown

Cons:

- not all major authoring tools support them
- they are neither widely used nor sufficiently understood by users

[2022-05-16 11:16] #536 closed, assigned to nobody

[2022-05-16 11:55] daniel-montalvo commented on #530
Hey @sharronrush

Thanks for bringing this up.

I applied your suggested edits to the existing bullets. I have questions around the two new bullets you proposed to add at the top. See below for questions.

I am not sure that this is aligned with other similar teaching ideas that we have throughout. I would be more comfortable with having guidance for instructors on how they could review and verify

[2022-05-16 12:32] daniel-montalvo commented on #520
These now are where they belong.
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/clear-content/#topic-easy-to-understand-language

[2022-05-16 12:32] #520 closed, assigned to daniel-montalvo

[2022-05-16 12:39] daniel-montalvo commented on #529
Edits applied based on theese commeents and also other issues.
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/forms/#learning-outcomes-for-module

[2022-05-16 12:39] #529 closed, assigned to nobody

[2022-05-17 07:46] daniel-montalvo commented on #528
Addressed in
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/forms/

[2022-05-17 07:46] #528 closed, assigned to nobody

[2022-05-17 07:49] #523 closed, assigned to nobody

[2022-05-17 08:17] daniel-montalvo commented on #521
Hey @carlosapaduarte

Ref:
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/

I added more info about graphical buttons and links in

- Clear content > Titles and Link Text
  - Added teaching idea
    "Reflect with students on the use of images as links, for example in logos. When using images as links, the image should contain an alternative text that des

[2022-05-17 08:17] #521 closed, assigned to daniel-montalvo

[2022-05-17 10:34] daniel-montalvo commented on #512
Hey @sharronrush

Closing this issue. Feel free to reopen if you disagree with current approach.

https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/clear-content/#learning-outcomes-for-module

[2022-05-17 10:34] #512 closed, assigned to nobody

[2022-05-17 10:35] daniel-montalvo commented on #511
Closing, edits applied.
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/clear-content/#introduction

[2022-05-17 10:35] #511 closed, assigned to nobody

[2022-05-17 10:37] daniel-montalvo commented on #510
Closing, edits applied.

https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/

[2022-05-17 10:37] #510 closed, assigned to nobody

[2022-05-18 09:33] daniel-montalvo commented on #483
Hey @iadawn

We have now taken a pass at all names. We have:

- streamlined the titles
- removed "content" in other modules where that felt repetitive

The only one that has content in it is "Clear Content".

- We think "Clear" somewhat needs a qualifier.
- "Clarity" alone is difficult to pronounce
- "Plain Language" is just a sub set of what is covered here.

Would you be comfortable if we keep "

[2022-05-23 09:34] daniel-montalvo commented on #525
Resolution
https://www.w3.org/2022/05/17-wai-curricula-minutes.html#item02

[2022-05-23 10:06] daniel-montalvo commented on #513
Hey @sharronrush

thanks for raising this.

I am not clear what "flexibility and scalability" would add here.

I think we should focus this more to student being aware that users may choose their preferred font types and sizes, but we cover this in the designer modules already.

We could try to be more succinct here and have something like:

[2022-05-24 13:54] beltonTPG commented on #537
I also believe that screen reader support is not there. I think JAWS flattens them to an unordered list.

BTW, the current terminology is "description list" - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dl
(I think it has changed 3 times)

[2022-05-24 14:06] daniel-montalvo commented on #537
Thanks for reminding me of this,  @beltonTPG
We have "description lists" in our developer modules. So by the time we published them they had already made that change.

https://www.w3.org/WAI/curricula/developer-modules/page-structure/#topic-sections-of-content

If we add something in the ocntent author modules, we will definitely stick to that.

[2022-05-24 15:59] bakkenb commented on #537
+1 to add.

[2022-05-25 07:55] daniel-montalvo commented on #537
This is now added in
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/structure/#topic-paragraphs-and-lists

[2022-05-25 07:55] #537 closed, assigned to nobody

[2022-05-31 11:40] daniel-montalvo commented on #526
Hey @carlosapaduarte

I took a pass at [Module 5: Data Tables, Topic Table Headers](https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/data-tables/#topic-table-headers) and added:

* Learning outcome: "specify the scope for headers that span multiple rows or columns"
* Teaching idea: "Give students tables with headers that span multiple rows and columns. Hel

[2022-05-31 15:34] carlosapaduarte commented on #526
Hi @daniel-montalvo

Thanks for the changes. I'm happy with these.

[2022-05-31 15:59] #526 closed, assigned to nobody

[2022-06-03 23:26] hkramer opened #539 "[Module 6: Multimedia] Interactive Transcripts"
I thought everything looked good. The only item I thought might be added was to perhaps have students view a site with interactive transcripts and captioning to see the benefits of captioning and transcripts for numerous audiences. For example both Harvard and MIT have such video libraries: see https://www.hsph.harvard.edu/voices/events/helen-clark-prime-minister-of-new-zealand-1999-2008-2/ as an

[2022-06-07 16:24] daniel-montalvo opened #540 "[Module 1: Clear Content] Should we clarify "Easy to read" terminology?"
Thanks to @eoncins for bringing this to our attention.

Ref:
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/clear-content/

"Easy to read" in Europe is becoming more and more associated to the Easy-to-read Logo, which requires a validation by end-users. For context, see
https://www.inclusion-europe.eu/wp-content/uploads/2021/02/How-to-use-ETR-logo..pdf

[2022-06-10 11:58] jade-mc commented on #540
What about changing it to readable?
I'd say in this context, easy to read and easy to understand are more or less the same thing...

[2022-06-13 11:25] daniel-montalvo commented on #533
Going back to the developer modules and the designer modules, CAPTCHA is discussed in the images modules, not in the forms modules.

- [Developer Module Images](https://www.w3.org/WAI/curricula/developer-modules/images/)
- Designer Module Image and Graphics](https://www.w3.org/WAI/curricula/designer-modules/images-and-graphics/)

[Forms](https://www.w3.org/WAI/curricula/developer-modules/forms) an

[2022-06-13 11:39] daniel-montalvo commented on #515
Many thanks for bringing this to my attention, @sharronrush

This is now updated in teaching ideas for topic "Easy to Understand Language".
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/clear-content/#topic-easy-to-understand-language

This section has changed significantly since the last review.

I am closing this as I think it looks overall much clear

[2022-06-13 11:39] #515 closed, assigned to daniel-montalvo

[2022-06-13 11:40] daniel-montalvo commented on #515
Many thanks for bringing this to my attention, @sharronrush

This is now updated in teaching ideas for topic "Easy to Understand Language".
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/clear-content/#topic-easy-to-understand-language

This section has changed significantly since the last review.

I am closing this as I think it looks overall much clear

[2022-06-13 11:46] daniel-montalvo commented on #493
Updating title and scope as per TF discussion.
https://www.w3.org/2022/05/17-wai-curricula-minutes.html

Closing. Related discussion for future reference is in w3c/wai-website#702

[2022-06-15 00:12] shawna-slh opened #541 "[all] include "Curricula" in title"
currently it's:

UPDATE BELOW

<s>
At minimum, I think we should add "Curricula":

Maybe also category. Maybe just "WAI":

</s>

[2022-06-15 09:22] daniel-montalvo commented on #541
Thanks @shawna-slh
We have been postponing this until the very end of the cycle when we have the whole picture and I think it makes perfect sense.

I would do:

- "Foundation Module 0: Module Title | Curricula | W3C/WAI"
- "Developer Module 0: Module Title | Curricula | W3C/WAI"
- "Designer Module 0: Module Title | Curricula | W3C/WAI"
- "Content Author Module 0: Module Title | Curricula | W3C/WAI

[2022-06-15 10:34] daniel-montalvo commented on #525
Hey @carlosapaduarte

Thanks.

Closing per above discussion and work.

[2022-06-15 10:34] #525 closed, assigned to daniel-montalvo

[2022-06-15 10:49] #493 closed, assigned to daniel-montalvo

[2022-06-15 10:50] daniel-montalvo commented on #527
Hey @carlosapaduarte

Marking this for future iteration based on
https://www.w3.org/2022/05/17-wai-curricula-minutes.html

[2022-06-15 10:53] daniel-montalvo commented on #513
Hey @sharronrush

Closing. I think the work described above addressed this. Feel free to reopen if you have further concerns.

[2022-06-15 10:53] #513 closed, assigned to daniel-montalvo

[2022-06-15 12:18] daniel-montalvo commented on #540
Closing. We will leave this as-is for now.

[2022-06-15 12:18] #540 closed, assigned to nobody

[2022-06-15 12:31] daniel-montalvo commented on #499
Hey @bakkenb
Ref:
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/data-tables/

We have currently:

- "meaningful sequences for different user configurations and assistive technologies".
- "ensure people can understand content in data cells when navigating one cell at a time"

I am closing this as I think this is now much clearer. Feel free to reopen if y

[2022-06-15 12:31] #499 closed, assigned to daniel-montalvo

[2022-06-15 15:37] shawna-slh commented on #541
@daniel-montalvo Currently, WAI site titles are similar to a reverse breadcrumb and end in

or

I assume we want to stick with that. (not "W3C/WAI")

Per our discussion in EO-Plan today, maybe we want to frontload the module name for frequent users of a set of modules? And let people who land on a page from a search engine get the context from the h1 and breadcrumb, rather than all from the title?

[2022-06-15 15:39] shawna-slh commented on #541
Steve helped with ```<title>``` for the recent minimal header resources, and I expect he can help with this. :-)

@SteveALee, I would say this is medium priority for you, not high.

[2022-06-16 09:33] SteveALee commented on #541
Short story is by setting the `title` variable in each page you can get the form

  <title>{page.title} | Web Accessibility Initiative (WAI) | W3C></title>

If the variable `title_html` is not set then `title` is also used for the page H1

That is a lot of repetition for you, but abstracting and simplifying would require extra work to the dafault_layout due to the limitations of jekyll front matte

[2022-06-16 09:57] daniel-montalvo commented on #541
Thanks @SteveALee  for these clear and detailed explanations.

So for our specific case here:

- We can control the first part of what shows up in the title of each page via the "title" key. It supports pipes (|) and as far as I know there is no difference in style with respect to the second part of the title given @SteveALee  comments.
- The second part of what shows sup in the title "| Web Acces

[2022-06-16 10:27] daniel-montalvo commented on #541
Thanks much @shawna-slh

I propose to stick with the first one based on above comments and current layout development.

I think numbering indicates the proposed teaching sequence and should be also in title. We could just have "1" instead of current "Module 1:" for short.

The resources are called:

- Foundation Modules
- Developer Modules
- Designer Modules
- Content Author Modules

It is weird i

[2022-06-16 14:20] shawna-slh commented on #541
_(I had forgotten that the numbering actually is suggestive of order. In some other resources, we say order not implied, e.g., in planning & managing: "These activities are not necessarily carried out in sequence".)_

I like it. Go for it!

[2022-06-16 15:35] daniel-montalvo commented on #541
Great to hear.

Will leave it open so people have the chance to see these in context as it affects the other parts.

Content author modules are now updated, others are pending.

[2022-06-22 20:13] kakinney opened #542 "[Content Author Module 1: Clear Content]User Agent clarity?"
Do we use the term "user agents" to refer to both browsers and email clients?  I know that user agents is the proper term, but after reading about simple language and use of jargon, I can't help but wonder if we can say something clearer like "...as much information as possible on the screen’s link text to maximize compatibility with web browsers, email clients, and assistive technologies."  Again

[2022-06-27 18:40] MicheleAWilliams-A11y opened #543 "[Content Author Module 1: Clear Content] Missing learning objective: "utilize icons and symbols to complement text content""
This learning objective about icons and symbols appears in the list for Module 1 (Clear Content) but isn't part of the curriculum. Not sure where it was meant to appear (within this module or if it was meant to be part of the "Images" module) but the comments are missing and seem to be an important one to discuss where appropriate.

[2022-06-27 18:43] MicheleAWilliams-A11y opened #544 "[Content Author Module 1: Clear Content] "Page titles: topic better suited for "Structure" module"
The topic of page titles seems to be fit better under "Structure" than "Clear Content". That is, it seems to better line up with topics such as headings, paragraphs, lists, and tables of contents, rather than topics such as not using jargon and spelling out abbreviations. Module 2 also explicitly mentions "navigation" for which page titles are just as vital as any other feature.

[2022-06-27 18:46] MicheleAWilliams-A11y opened #545 "[Content Author Module 1: Clear Content] Emphasize color as part of this section"
Color contrast doesn't seem to fit into the overall focus of this "Clear Content" module, but particularly when the emphasis is "clear, easy to understand, and easy to read". Perhaps instead of saying "content" this can say "language and visual presentation" as in, "demonstrate how people with disabilities rely on clear, easy to understand, and easy to read language and visual presentation to proc

[2022-06-27 19:16] MicheleAWilliams-A11y opened #546 "[Content Author Module 2: Structure] A11y requirements missing"
The second learning objective states: "explain accessibility requirements related to content structure"

However, most of the content is presented as if it's a best practice and not a requirement such as, "explain how proper heading hierarchy helps users identify and navigate the different content sections" (emphasis on "helps").

I'm not sure what was intended by the learning objective but I'm no

[2022-06-27 19:54] MicheleAWilliams-A11y opened #547 "[Content Author Module 3: Forms] Teaching example for Instructions unclear"
The following Teaching Idea for instructions is unclear to me and seems redundant to the rest of the examples. Overall it seems to just restate the topics of the section which isn't very meaningful. I wouldn't know what kind of example to create. I recommend simply removing it.

[2022-06-27 20:19] MicheleAWilliams-A11y opened #548 "[Content Author Module 6: Multimedia] Typo found in Success Critieria"
WCAG Success Criterion 1.2.6 Sign Language has a typo with "prerecorded" -- the P needs to be capitalized and it's missing the closing parenthesis.

[2022-06-27 20:22] MicheleAWilliams-A11y opened #549 "[Content Author Module 6: Multimedia] What are "governmental regulations and other policy requirements"?"
Under Planning Audio and Video, it says to "Explain that different types of audio and video content have different accessibility requirements based on governmental regulations and other policy requirements."

As someone who would be a user of this material, I'm not sure what is meant by "governmental regulations and other policy requirements". Would this be like the CVAA in the U.S.? Not sure why

[2022-06-27 20:26] MicheleAWilliams-A11y opened #550 "[Content Author Module 6: Multimedia] Unclear learning outcome within Planning Audio and Video"
I'm unclear what this means: "provide rationale for not including one or more alternatives to multimedia content"

Is this a typo? If not, does this mean explain why certain alternatives don't make sense for certain populations? I'm not certain what it's trying to convey but right now it seems to say that there's sometimes situations where you don't need to provide alternatives.

[Update] Okay, la

[2022-06-27 20:32] MicheleAWilliams-A11y opened #551 "[Content Author Module 6: Multimedia] Clarifying caption creation differences"
Under Learning Outcomes for Captions, it states:

Simply saying "a caption file" doesn't convey a difference in how they would relate to accuracy. I think perhaps you mean a "human-generated" caption file or perhaps one created from a script?

[2022-06-27 20:59] eoncins commented on #543
I think that this learning outcome is more related to the use of images next to the text to help people understand what the text is about, which is part of the recommendations on Easy to Read/Easy to Understand language. An example would be: 1. Summary (Easy to Understand Language)" https://www.w3.org/TR/coga-usable/".
Maybe some mention can be added on the Images module under "Topic: Functional I

[2022-06-27 21:34] eoncins commented on #549
In the case of EU there are three main European Directives addressing accessibility in ICT products, services and tools:
- European Accessibility Act (https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX%3A32019L0882)
- Web Accessibility Directive (https://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:32016L2102)
- Audiovisual Media Service Directive (https://eur-lex.europa.eu/legal-

[2022-06-27 21:41] eoncins commented on #542
I agree that "user agents" might not be a term content authors are familiarized with and can be considered as a jargon.

[2022-06-27 21:58] eoncins opened #552 "[Content Author Module 1: Clear Content] > Topic: Visual Appearance -- LO "Include relevant and easy to understand images"?"
As there is a specific learning outcome about: utilize icons and symbols to complement text content
Maybe under Topics to Teach > Topic: Visual Appearance some mention to include relevant or easy to understand images could be included.

[2022-06-27 22:04] eoncins opened #553 "[Content Author Module 2: Structure] left align content"
For consideration, most easy to read/understand guidelines recommend to "left align" content. This is something missing in this section and could be added as a learning outcome and/or as under Topic: Orientation and Navigation

[2022-06-27 22:16] eoncins opened #554 "[Content Author Module 5: Data Tables] Avoid merging cells"
For editor's discretion: maybe adding a mention: avoid merge cells under Teaching ideas > Table Data Cells could be useful.

[2022-06-28 03:01] shawna-slh commented on #550
I also stumbled with:

I appreciate @MicheleAWilliams-A11y idea for rewording -- and I think we need to go even further with the explanation.

I'm afraid most readers/instructors/learners will think they're not providing it because users don't need it (and they just don't understand users needs), or because it's not required by their policies. That "rationale" is just annoying!

And that's not wha

[2022-06-28 03:03] shawna-slh commented on #539
For example, WAI videos have interactive transcripts, and captions :-)

[2022-06-28 03:18] shawna-slh opened #556 "[Content Author Module 6: Multimedia] [low] Audio Content and Video Content guidance missing from summary and overall outcomes?"
The guidance in Audio Content and Video Content <https://www.w3.org/WAI/media/av/av-content/> seems included under “Topic: Planning Audio and Video” – however,
1. It doesn’t seem clearly covered in the Summary at the top, nor in the overall Learning Outcomes for Module
2. I’m not sure “Planning” is sufficient to cover that? But maybe it’s fine!

[2022-06-28 03:23] shawna-slh opened #557 "[Content Author Module 6: Multimedia] split up complex sentence"
->
* demonstrate how people with disabilities rely on alternatives to multimedia content to understand information contained in audio and video content
* cover transcripts, description of visual information (also called audio description, video description, or described video), captions (also known as subtitles), and sign languages

rationale-- I totally got lost in the long, complicated list of "

[2022-06-28 03:24] shawna-slh opened #558 "[Content Author Module 6: Multimedia] unclear wording "match the video and audio information when possible ...""
“match the video and audio information when possible to help different groups of users understand the content”
- not really clear what this means

[2022-06-28 03:25] shawna-slh opened #559 "[Content Author Module 6: Multimedia] all disabilities"
shouldn’t this cover more than ‘visual and non-visual’? what about hearing, low vision, etc?

[2022-06-28 03:27] shawna-slh opened #560 "[Content Author Module 6: Multimedia] Government regulations and other policies user needs vs minimal requirements"
Well, I’d say they have the same requirements to be fully accessible!; however, some ‘governmental regulations and other policy requirements’ don’t actually require full accessibility. :-)

In <https://www.w3.org/WAI/media/av/planning/#checklist> we say “The checklists below … cover … What is required in WCAG… [and] What is needed to meet user needs, beyond WCAG.”

I think need to re-write to bett

[2022-06-28 03:28] shawna-slh opened #561 "[Content Author Module 6: Multimedia] links to media resource"
1.

Should this include a pointer to Understand the User Needs and Experiences of People with Disabilities <https://www.w3.org/WAI/media/av/users-orgs/#understand-the-user-needs-and-experiences-of-people-with-disabilities> ?

2.

I think the pointer you want here is Audio Content and Video Content <https://www.w3.org/WAI/media/av/av-content/> (not Planning).

3.

Add link to Audio Content and Vide

[2022-06-28 03:29] shawna-slh opened #562 "[Content Author Module 6: Multimedia] such as is not right?"
Is there anything else besides audio and video? If not, then “such as” is not quite right. And is that a “format”?

Is there anything else besides live and prerecorded? If not, then “such as” is not quite right.

I guess can be simply:

?

[2022-06-28 03:32] shawna-slh opened #563 "[Content Author Module 6: Multimedia] [low] tersify flashing content bullet"
This bullet is a lot longer than the others, and not a hugely common accessibility issue in videos. Seems you can cut out a lot of this , especially since you link to the SC.

[2022-06-28 03:33] shawna-slh opened #564 "[Content Author Module 6: Multimedia] not limited by regulations and policies"
I think we want to strongly encourage meeting use needs beyond regulations and policy requirements. Therefore, maybe delete this – or, better yet, have students explain users needs beyond a chosen regulation?

[2022-06-28 03:35] shawna-slh opened #565 "[Content Author Module 6: Multimedia] Descriptive transcripts needed to meet user needs"
In our media resource, we say: “Descriptive transcripts are required to provide video content to people who are both Deaf and blind.” and “Descriptive transcripts for videos: are needed for most videos to be accessible to people who are “Deaf-blind” and “Ideally you provide a descriptive transcript, and then you do not need a separate basic transcript.”

I’d like a re-write of the Topic: Transcrip

[2022-06-28 03:39] shawna-slh opened #567 "[Content Author Module 6: Multimedia] [high] automatic captions"
No. See https://www.w3.org/WAI/media/av/captions/#automatic-captions-are-not-sufficient which says: “Automatically-generated captions do not meet user needs or accessibility requirements, unless they are confirmed to be fully accurate. Usually they need significant editing.”
The learning outcome should be that students understand that automatically-generated captions are *not* sufficient!

-> “If

[2022-06-28 03:40] shawna-slh opened #568 "[Content Author Module 6: Multimedia] captions and subtitles"
-> Explain that the terms “captions” and “subtitles” are used for the same thing in different regions of the world. See https://www.w3.org/WAI/media/av/captions/#captions-and-subtitles)

[2022-06-28 03:42] shawna-slh opened #569 "[Content Author Module 6: Multimedia] Categorization of description of visual information"
I don’t think this separation works. The first one could be considered “narrative” and the text file not. What’s wrong with the simple 3 bullets at https://www.w3.org/WAI/media/av/description/#introduction ?

Also need to edit this under “Teaching Ideas for Topic”

[2022-06-28 03:43] shawna-slh opened #570 "[Content Author Module 6: Multimedia] last Teaching Ideas for Topic"
add something like: “Show a video that has important visual information needed to understand the content of the video.”

[2022-06-28 03:46] shawna-slh opened #571 "[Content Author Modules] footers & acks"
Update the footers.

* [ ] Check if Shadi wants to be listed as editor on these modules
* [ ] Update https://wai-curricula.netlify.app/curricula/acknowledgements/ <br> e.g., maybe under “Contributing EOWG Participants” add [Kevin White](https://github.com/w3c/wai-curricula/issues?q=author%3Aiadawn+)? Michele Williams? others?

[2022-06-28 09:09] #548 closed, assigned to nobody

[2022-06-28 10:09] daniel-montalvo commented on #571
Thanks for raising this @shawna-slh .

I will label this as To do before publishing.

[2022-06-28 10:51] daniel-montalvo commented on #569
Thanks @shawna-slh

I was trying to simplify these three bullets.

To me, descriptions provided through text files can be also narrative, as they are not integrated in the main audio. Whether the description is provided through a text file or through a separate audio track in the video is much of a process issue rather than a categorization issue.

Please have a look at #573

Do you think this imp

[2022-06-28 11:48] daniel-montalvo commented on #551
Resolves #567

[2022-06-28 11:49] daniel-montalvo commented on #567
Resolvees #551

[2022-06-28 12:21] daniel-montalvo commented on #560
Thanks @shawna-slh

As per b29cbde76a11a40451b11dbfd735d025c9b46e28

I have moved that sentence to a  separate teaching idea, where I think it fits better based on these comments.

I propose:

This:

- Points instructors to the lack of harmonization between different policies and regulations.
- Emphasize that it is sometimes needed to go beyond the specific policy to cover user needs.

[2022-06-28 12:27] daniel-montalvo commented on #559
Thanks @shawna-slh

"visual and non-visual perception and operation" is a short-hand for "perceived and operated visually and non-visually", which was flagged for being lengthy.

With this we mean to include all of what you mentioned above.

Do you think if we say just "perception and operation" instead of "visual and non-visual perception and operation" this will be sufficiently understood?

[2022-06-28 12:35] daniel-montalvo commented on #558
This is to cover
https://www.w3.org/WAI/media/av/av-content/#sensory

"Provide redundancy for sensory characteristics" was not sufficiently understood in TF. So we tried to substitute it with "match the video and audio information when possible"

Is this now clearer? What other suggestions do you have?

[2022-06-28 12:48] daniel-montalvo commented on #554
Hey @eoncins

Thanks for this suggestion.

I'd say we currently have this already, but I think you are raising this because it may not be sufficiently clear.

I propose:

->

Would this address your concern?

[2022-06-28 12:58] daniel-montalvo commented on #549
"governmental regulations and other policy requirements" is now changed to "government regulations and other policy requirements"

Does this help clarify in terms of language?

I think it is worth mentioning government regulations and other policy requirements, as there seems to be fragmentation for which requirements each of them has.

But it is a good question whether wwe should be agnostic in t

[2022-06-28 15:00] carlosapaduarte opened #574 "[Content Author Module 6: Multimedia] LO in Topic Transcripts and Descriptions"
One of the LO in the Transcripts topic reads

For me it's not clear how is this a LO. The student is expected to learn to "ensure inclusion of transcripts when required"? Shouldn't the student, instead, be expected to learn to "identify when transcripts are required"?

[2022-06-28 15:12] carlosapaduarte commented on #574
I found another similar instance in the Description of Visual Information topic

I don't understand how "ensuring a description is available" is a LO. This seems management related. Shouldn't the student learn to "describe visual information when required"?

[2022-06-28 15:23] carlosapaduarte opened #575 "[Content Author Module 5: Data Tables] LO about layout tables"
There is a LO for this Module that reads

I find this is somewhat out-of-scope for a module on data tables focusing on content authors. Do we really want to require the student to understand how designers and developers use CSS for layout purposes? Wouldn't it be preferable to require the student to "identify situations where tables are being, incorrectly, used for layout purposes", if we wish to

[2022-06-28 15:36] carlosapaduarte commented on #575
Furthermore, none of the topics in the module address this LO, so I'm suggesting to remove it.

[2022-06-28 18:02] carlosapaduarte opened #580 "[Content Author Module 1: Clear Content] Suggestion for easier reading"
The second sentence in the introduction of the "Titles and Link text" topic reads

My suggestion for easier reading is

[2022-06-28 18:14] carlosapaduarte opened #581 "[Content Author Module 1: Clear Content] Reference to possible inaccessibility of authoring tools"
Where: Topic Titles and Link Text. 2nd teaching idea. Last sentence.

While this is true I was surprised to find this in the scope of this teaching idea. It is not mentioned in other places where authoring tools are mentioned, from what I could find. Wouldn't it be better to move this to the overview page?

[2022-06-28 18:31] carlosapaduarte commented on #558
It was also not clear for me. I needed to assume that you were describing redundancy but was not sure until I saw your comment, Daniel. I would support improving it. What about

[2022-06-28 18:45] hkramer opened #583 "Would change 'entitling' to 'identifying'"
Would change 'entitling' to 'identifying'  in "Discuss the use of headings and their corresponding rank levels for entitling content sections." in Structure in Author Modules.

[2022-06-29 01:12] shawna-slh commented on #558
I appreciate trying to simply wording; however, I don't think that covers it. If the video visually shows the red end and the audio says "the red end", that still is not accessible to some who cannot distinguish red and green ('colorblind').

It seems that instructors *should* know Success Criterion 1.3.3: Sensory Characteristics !

Is there a reason not to use that wording from WCAG and link to h

[2022-06-29 11:41] daniel-montalvo commented on #580
Thanks @carlosapaduarte

If I had to translate this sentence into Spanish, that's how I would do that. I guess in Portuguese it reads better like this as well. Not so sure if that sounds as goodin English. Maybe @shawna-slh  has input on this.

[2022-06-29 11:47] daniel-montalvo commented on #574
Thanks @carlosapaduarte

There are actually several instances of this "ensure [...] is available" so I'd say this affects the whole module.

Will change the title accordingly and work on a proposal based on your comments above.

[2022-06-29 11:56] daniel-montalvo commented on #583
Thanks @hkramer

Change is now live at
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/structure/

[2022-06-29 13:27] daniel-montalvo commented on #550
Thanks @shawna-slh and @MicheleAWilliams-A11y

To clarify meaning and to align more with resource [Inform users when not needed](https://www.w3.org/WAI/media/av/planning/#none), I propose:

Learning outcome:

* "explain why non-substantive audio and video content does not need alternatives"

Teaching idea:

* "Present examples of inaccessible audio and video content. Discuss with students which al

[2022-07-01 08:14] kheitm opened #584 "[Content Author Module 2: Structure] Page Not Found error"
Page not found error when clicking on link for:

 Teaching Resources "How People with Disabilities use the Web"
https://wai-curricula.netlify.app/people-use-web/

[2022-07-01 08:22] kheitm opened #585 "[Content Author Module 2: Structure] Page Not Found error"
Page not found error when clicking on link for:

Teaching Resources "Understandable Content (Web Accessibility Perspective)
https://wai-curricula.netlify.app/perspective-videos/understandable/

[2022-07-01 08:23] daniel-montalvo commented on #584
Thanks @kheitm

This is due to how the relative urls are built in the WAI-website.

We are aware of this issue and are working on a fix for this.

[2022-07-01 08:24] daniel-montalvo commented on #585
Thanks @kheitm

This is due to how the relative urls are built in the WAI-website.

We are aware of this issue and are working on a fix for this.

[2022-07-01 08:24] kheitm opened #586 "[Content Author Module 2: Forms] Add Teaching Resource"
Add resource "Forms Tutorial"

https://www.w3.org/WAI/tutorials/forms/

[2022-07-01 08:33] kheitm opened #587 "[Content Author Modules: Curricula]"
Add a short description of module topic as was done for the Developer Module but not for Content Author (or Designer) Module(s)

[2022-07-01 08:35] kheitm commented on #585
Thanks, @daniel-montalvo I figured as much after I realised its on all the pages

[2022-07-01 09:13] #585 closed, assigned to nobody

[2022-07-01 09:13] #584 closed, assigned to nobody

[2022-07-01 10:43] eoncins commented on #554
Hey @daniel-montalvo yes it does. Thanks for the update.

[2022-07-01 11:27] iadawn opened #588 "[Content Author Module 1: Clear Content] [low] Abbreviations learning outcome"
The learning outcome for abbreviations and acronyms is:

However, there are different ways to do this that isn't necessarily clearly articulated in this outcome. Perhaps something like:

Something more about what the goal is rather than just what the activity is, if that makes any sense!

[2022-07-01 11:43] iadawn opened #591 "[Content Author Module 1: Clear Content] [low] 'Error' in title"
One use of title that is often not used is to indicate that there are errors in a form submission. Might it be useful to includes this in the first list item in the teaching ideas for the Titles and Link Text topic?

[2022-07-01 11:49] iadawn opened #592 "[Content Author Module 1: Clear Content] [medium] Authoring tools knowledge"
This may be for a subsequent iteration as I think it is quite a bit of work.

The competencies indicates that instructors are required to have in-depth knowledge of accessible authoring tools. There is no link for this however, and this is quite an involved topic that might benefit from additional primer information.

[2022-07-01 12:02] iadawn opened #594 "[Content Author Module 2: Structure] [low] Avoid metaphors"
In the Headings topic is it worth mentioning something about avoiding metaphors?

[2022-07-01 12:03] iadawn opened #595 "[Content Author Module 2: Structure] [low] Avoid metaphors"
In the Headings topic is it worth mentioning something about avoiding metaphors?

[2022-07-01 12:03] #595 closed, assigned to nobody

[2022-07-01 12:03] iadawn commented on #595
Duplicate

[2022-07-01 12:07] iadawn opened #596 "[Content Author Module 2: Structure] [medium] Meaningful content sequence?"
In the Orientation and Navigation topic it talks about 'meaningful content sequences'. I am not sure it is clear enough what this is.

[2022-07-01 12:35] kheitm opened #597 "[Content Author Module 5: Data Tables] Table Header Cells"
Under Teaching Ideas for Topic, bullet 3 it says "Some authoring tools let specify the scope of header cells" which maybe has a word missing or is structured awkwardly.

[2022-07-01 13:27] iadawn opened #599 "[Content Author Module 4: Images] [low] Requirements for image types in parenthesis?"
In the learning outcomes for the module, the requirements for each image type is included in parenthesis after the type name. I wonder if it would be better to be included after an mdash and just remove the brackets? It seems that it is important information to be relegated to a parenthetical aside.

[2022-07-01 13:31] iadawn opened #600 "[Content Author Module 4: Images] [low] Empty alternative text"
In the Informative Images section there is the paragraph:

Decorative images require an empty alt attribute or they require empty alternative text. I think the presence of the 'an' is confusing. I favour the latter as the former starts to talk code - albeit a really, really small bit of code.

[2022-07-01 13:37] iadawn opened #602 "[Content Author Module 4: Images] [medium] Missing marking decorative images"
In the learning outcome for Informative Images, the list of requirements for authoring tools could include:

* identify and produce appropriate markup for decorative images

[2022-07-01 13:39] iadawn opened #603 "[Content Author Module 4: Images] [high] Envelop not for print"
I would never associate an envelope icon for print functionality. An envelope would have much more of an association with email. For print I would think of a wee printer icon.

[2022-07-01 13:45] iadawn opened #605 "[Content Author Module 4: Images] [medium[ Complex image alternative data visualization"
In the learning outcomes for Complex Images there is the following outcome:

I am not sure what this means. An 'alternative data visualization' for a complex image would be another complex image if it is a visualization.

[2022-07-01 13:51] iadawn opened #606 "[Content Author Module 5: Data Tables] [medium] Learning to deconstruct complex data tables"
One thing that we often stress regarding data tables is that making them simpler is usually a good plan. Might this be worth adding as a learning outcome?

[2022-07-01 14:00] iadawn opened #607 "[Content Author Module 5: Data Tables] [medium] What is contained in a data cell"
The Table Data Cells topic starts with:

I think this is a bit convoluted and possibly misleading. It doesn't really contain information about a specific type of data, it contains a specific piece of data. Maybe something like:

Alternative, it might be better to drop the sentence entirely. If it is not clear what a table data cell is, then perhaps it is the topic title that is incorrect?

[2022-07-01 14:03] iadawn opened #608 "[Content Author Module 5: Data Tables] [low] Table summary"
Should the table summary not include a high level summary of what the data in the table is saying as well? I think there is a bit of inconsistency between the start of the topic, which has:

And content in the teaching ideas, which has:

[2022-07-01 17:14] iadawn opened #610 "[Content Author Module 6: Multimedia] [low] Descriptions in parentheses"
Similar to #599 but for the differing alternative formats

[2022-07-01 17:18] iadawn opened #611 "[Content Author Module 6: Multimedia] [low] Multimedia types seem unclear"
In the learning outcomes for planning, there is the bullet point:

I am not sure these are types of multimedia. An alternative may be:

[2022-07-01 17:28] iadawn opened #612 "[Content Author Module 6: Multimedia] [medium] What 'description' is"
The opening sentence to the Description of Visual Information seems peculiar:

I appreciate the challenge with this since 'audio description' isn't the only option. Perhaps something like:

[2022-07-04 09:42] daniel-montalvo commented on #592
Hey @iadawn

Thanks for bringing this to our attention.

Some ideas for discussion.

- Remove this completely for the current iteration as it seems it is not sufficiently addressed throughout
- Keep this reference and include a pointer to
  - [ATAG overview](https://www.w3.org/WAI/standards-guidelines/atag/)
  - [Selecting and Using Authoring Tools for Web Accessibility](https://www.w3.org/WAI/imp

[2022-07-04 09:50] iadawn commented on #592
My ideal would probably be to drop it as I think authoring tool choices aren't necessarily made by content authors.

However, removing it might be tricky as authoring tool choice is mentioned throughout. On that basis I think linking to ATAG overview would be a reasonable starting point for the current iteration. The Selecting and Using Authoring Tools for Web Accessibility resource is linked to f

[2022-07-04 12:11] daniel-montalvo commented on #591
Hey @iadawn
Thanks for your suggestion.

I propose:

[2022-07-04 12:18] daniel-montalvo commented on #588
Hey @iadawn

I propose:

As "understand" is not an unambiguous verb according to Bloom's taxonomy.

[2022-07-04 12:30] iadawn commented on #588
That is fine. I couldn't remember the name of the taxonomy that you were using but I figured you would adjust accordingly :)

[2022-07-04 13:06] daniel-montalvo commented on #612
Hey @iadawn

We could probably do even more direct.

This does not align strictly to the other topics intro paragraphs. But I feel "transcripts" and "captions" do require further explanations of what they are, whereas the word "description" is easier to understand by itself.

Just an idea for the moment, I'll play with the others and see what fits better where.

[2022-07-04 14:27] daniel-montalvo commented on #608
Hey @iadawn

I have changed these two.

Ref:
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/data-tables/#topic-table-summaries-and-descriptions

* Intro paragraph.

* Teaching idea, second bullet

I think these two are more consistent now.

[2022-07-04 14:48] daniel-montalvo commented on #602
Hey @iadawn

I tried this in
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/images/#topic-informative-images

When I see this in context, I am not convinced that we should use "identify". Maybe we should just have:

I am afraid "Identify" can be read as if the authoring tool itself should tell the author when an image is decorative and when it is not. An

[2022-07-04 15:11] daniel-montalvo commented on #600
Hey @iadawn

Done in
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/images/#topic-informative-images

[2022-07-04 16:08] daniel-montalvo commented on #603
Hey @iadawn

More up-to-date work is in #604

There, I am proposing:

This includes your changes above and moving from plural to singular as you suggest in #604

[2022-07-04 16:19] daniel-montalvo commented on #597
Hey @kheitm

Thanks for pointing this out.

Following #609, I will change from "let specify ..." to "let content authors specify ..."

There is an omitted subject there which is not good English grammar.

[2022-07-04 16:51] daniel-montalvo commented on #610
Work on this is currently in PRs

- #572
- #573

[2022-07-05 09:01] daniel-montalvo commented on #611
Hey @iadawn

The phrase "multimedia types" in LOs is removed in
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/multimedia/#topic-planning-audio-and-video

I think this addresses your concern.

[2022-07-05 09:11] daniel-montalvo commented on #542
Hey @kakinney  @eoncins
This is now changed to "browsers" where appropriate.
Topic Titles and Link Text, Teaching Ideas, Second and fifth bullet "user Agents" -> "Browsers" for clarity.

[2022-07-05 10:26] daniel-montalvo commented on #605
Hey @iadawn

I am assuming this comment implies that data visualization should be restricted to content perceived uniquely through vision. So data tables and long descriptions for complex images won't be considered "data visualizations" but instead "alternatives to data visualizations".

in [Topic Complex Images](https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-mo

[2022-07-05 11:19] iadawn commented on #605
Hi Daniel,

Yes. My view of what 'data visualization' means is charts, graphs and the like - basically an image of the data.

[2022-07-05 11:33] daniel-montalvo commented on #605
Thanks @iadawn

I then think my changes (described above) clarify that point.

I will mark this to be closed when #572 is merged.

[2022-07-05 21:48] vmmiller opened #613 "[Content Author Module 1: Clear Content]"
### Heading "Topic: Easy to Understand Language"

Second sentence: "Explain characteristics of easy to understand language..."
Suggestion:  add "the" between "Explain" and "characteristics" so as to read "Explain the characteristics of easy to understand language..."

[2022-07-05 21:52] vmmiller opened #614 "[Content Author Module 1: Clear Content]"
### Heading: "Teaching Ideas for Topic"

In the first bullet point, there are two instances of "For example".  In my view these should be merged with the sentence as "For example, jargon and words that require advanced reading ability." is an incomplete sentence.
Rationale:  The sentences using "For example," are grammatically incorrect as they stand.

1st instance:
"Reflect with students about wo