[2022-07-05 21:54] vmmiller opened #615 "[Content Author Module 1: Clear content]"
Bullet point:
- ensure sufficient contrast ratio as well as easy to read fonts to favor content readability

Suggestion for clarity:
comma after "ratio", comma after "fonts" and add "in order" (before "to favor") to read, as follows:

- eensure sufficient contrast ratio, as well as easy to read fonts, in order to favor content readability

[2022-07-05 22:05] vmmiller opened #616 "[Content Author Module 1: Clear Content] Put info first to favor efficiency"
### Topic: Titles and Link Text

Titles and link text are essential for some people with disabilities to understand the page purpose and to know where links go to. Explain that it is best practice to put information that is specific to the page first in titles and link text to favor efficiency.

Suggestion:
Titles and link text are essential for some people with disabilities to understand the purp

[2022-07-05 22:16] vmmiller opened #617 "[Content Author Module 1: Clear Content]"
### Topic: Visual Appearance

When content authors can specify the visual appearance, they must ensure that is accessible.
"it" is missing between "that" and "is"
When content authors can specify the visual appearance, they must ensure that it is accessible.

[2022-07-05 22:28] vmmiller opened #618 "[Content Author Module 2: Structure] "tables of contents" -> "table of contents""
### Learning Outcomes for Module

Fourth bullet point:

- collaborate with designers and developers to:
     - include methods to move back and forth through long pieces of content, including tables of contents and “back to top” links

Suggestion: "tables of contents" > singlular
Change to "tables of content"

[2022-07-05 22:32] vmmiller opened #619 "[Content Author Module 2: Structure]"
### Teaching Ideas for Topic

3rd bullet point:

- Explain other uses of heading text. These include providing a headline for a piece of news and summarizing the content the heading precedes.

Second part of the sentence is a little puzzling at first glance.  Suggestion for change:

- Explain other uses of heading text. These include providing a headline for a piece of news which effectively summa

[2022-07-05 22:38] vmmiller opened #620 "[Content Author Module 2: Structure] Expand sentence"
### Topic: Paragraphs and Lists

First sentence could be expanded for clarity.
Paragraphs and lists group related content.

Paragraphs and lists can be used to group related content.

[2022-07-05 22:44] vmmiller opened #621 "[Content Author Module 2: Structure] Add "where are situated within the content""
### Teaching Ideas for Topic

1st bullet point:

- Demonstrate the use of assistive technologies to navigate through long passages of text. Explain that several groups of users rely on orientation and navigation methods to understand where they are in the content and to move back and forth through different content sections.

Very minor suggestion in the second sentence to emphasize the orientatio

[2022-07-05 22:45] vmmiller opened #622 "[Content Author Module 2: Structure] Minor edits"

[2022-07-06 08:53] daniel-montalvo commented on #544
Hey @MicheleAWilliams-A11y

The TF has revisited this topic in the  [5 July meeting](https://www.w3.org/2022/07/05-wai-curricula-minutes.html#t06).

Technically it is true that these two belong to structure in terms of development and design. But in this particular curricula which is devoted to teaching content authors, the TF feels we need to emphasize that one thing is the structural part and an

[2022-07-06 10:09] daniel-montalvo commented on #594
Hey @iadawn

Thanks for this feedback.

I am not sure where this would be getting at.

If it relates to Making Content Usable for People with Cognitive and Learning Disabilities -- [Amy Scenario 3: Designs that Make Use of Abstract Imagery and Metaphors](https://www.w3.org/TR/coga-usable/#amy-scenario-3-designs-that-make-use-of-abstract-imagery-and-metaphors), why would this only apply to headings

[2022-07-06 11:07] daniel-montalvo commented on #617
Thanks for this @vmmiller

I thought that "that" could work as the subject, but happy to change if it is clearer.

https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/clear-content/#topic-visual-appearance

[2022-07-06 11:26] daniel-montalvo commented on #619
Thanks @vmmiller
Changed to:

https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/structure/#topic-headings

[2022-07-06 11:35] daniel-montalvo commented on #616
Closes: #580

[2022-07-06 11:53] daniel-montalvo commented on #616
Hey @vmmiller

Thanks. I will change.

"Information that is specific to a page" would be already covered in [WCAG 2 2.4.9 Link Purpose (Link Only)](https://www.w3.org/WAI/WCAG21/quickref/#link-purpose-link-only).

If we implement this, we would be dropping the "first" and I feel it's nice to have it in here.

I would say the best practice here really is to put unique, specific information first to

[2022-07-06 11:53] daniel-montalvo commented on #580
Closing. On-going work is now in #616

[2022-07-06 11:53] #580 closed, assigned to nobody

[2022-07-06 12:34] daniel-montalvo commented on #614
Thanks @vmmiller ,

Changed to: "Reflect with students about words that are difficult to understand based on audience and context. These include jargon and words that require advanced reading ability. Emphasize that it is best practice to provide substitutions for those words when possible. Demonstrate how to provide explanations when these words cannot be changed, for example, by including a glos

[2022-07-06 21:42] vmmiller commented on #614
@daniel-montalvo  . "Maybe we need to revisit EOWG guidance -- ["For example," OK as own sentence, even if not full sentence](https://www.w3.org/WAI/EO/wiki/Style#Punctuation)."
Very interesting, I never paid attention to that in the style guide.  Out of context, perhaps it didn't seem so bothersome but when reading through, it jolted up to me as being incorrect.

[2022-07-06 21:56] vmmiller commented on #616
Hi @daniel-montalvo - Concerning the text
"Explain that it is best practice to put information that is specific to the page first in titles and link text to favor efficiency."
and your two suggestions.  I prefer to revert to your original text for the greater part.  The interesting phrase for me to address is "to favor efficiency".  I know what you mean but I'm not sure we are putting the message

[2022-07-06 22:24] vmmiller commented on #622
### Topic: Orientation and Navigation

First paragraph:
Introduce navigation and orientation methods that help people with disabilities orient themselves and navigate content. These include meaningful content sequences, tables of contents, footnotes, and methods for users to move back and forth through long passages of content.

Minor edits (editor's discretion)
Introduce navigation and orientatio

[2022-07-06 22:27] vmmiller opened #623 "[Content Author Module 2: Structure]"
### Topic: Orientation and Navigation

Sub-heading:  Teaching Ideas for Topic

First bullet point:

- Demonstrate the use of assistive technologies to navigate through long passages of text. Explain that several groups of users rely on orientation and navigation methods to understand where they are in the content and to move back and forth through different content sections.

missing "how" before

[2022-07-06 22:33] vmmiller opened #624 "[Content Author Module 2: Structure] "tables of contents" -> "table of contents""
### Topic: Orientation and Navigation
Sub-heading: Teaching Ideas for Topic

2nd bullet point:
(my favorite plural "tables of contents"... screech to the ear).

Current:
Show examples of tables of contents. Explain that they provide a summary of the overall structure of the whole piece of content. They also enable users to get to the specific sections they are interested in.

Suggestion (for edito

[2022-07-06 22:35] #623 closed, assigned to nobody

[2022-07-06 22:44] vmmiller opened #625 "[Content Author Module 3: Forms]"
### Topic: Labels

### Teaching Ideas for Topic
Second bullet point:
"about" is superflous.  I think it can be removed.

Current:
- Show examples of about commonly used labels for form fields and controls. Examples include “name”, “surname”, “address”, “phone”, “email”, and others.

Modified:
Show examples of commonly used labels for form fields and controls. Examples include “name”, “surname”, “a

[2022-07-06 22:46] vmmiller opened #626 "[Content Author Module 3: Forms]"
### Topic: Labels
### Teaching Ideas for Topic

Fourth bullet point:

change "associate the label with", rather than "associate the label to"

Current:
Emphasize that content authors should provide these labels and the tool should associate the label to the corresponding form field and control.

Modified:
Emphasize that content authors should provide these labels and the tool should associate the

[2022-07-06 22:52] vmmiller opened #627 "[Content Author Module 3: Forms]"
### Topic: Instructions

### Learning Outcomes for Topic

Minor edit:  instead of "associate instructions to", suggestion is "association instructions with"

Current:

- identify requirements for authoring tools to programmatically associate instructions to their corresponding form field and control

Suggested change:

- identify requirements for authoring tools to programmatically associate instr

[2022-07-07 10:56] daniel-montalvo commented on #574
Hey @carlosapaduarte

Changed to:

For transcripts

For descriptions

https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/multimedia/

[2022-07-07 11:21] daniel-montalvo commented on #567
Hey @shawna-slh

Addressed.

Updated draft is at
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/multimedia/#topic-captionssubtitles

[2022-07-07 11:25] daniel-montalvo commented on #551
Hey @MicheleAWilliams-A11y

According to #567
It is not much about different ways of creating captions but about the fact that automatically-generated captions are not sufficient.

I have updated the draft accordingly at
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/multimedia/#topic-captionssubtitles

Closing as per #567

[2022-07-07 11:25] #551 closed, assigned to nobody

[2022-07-07 17:50] vmmiller opened #629 "[Content Author Module 4: Images]"
### Topic: Informative Images
First sentence:
"Informative images convey information, for example that of a picture or illustration."

Suggestion to modify to make it clear that information is conveyed through a picture or illustration.

Proposal:
Informative images convey information visually through a picture or illustration.

[2022-07-07 17:54] vmmiller opened #630 "[Content Author Module 4: Images]"
### Teaching Ideas for Topic

Second bullet point, 3 sentence:
"Some authoring tools let specify when an image is decorative. "

Minor edit, added the word "content authors":
"Some authoring tools let the content authors specify when an image is decorative. "

[2022-07-07 18:20] vmmiller opened #631 "[Content Author Module 4: Images]"
### Topic: Complex Images

First sentence:
Complex images require short descriptions that identify the image and long descriptions that provide equivalent information as that in the image.

I think just one word is missing "contained"

Proposal:
Complex images require short descriptions that identify the image and long descriptions that provide equivalent information as that contained in the image

[2022-07-07 18:32] vmmiller opened #632 "[Content Author Module 5: Data Tables]"
### Topic: Table Header Cells

### Teaching Ideas for Topic

Current:
"Some authoring tools let specify the scope of header cells."

As in a previous example, I think "content authors" is missing.

Proposal:
"Some authoring tools let content authors specify the scope of header cells."

[2022-07-07 18:40] vmmiller opened #633 "[Content Author Module 6: Multimedia]"
### Topic: Planning Audio and Video

First sentence:
Introduce different user needs for audio and video content. For example, for people who don’t see the video and for people who don’t hear the audio.

(The "For example" sentence).
Proposal:
Introduce different user needs for audio and video content, for example, people who cannot see the video and for people who cannot hear the audio.

[2022-07-08 07:49] daniel-montalvo commented on #632
Addressed in
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/data-tables

[2022-07-08 08:27] daniel-montalvo commented on #592
Let's then do that.

I will link this to the [ATAG Overview page](https://www.w3.org/WAI/standards-guidelines/atag/).

[2022-07-08 08:53] #632 closed, assigned to nobody

[2022-07-08 11:36] daniel-montalvo commented on #565
Thanks @shawna-slh

Will do.

Other comments seem to go in this direction too.

[2022-07-11 08:17] daniel-montalvo commented on #549
I actually found references to government regulations and policies in the [Planning Audio and VideoMedia](https://www.w3.org/WAI/media/av/planning/) subpage.

My proposal is to leave as-is. See also

https://github.com/w3c/wai-curricula/issues/549#issuecomment-1167930023

Awarness thatin different regions theere might be different requirements depending on the policies in place is something I thin

[2022-07-11 08:27] daniel-montalvo commented on #518
Closing. This was resolved previously.

[2022-07-11 08:27] #518 closed, assigned to nobody

[2022-07-11 08:55] daniel-montalvo commented on #633
Thanks for this, @vmmiller
We are going to leave this as-is for now and will discuss this with @shawna-slh  in case we want to reopen that '"For example," OK as own sentence' [style issue](https://www.w3.org/WAI/EO/wiki/Style#Punctuation)

[2022-07-11 09:01] daniel-montalvo commented on #631
Thanks @vmmiller

Changed.
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/images/#topic-complex-images

[2022-07-11 09:06] daniel-montalvo commented on #629
Thanks @vmmiller

If we dropped "for example" we may be conveying that the only informative images are either pictures or illustrations.

I would feel more comfortable if we say:

Would you be comfortable with that wording?

[2022-07-11 09:12] daniel-montalvo commented on #630
Thanks @vmmiller
Changed in
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/images/#topic-informative-images

[2022-07-11 09:13] vmmiller commented on #629
@daniel-montalvo -That's fine, thanks!

[2022-07-11 09:16] daniel-montalvo commented on #627
Thanks @vmmiller

Fixed in
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/forms/#topic-instructions

[2022-07-11 09:21] daniel-montalvo commented on #626
Hey @vmmiller

Fixed throughout in
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/forms/#topic-labels

[2022-07-11 09:25] daniel-montalvo commented on #625
Thanks @vmmiller
Fixes in
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/forms/#topic-labels

[2022-07-11 09:32] daniel-montalvo commented on #620
Thanks @vmmiller

I think the current is shorter and more direct.

What's the benefit of having "can be used" there?

[2022-07-11 09:34] daniel-montalvo commented on #621
Thanks @vmmiller

I am not sure if the word "situated" is sufficiently understood. I get that "where they are" may be a little bit unclear, I will give this a thought and come back with a proposal.

[2022-07-11 10:09] daniel-montalvo commented on #612
Thanks @iadawn
Addressed in
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/multimedia/#topic-description-of-visual-information

[2022-07-11 10:22] daniel-montalvo commented on #569
Hey @shawna-slh
Live draft is updated at:
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/multimedia/#topic-description-of-visual-information

[2022-07-11 12:27] daniel-montalvo commented on #586
Thanks @kheitm

Relevant tutorials have been added to

- [2: Structure](https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/structure/)
- 3: [Forms](https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/forms/)
- 5: [Data Tables](https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/dat

[2022-07-11 14:52] daniel-montalvo commented on #581
Thanks @carlosapaduarte

This is a mistake. I took it away from the rest of the places where it appeared, but not from this one.

This reference is now in
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/

  ...

I am not really sure that this is how we want to address it. We could now argue that we could get rid of this warning as we are now linking to [A

[2022-07-11 15:27] daniel-montalvo commented on #558
thanks @shawna-slh

We previously had something along these lines, but the TF was struggling with the term "sensory characteristics" as it is very WCAG specific.

Some possibilities may include:

Similar to what we have before and is in the media resource, but not liked by some people because it's jargon.

More to the point of including information that can be understood without hearing or seeing

[2022-07-11 15:44] daniel-montalvo commented on #530
Closing as I think this is resolved.

Feel free to reopen this is needed.

[2022-07-11 15:44] #530 closed, assigned to nobody

[2022-07-11 15:46] daniel-montalvo commented on #483
Closing as no opposition has been observed.

Feel free to re
open this if needed.

[2022-07-11 15:46] #483 closed, assigned to nobody

[2022-07-11 16:39] daniel-montalvo commented on #596
Hey @iadawn

I have now taken a pass at this at

https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/structure/#topic-orientation-and-navigation

I changed "meaningful content sequences" to "content that follows a meaningful sequence".

I was trying to cross reference to the designer and developer parts, similarly to how I did in the learning outcomes for mod

[2022-07-11 16:41] shawna-slh commented on #569
…

…

Hey Daniel. Sorry but this use of "narrative description" does not work. The other 2 bullets could be considered 'narrative' as well.

I’ve spent quite a bit of thought on this. Every categorization I come up with seems problematic. (possibly “integrated” or “separate”; however, not sure that might be confusing, too?) I’m not understanding why you think it’s important to categorize 3 bullets

[2022-07-11 16:57] shawna-slh commented on #558
I appreciate that ‘sensory characteristics’ is WCAG-jargony. However, I feel pretty strongly that all instructors should know that terminology and all students should learn it.

WCAG is the backbone of this WAI curricula, yes? It is the short-name of a Level A success criteria “1.3.3: Sensory Characteristics”.

I think the alternative wording options are less clear and/or not accurate.

[2022-07-11 17:02] shawna-slh commented on #622
+1 to singular table of contents

make the first thing singular, too, and it's smooth:

[2022-07-11 17:06] shawna-slh commented on #624
+1 to singular.

another brainstorm is:

->

[2022-07-11 17:07] shawna-slh commented on #618
+1 to singular table of contents

could make link singular, too:

[2022-07-11 18:25] shawna-slh commented on #618
_side rant you can ignore:_ Technically what we have on a web page is not a table. It's a list. Yet, "table of contents" is an old term people know and it's in WCAG Techniques so I'll try to let it go. :-)

[2022-07-11 20:17] daniel-montalvo commented on #624
changed to:

[2022-07-11 20:25] shawna-slh commented on #633
We probably should revisit this style issue; however, I don't have the time right now.

Daniel, sometimes you can tweak the wording to make the For example better standalone. For example (ha,ha):

While that is a few more words, I think it's worth it to improve understanding and to flow better. Feel free to disagree.

I updated the Style Guide with this suggestion. We can change it as warranted.

[2022-07-11 20:29] daniel-montalvo commented on #618
Changed.

[2022-07-11 20:35] daniel-montalvo commented on #622
Thanks @vmmiller and @shawna-slh

Changed throughout in
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/structure/#topic-orientation-and-navigation.

[2022-07-11 20:38] shawna-slh commented on #559
With more context:

Even more than I said before, that doesn't clearly cover visual non-mouse users, which is important for media player controls.

/me plays with wording:

humm, no, still passive. how about:

That is much simpler. Do you think perception and operation is important here? Is so, maybe:

(I know a little jargony, yet again, since those are core WCAG concepts, I think Ok.)

[2022-07-11 20:44] daniel-montalvo commented on #620
Hey @vmmiller

I've taken another pass at this. In addition to the above, it has a passive "can be used" that I think we should avoid.

I think I should leave this sentence as it was, so I will be closing this.

Feel free to reopen if needed.

[2022-07-11 20:44] #620 closed, assigned to daniel-montalvo

[2022-07-12 08:18] daniel-montalvo commented on #621
Thanks @vmmiller
Changed to:

I think it is clearer if we focus on understanding the overall content structure, rather than on understanding where someone is located or situated within the content.

See
https://content-author-modules--wai-curricula.netlify.app/curricula/structure/#topic-orientation-and-navigation

[2022-07-12 10:40] daniel-montalvo commented on #547
Thanks @MicheleAWilliams-A11y

I particularly see value in having these separate teaching ideas, each focusing on specific strategies to get to labels, instructions, and error messages. I am assuming that these differences were not very clear and that's why you thought they were pretty much the same. Due to the structure of the curricula with no "teaching ideas for module" that can apply to all to

[2022-07-12 11:07] daniel-montalvo commented on #559
Changed to:

I think we can assume that for details on how to make them accessible instructors would need to get to the other parts.

- [x] Look at similar occurrences of "perception and operation" in other modules and update them according to this.

[2022-07-12 11:44] daniel-montalvo commented on #575
Thanks @carlosapaduarte

That's now removed.

https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/data-tables/#learning-outcomes-for-module

[2022-07-12 13:04] daniel-montalvo commented on #569
Thanks @shawna-slh

I was under the impression that if a description is integrated then it's not narrative. I'd say it's not narrative because it is part of the main audio of the video, it is no longer an ad hoc alternative.

If we consider that integrated descriptions can also be narrative, then we need to further discuss how to present this in the LOs.

+1 to changing "Define narrative descripti

[2022-07-12 13:20] daniel-montalvo commented on #558
Proposal. Change to:

https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/multimedia/#learning-outcomes-for-module

[2022-07-12 13:49] MicheleAWilliams-A11y commented on #544
Hi there, I don't have capacity to review this again so please go forward with what the committee decides - this wasn't a blocker issue. Thanks for the consideration!

[2022-07-12 14:09] MicheleAWilliams-A11y commented on #549
Sounds good to me - and I do like the change to "government regulations". It's minor but did make a difference.

[2022-07-12 14:42] eoncins commented on #549
The new wording sound good to me too.

The main issue is to inform students/teachers that "government regulations" for accessibility are present in legislation, and each country has its own regulations.

Thanks,

Estel·la Oncins Noguer
Post Doctoral Research Fellow TransMedia Catalonia
Edifici MRA 126  - Campus UAB
08193 Bellaterra
Barcelona
T. +34 610 655 149

orcid.org/0000-0002-0291-3036<https:

[2022-07-13 08:14] daniel-montalvo commented on #544
Thanks @MicheleAWilliams-A11y
Will close as explained above.

[2022-07-13 08:14] #544 closed, assigned to nobody

[2022-07-13 08:52] iadawn commented on #596
Thanks @daniel-montalvo,

I think the phrase 'meaningful content sequences' might be where I am tripping up. It is also used in the Learning Outcomes and I think it could be more clearly expressed. For example, instead of:

use something like:

I wonder if the other points where the phrase is used could be unpacked a bit as well?

[2022-07-13 10:46] daniel-montalvo commented on #569
Categorization for different types of description is tricky. For context, see comments above in this issue.

In the Media Guide, Description, [Introduction](https://www.w3.org/WAI/media/av/description/), We have

<blockquote>

- integrated into the main script and recording (which works well for some training videos, yet not most stories)
- narration added to the main audio track and provided in a

[2022-07-13 11:22] daniel-montalvo commented on #616
Hey @vmmiller

I had a closer look at [Provide Informative, Unique Page Titles](https://www.w3.org/WAI/tips/writing/#provide-informative-unique-page-titles).
There we only advice to "put unique and most relevant information first" for page titles. Probably we should do for links as well, but we don't.

So I adapted our wording accordingly in
https://content-author-modules--wai-curricula.netlify.ap

[2022-07-13 11:34] daniel-montalvo commented on #543
As agreed in [TF meeting 12 July](https://www.w3.org/2022/07/12-wai-curricula-minutes.html#item02), we will expand in topic "Easy to understand language".

[2022-07-13 11:37] daniel-montalvo commented on #549
Agreed in[TF meeting 12 July](https://www.w3.org/2022/07/12-wai-curricula-minutes.html)

Updated draft is at
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/multimedia/#topic-planning-audio-and-video

[2022-07-13 11:44] daniel-montalvo commented on #546
Discussed in[TF meeting 12 July](https://www.w3.org/2022/07/12-wai-curricula-minutes.html#item01).

The TF feels that probably some tweaks to the language are needed to make it more strong. However, the main focus of this resource is not to distinguish between requirements and best practice, but to provide guidance for instructors on how to teach accessibility.

[2022-07-13 11:52] daniel-montalvo commented on #607
Thanks @iadawn

The TF discussed this in our [12 July meeting](https://www.w3.org/2022/07/12-wai-curricula-minutes.html#item03).

We will implement your suggestion to make the definition clearer and will take a pass at that topic to update it accordingly.

[2022-07-13 12:09] daniel-montalvo commented on #581
[TF meeting 12 July discussion](https://www.w3.org/2022/07/12-wai-curricula-minutes.html#item05)

[2022-07-13 12:10] daniel-montalvo commented on #581
In [Topic Titles and Link Text, 2nd teaching idea](https://wai-curricula.netlify.app/curricula/content-author-modules/clear-content/#topic-titles-and-link-text), last sentence, we had:

But that applies throughout, not just in there.

How should we refer to authoring tools accessibility in content author modules, if at all?

**Proposal**

TF leans towards having a reference in the overview page th

[2022-07-13 20:02] shawna-slh commented on #569
Hey @daniel-montalvo I took a pass at how we might want to update the Media resource: https://deploy-preview-190--wai-media-guide.netlify.app/media/av/description/#introduction

And I put it on the EOWG agenda for this Friday (as previously approved by the chairs).

Perhaps in the curricula you do want a simpler 1-bullet-level list?

[2022-07-13 20:26] shawna-slh commented on #550
Sure, thanks.

[2022-07-13 20:35] shawna-slh commented on #560
In follow up to our chat on Tuesday:

Perhaps this is a high-level issue that we don't need to highlight out here?

I would say that you need to go beyond most regulations and policies to cover user needs -- definitely beyond WCAG 2 AA.

Perhaps something like:

[2022-07-14 10:33] daniel-montalvo commented on #569
Thanks for these updates @shawna-slh

I appreciate you taking this as a priority, so I devoted some time today to take another pass at
[Topic: Description of Visual Information](https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/multimedia/#topic-description-of-visual-information)

It now reads:

<blockquote>

* ...
* utilize integrated descriptions where po

[2022-07-15 08:30] daniel-montalvo commented on #607
Hey @iadawn

Updated topic is in
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/data-tables/#topic-table-data-cells

I think this addresses your concerns. Will mark as resolved. Feel free to comment if you think otherwise.

[2022-07-15 08:38] daniel-montalvo commented on #606
Thanks for this suggestion, @iadawn

This is now more explicitly in
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/data-tables/#topic-table-data-cells

Learning outcome for topic

As well as corresponding teaching ideas and assessment.
I think this addresses your concerns. I will mark this as resolved. Feel free to comment if you think otherwise.

[2022-07-15 10:06] daniel-montalvo commented on #546
Hey @MicheleAWilliams-A11y

As agreed in the TF meeting, I have taken a pass at [Structure](https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/structure/)

I have made the language stronger. I have changed "help" to "enable" throughout.

As said above, we think this addresses the issue, and will mark this as resolved. Feel free to provide specific suggestion

[2022-07-15 13:33] MicheleAWilliams-A11y commented on #550
Same here, thanks!

[2022-07-20 14:24] shawna-slh commented on #569
[EOWG minutes 15 July](https://www.w3.org/2022/07/15-eo-minutes#t01) -- notes the categorization of "integrated" and "separate" doesn't work for the technical implementation, the speakers, and flow, the process. Shawn will work on three bullets clearer....

[2022-07-20 14:49] shawna-slh commented on #569
OK, here's an updated straw proposal for the [media resource, description introduction](https://www.w3.org/WAI/media/av/description/#introduction). It's much wordier, yet hopefully clear!

Depending on the type of video and on the media player functionality, description can be:
- **integrated**
  - one video with one audio track
  - the main speaker(s) provide description included in their speakin

[2022-07-20 16:22] daniel-montalvo commented on #569
Thanks much @shawna-slh

See one comment below.

To me this is confusing. Putting this in the very first place emphasizes the audio track, instead of emphasizing that the description needs to be integrated in the script, even before recording.

If we need to say this explicitly, I would put it in the second place. Like in:

[2022-07-20 16:42] shawna-slh commented on #569
hey @daniel-montalvo I agree that the main point of integrated is that it's included by the speaker. I swapped the order for parallelism with the other bullets -- so the first sub-bullet in all say how many videos there are... I'll rethink.

Also, note that sometimes there isn't a script (e.g., presentations where speakers have an outline and slides, but not a detailed script)... but probably good

[2022-07-20 17:28] shawna-slh commented on #569
EOWG, please comment on [revised proposal for media resource, description introduction](https://deploy-preview-191--wai-media-guide.netlify.app/media/av/description/#introduction)

[2022-07-21 13:19] bakkenb commented on #569
I like these updates. All three options are more clearly stated. I also agree with the order they have been placed.

[2022-07-22 11:04] daniel-montalvo commented on #565
Hey @shawna-slh

Updated topic is at
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/multimedia/#topic-transcripts
Intro, second paragraph:

[2022-07-22 11:36] daniel-montalvo commented on #539
Hey @shawna-slh  and @hkramer

See updated topic at
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/multimedia/#topic-transcripts

Interactive transcripts are now in LOs and teaching ideas.

Creating an assessment around interactive transcripts would be out of scope for the content authors, as the functionality is provided by the media player.

[2022-07-23 11:23] daniel-montalvo commented on #569
See [Current curricula wording](https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/multimedia/#topic-description-of-visual-information)

See [22 July EO discussion](https://www.w3.org/2022/07/22-eo-minutes.html#t01)

People seemed OK with current curricula wording. Curricula and multimedia resource have different audiences, so as long as there is overall ali

[2022-07-25 12:04] daniel-montalvo opened #634 "[all] Collapse prerequisites section by default in overview pages"
@kakinney says:

[2022-07-26 13:32] shawna-slh commented on #596
How about use the [WCAG 1.3.2 terminology](https://www.w3.org/WAI/WCAG21/Understanding/meaningful-sequence.html) exactly, and also explain:

... Daniel notes headings important, too - so maybe:

_(also deleted "in use" at the end)_

[2022-07-26 13:45] daniel-montalvo commented on #575
Revisiting as per Dónal Fitzpatrick comment in [survey](https://www.w3.org/2002/09/wbs/35532/curriculaContentAuthorsMonkeReview/results#xq9).

The TF felt this was getting too much into specifics for developers and designers, so decided to remove this. For background, see
https://github.com/w3c/wai-curricula/issues/575

Would you object to this removal?

Included instead learning outcomes saying:

[2022-07-26 16:01] eoncins commented on #569
Hello @shawna-slh and @daniel-montalvo thanks a lot for the clarification.

I agree with the updated version, into the three main bullets maybe it would be worth to provide a more clear definition in the title to make them easier to understand.

- The first bullet point is "integrated" (what?) maybe "integrated audio file"
- The second bullet is "separate video" maybe "separate video file"
- The t

[2022-07-27 09:05] daniel-montalvo commented on #569
Thanks @eoncins

See
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/multimedia/#topic-description-of-visual-information

    I'd say integrated in the main video, as the description is supposed to be included in the script and verbalized by the main speaker

    I'd say "alternative video".  The description is provided in a different video, but at the sa

[2022-07-27 10:13] daniel-montalvo commented on #596
Hey @iadawn  and @shawna-slh

I changed the following:

LOs for module:

There we introduce the term "meaningful sequence" and provide one example.

---

Topic Orientation and Navigation

Intro:

Learning outcomes for topic:

We use "reading order" based on the example provided in the learning outcomes for module.

---

I think this is clearer now. Will mark it as "done" unless there is additional

[2022-07-27 14:57] daniel-montalvo commented on #545
Thanks @MicheleAWilliams-A11y
That's now addressed.

https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/clear-content/

[2022-07-29 20:38] shawna-slh commented on #581
[29 July 2022 EOWG minutes](https://www.w3.org/2022/07/29-eo-minutes#item07)

[2022-08-01 16:26] bruce-usab commented on #569
I have been following some of the conversation I think that is all fine.  One suggestion I almost made was to use <q>descriptive narration</q> instead of <q>description</q> &mdash; but then I realized the guidance includes the case where description is provided by a timed text file.  Consequently, I cannot think of any improvements, and IMHO the present categorizations are very helpful.

Thanks ag

[2022-08-01 19:11] shawna-slh commented on #569
Another pass that keeps the same approach with some wording tweaks:

[Media resource with wording in context](https://deploy-preview-194--wai-media-guide.netlify.app/media/av/description/#introduction)

...

[Content Authors Curricula wording in context](https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/multimedia/#topic-description-of-visual-information)

[2022-08-04 02:30] shawna-slh commented on #565
ok!

[2022-08-16 11:40] daniel-montalvo commented on #560
[Updated](https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/multimedia/#topic-planning-audio-and-video):

We removed the sentence "Explain that different policies and regulations apply to different regions". But the TF still felt the need to give instructors a pointer to mention policies and regulations that apply in their students region and we have kept t

[2022-08-17 10:03] daniel-montalvo opened #636 "[Content Author Module 3: Forms] [Topic Labels] References to placeholder"
From [Survey results](https://www.w3.org/2002/09/wbs/35532/curriculaContentAuthorsMonkeReview/results#xmodule3)

Andrew says:

[2022-08-17 10:16] daniel-montalvo opened #637 "[Content Author Module 3: Forms] Breaking down the responsibilities of each of the roles involved in labels, instructionss, and error messages"
From [Survey results](https://www.w3.org/2002/09/wbs/35532/curriculaContentAuthorsMonkeReview/results#xmodule3)

Andrew says:

But then we could have other teams doing things differently. I am not sure that we should get into this level of detail here.

What if we step back a bit, for example:

"Providing the label text, specifying its appearance, and implementing it, requires collaboration betwee

[2022-08-23 12:25] daniel-montalvo commented on #634
See how this looks like in
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/

[2022-08-23 12:41] daniel-montalvo commented on #556
Hey @shawna-slh

Thanks for bringing this to my attention.

It seems the only place in the learning outcomes for module where some of this is mentioned is in

<blockquote>

* explain the following best practices for accessible audio and video content:
  * use clear and easy to understand speech
  * ensure sufficient contrast ratios for video text
  * minimize background audio and overall distracti

[2022-08-23 12:45] daniel-montalvo commented on #553
Hey @eoncins

That's now in

https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/clear-content/#topic-visual-appearance

It's true it could be also in Orientation and Navigation, but I think heere it fits better.

Is this OK with you?

[2022-08-23 13:05] daniel-montalvo commented on #569
Thanks everyone for your +1 on this.

See [Updated draft](https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/multimedia/#topic-description-of-visual-information)

[2022-08-23 13:33] shawna-slh commented on #634
We could also improve the list item spacing in several places, which would help the page overall.
UPDATE: List spacing seems to be messed up in my configuration and not in another I checked. So, ignore this for now.

[2022-08-23 13:57] shawna-slh commented on #556
Sure, thanks!

[2022-08-23 13:57] #556 closed, assigned to nobody

[2022-08-23 13:59] shawna-slh commented on #569
/me will update in media resource, then close this issue.

[2022-08-24 11:42] daniel-montalvo commented on #636
In [Module 3: Forms](https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/forms#topic-labels/) Teaching ideas, first bullet -- Added bit for authors to avoid the use of placeholder text and to have labels persistently visible on the page.

[2022-08-24 11:45] daniel-montalvo commented on #637
In [Module 3: Forms](https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/forms/)

* Topic: Labels
  * Intro, second paragraph -- To avoid inaccuracies when specifying different roles responsibilities, changed to: "Authoring tools may or may not produce accessible labels. When the latter, different team members, including content authors, designers, and develo

[2022-08-24 11:45] #637 closed, assigned to nobody

[2022-08-24 11:47] #636 closed, assigned to nobody

[2022-08-24 18:37] #569 closed, assigned to shawna-slh

[2022-08-24 18:54] eoncins commented on #553
Hello @daniel-montalvo thanks for addressing the issue.

[2022-08-25 09:47] #542 closed, assigned to nobody

[2022-08-25 09:48] #545 closed, assigned to nobody

[2022-08-25 09:49] #550 closed, assigned to nobody

[2022-08-25 09:52] #554 closed, assigned to nobody

[2022-08-25 09:56] daniel-montalvo commented on #557
Done in
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/multimedia/#introduction

[2022-08-25 09:56] #557 closed, assigned to nobody

[2022-08-25 09:58] daniel-montalvo commented on #561
Done in

https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/multimedia/#topic-planning-audio-and-video

[2022-08-25 09:58] #561 closed, assigned to nobody

[2022-08-25 10:00] #562 closed, assigned to nobody

[2022-08-25 10:04] #563 closed, assigned to nobody

[2022-08-25 10:13] daniel-montalvo commented on #564
Thanks @shawna-slh

Changed to:

https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/multimedia/#topic-planning-audio-and-video

1. Find government regulations and policies that apply
2. Specify which user needs are and are not cover in these policies (which implies explaining user needs overall)

Is this clear now?

[2022-08-25 10:16] daniel-montalvo commented on #567
Hey @shawna-slh

Based on previous discussions, /me Thinks this is done.

Closing, feel free to reopen if needed.

[2022-08-25 10:16] #567 closed, assigned to nobody

[2022-08-25 10:17] #568 closed, assigned to nobody

[2022-08-25 10:17] #570 closed, assigned to nobody

[2022-08-25 10:20] #574 closed, assigned to nobody

[2022-08-25 10:21] daniel-montalvo commented on #581
Closing based on [29 July 2022 EOWG minutes](https://www.w3.org/2022/07/29-eo-minutes#item07)

[2022-08-25 10:21] #581 closed, assigned to nobody

[2022-08-25 10:22] #583 closed, assigned to nobody

[2022-08-25 10:24] #586 closed, assigned to nobody

[2022-08-25 10:25] #588 closed, assigned to nobody

[2022-08-25 10:26] #591 closed, assigned to nobody

[2022-08-25 10:28] #597 closed, assigned to nobody

[2022-08-25 10:29] daniel-montalvo commented on #610
This is done now.
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/multimedia

[2022-08-25 10:29] #610 closed, assigned to nobody

[2022-08-25 10:34] daniel-montalvo commented on #599
Done in
https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/images

[2022-08-25 10:34] #599 closed, assigned to nobody

[2022-08-25 10:34] #600 closed, assigned to nobody

[2022-08-25 10:35] #602 closed, assigned to nobody

[2022-08-25 10:58] #603 closed, assigned to nobody

[2022-08-25 10:59] #605 closed, assigned to nobody

[2022-08-25 11:00] #608 closed, assigned to nobody

[2022-08-25 11:03] #611 closed, assigned to nobody

[2022-08-25 11:04] #612 closed, assigned to nobody

[2022-08-25 11:05] #613 closed, assigned to nobody

[2022-08-25 11:12] daniel-montalvo commented on #614
These "for example" as own sentence  occurrences have now been removed throughout, and suggested edits have been applied.

https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/clear-content/

Closing.

[2022-08-25 11:12] #614 closed, assigned to nobody

[2022-08-25 11:13] #615 closed, assigned to nobody

[2022-08-25 11:14] #616 closed, assigned to nobody

[2022-08-25 11:14] #617 closed, assigned to nobody

[2022-08-25 11:18] #619 closed, assigned to nobody

[2022-08-25 11:18] #625 closed, assigned to nobody

[2022-08-25 11:19] #626 closed, assigned to nobody

[2022-08-25 11:20] #627 closed, assigned to nobody

[2022-08-25 11:21] #629 closed, assigned to nobody

[2022-08-25 11:22] #630 closed, assigned to nobody

[2022-08-25 11:22] #631 closed, assigned to nobody

[2022-08-25 11:25] daniel-montalvo commented on #633
I took another pass.

Changed to:

Closing, I think it resolves the main issue of
for example" as own sentence.

[2022-08-25 11:26] #633 closed, assigned to nobody

[2022-08-25 11:29] #624 closed, assigned to nobody

[2022-08-25 11:49] #622 closed, assigned to nobody

[2022-08-25 12:44] #618 closed, assigned to nobody

[2022-08-25 12:45] #607 closed, assigned to nobody

[2022-08-25 12:48] #539 closed, assigned to daniel-montalvo

[2022-08-25 12:51] #606 closed, assigned to nobody

[2022-08-25 12:52] #549 closed, assigned to nobody

[2022-08-25 12:55] #596 closed, assigned to nobody

[2022-08-25 12:57] #546 closed, assigned to nobody

[2022-08-25 13:47] brianelton opened #639 "Content Author - Forms - visible label wording change"
Recently updated suggestion for Topic Labels, teaching ideas, first bullet:
"Explain that several groups of users require labels that are persistently visible on the page. Content authors should avoid the use of placeholder text that disappears when the user gets to the form field or control."

Suggested update:
"Explain that several groups of users require labels that are persistently visible on

[2022-08-25 14:30] daniel-montalvo commented on #639
Thanks @brianelton

Done

https://content-author-modules--wai-curricula.netlify.app/curricula/content-author-modules/forms/#topic-labels

[2022-08-25 14:30] #639 closed, assigned to daniel-montalvo

[2022-08-26 09:35] #565 closed, assigned to daniel-montalvo

[2022-08-26 09:58] #559 closed, assigned to nobody

[2022-08-26 10:00] #558 closed, assigned to nobody

[2022-08-26 10:00] #553 closed, assigned to daniel-montalvo

[2022-08-26 12:25] #552 closed, assigned to nobody

[2022-08-26 12:27] #547 closed, assigned to nobody

[2022-08-29 05:26] daniel-montalvo commented on #516
Hello @sharronrush

Th
is part has evolved since this issue was open. I am closing this now as it is now out of date.

[2022-08-29 05:26] #516 closed, assigned to nobody

[2022-08-29 05:28] #560 closed, assigned to nobody

[2022-08-29 05:28] #564 closed, assigned to nobody

[2022-08-30 10:22] #575 closed, assigned to daniel-montalvo

[2022-09-05 07:40] #592 closed, assigned to nobody

[2022-09-05 07:40] #621 closed, assigned to nobody

[2022-09-05 07:40] #634 closed, assigned to nobody

[2022-09-19 12:03] daniel-montalvo opened #655 "pRemove[ References to ARRM wiki page"
Some of the ARRM info that we referenced in [Foundation Module 5: Getting Started with Acccessibility](https://www.w3.org/WAI/curricula/foundation-modules/getting-started-with-accessibility/) is no longer on the wikipage and the GitHub repo needs updating.

[2022-09-20 09:08] iadawn opened #656 "[Content Author Module 1: Clear Content] [ED-high] Different groups"
The rewording for the 'Titles and Link Text' introduction is:

I am not sure that the groups that require titles are the same as the groups that require good link text. There is certainly overlap but the introduction suggests a complete overlap.

Perhaps something like:

I have removed 'groups' as I am not sure of the value of that but if it is more consistent to leave this in then that is fine.

[2022-09-20 09:23] iadawn opened #657 "[Content Author Module 2: Structure] [ED-med] Unclear rewrite"
In the 'Headings' topic a learning outcome has been changed to:

I am not sure what this means. I am guessing the first part is "if you change the styling, make it accessible" and the second part might be "use heading elements". It seems a bit vague though. Particularly the latter point, if I am guessing correctly, could be much clearer.

[2022-09-20 09:33] iadawn opened #660 "[Module 2: Structure] [ED-med] Text complex and unclear"
In the 'Orientation and Navigation' topic the second paragraph in the introduction has been changed to:

These seems overly convoluted. It might be simpler to have:

[2022-09-20 09:35] iadawn commented on #660
Note a similar text structure is used in the Module 3: Forms topics for Labels, Instructions and Error messages.

[2022-09-20 09:43] iadawn opened #661 "[Content Author Module 4: Images] [ED-med] Introduction seems tautological"
The introduction to the topic 'Informative Images' is:

This seems to say 'informative images are images with information' rather than give some good examples. For example:

Or something like that

[2022-09-21 10:03] daniel-montalvo commented on #656
Thanks @iadawn
That's now done per above commit.

[2022-09-21 11:10] daniel-montalvo commented on #661
Thanks @iadawn

I changed the sentence structure so that we clearly communicate that what we are listing there are occurrences of informative images.

I changed "picture" to "photo" to help clarifying the examples.

It is difficult for me to think of a floor plan as an informative image. I would feel more comfortable not including that at this stage. Would you mind if we leave it out given that we

[2022-09-21 16:33] daniel-montalvo commented on #660
Thanks @iadawn

Changed as per above commit.

Used "to make [labels | instructions | error messages] accessible" for consistency with other places where it appears.

[2022-09-21 16:56] daniel-montalvo commented on #657
Thanks @iadawn

That's precisely what all of this is about.

But you are right that this is getting too much into detail probably.

What about

Which reinforces the idea that accessible headings are not just about visual appearance, but also about good markup

[2022-09-22 09:30] iadawn commented on #661
The changes are fine.

My concern was more it was roughly saying that examples of informative were images.

[2022-09-22 09:31] iadawn commented on #657
Happy with that suggested change.

[2022-09-22 09:41] iadawn commented on #594
Metaphors in headings are more problematic because they serve to introduce the section. But if the metaphor is not understood then the value of the heading as that introduction is significantly reduced. It's not that it only applies to headings but that, as signposts, headings have more going on than just the text.

Perhaps an option would be to change:

to something like:

[2022-09-22 10:57] daniel-montalvo commented on #594
Thanks @iadawn

I am a bit uncomfortable with "avoid metaphors". I think it can potentially lead to contradictory/wrong advice.

What if the heading needs to be a metaphor itself, for example when you need to explain its meaning in a poetry review? Then you would probably need to put that metaphor in the heading to explain it in the content, so it would not be a good advice to avoid it!

A bit of

[2022-09-22 11:03] iadawn commented on #594
I am happy with the rewrite for the purposes of publication. I feel there is something still there though. For example, could use something like:

'Refrain' is a nice word as it isn't as absolute as 'avoid' or 'don't'! :)

[2022-09-23 09:29] daniel-montalvo commented on #594
I like "liberally" because it points students to what they have to do instead of what they don't have to do.

Could be:

[2022-09-26 12:13] daniel-montalvo opened #663 "[Possible low-hanging-fruit changes]"
## Foundation Modules

- Update the "competencies" section to match the current style
- Uncapitalize learning outcomes.
- Assessment -- "Students' capacity to ..." -> "how students ..."

[2022-11-22 07:07] tilensA11Y opened #669 "Link not working"
Link [How People with Disabilities Use the Web](https://www.w3.org/people-use-web)](https://www.w3.org/People-use-web) on the page [Curricula on Web Accessibility](https://www.w3.org/WAI/curricula/) is not working, should probably point to https://www.w3.org/WAI/people-use-web/ ?